/*
Theme Name: CC DIY
Theme URI: http://chillidee.com.au
Author: Chillidee
Description: Custom built theme for the DIY Clean credit site.  Built on bootstrap with Woocommerce support
*/
/*-------------Included google fonts-
 * font-family: 'Open Sans', sans-serif;
 * font-family: 'Montserrat', sans-serif;
 */
// Force Hardware Accelaration
* {
  -webkit-transform: translate3d(0, 0, 0);
  /* more specific animation properties here */
}
#shadow_box {
    z-index: 1000000000000000000;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    top: 0;
    bottom: 0;
    right: 0;.banner-img
    left: 0;
    padding-top: 20px;
    display:none;
}
#fs_shadow_video {
 width: 80%;
 margin-left: 10%;
}
#menu-header-menu a, #menu-header-menu-1 a {
 font-family: 'Montserrat', sans-serif;
 font-size:22px;
}
#menu-header-menu a {
 text-shadow: 1px 1px 1px #222;
 }
.tablepress {
    width: 100%;
    table-layout: fixed;

}
.tablepress {
white-space: pre-line;
  word-wrap: break-word;
  }
.tablepress th.column-1 {
width: 30%!important;
}
.tablepress th.column-2 {
width: 70%!important;
}
.kit_dollar_span {
  float: right;
  margin-right: 30px;
  }
#page_header .col-xs-8, #header .col-xs-8{
 z-index: 10;
}
.woocommerce-shipping-fields h3 {
 display: none;
 }
.banner-img {
 height: auto!important;
 }
.tablepress .column-1 {
 width: 150px;
}
#tablepress-4 .column-2 {
width: 150px;
}
#tablepress-4 .column-2, #tablepress-4 .column-18, #tablepress-4 .column-26, #tablepress-4 .column-28 {
width: 150px;
}
#tablepress-4 .column-3 {
    word-break: break-all;
}
#tablepress-24 .column-2 {
    word-break: break-all;
    }
.dataTables_info {
 display: none;
 }
.grey_box {
 background-color: #E8E8E8;
 padding: 35px;
 margin: 20px 0;
 overflow: hidden;
 }
.answer .grey_box {
 background-color: #eee;
 padding: 35px;
 margin: 20px 0;
 overflow: hidden;
 }
td.column-1 {
 background-color: #E8E8E8!important;
 padding: 25px;
 }
.tablepress {
 margin-bottom: 25px;
 }
.tick {
 width: 210px;
 height: 240px;
 background: transparent url( 'images/tick.png' ) 0 0 no-repeat;
 margin: -40px auto;
 display: block;
 opacity: .4;
 }
 .container {
display: block;
//  max-width: 1100px;
  }
 a:active, a:hover {
  text-decoration: none;
  }
#logo, #logo_black {
 margin-top: 20px;
 display: block;
 }
 {
 margin-top: 10px;
 }
body {
 font-size: 18px;
 font-family: 'Open Sans', sans-serif;
 }
#banner-middle {
 z-index: 1000;
 position: relative;
 margin-top: 150px;
 //padding: 0 100px;
 }
#read_more {
 border-bottom: none;
 }
#menu-header-menu li {
 color: #fff;
 display: block;
 //float: right;
 text-align: center;
 font-family: 'Open Sans', sans-serif;
 padding-top: 28px;
 }
#menu-header-menu li a {
 color: #fff;
}
#banner-middle p {
 font-size: 22px;
 font-family: 'Open Sans', sans-serif;
 line-height: 30px;
 color: #fff;
 text-align: center;
 }
h1 {
  text-shadow: 2px 2px 2px #222;
 color: #fff;
 font-size: 3.3em;
 text-align: center;
 //text-shadow: 2px 2px #121212;
 font-family: 'Montserrat', sans-serif;
 }
h2 {
 text-align: center;
 font-size: 48px;
 font-family: 'Montserrat', sans-serif;
 }
h2.blue {
  color: #2e74a7;
  margin-bottom: 35px;
  margin-top: 100px;
}
h3 {
 font-family: 'Open Sans', sans-serif;
 color: #fff;
 color: #2e74a7;
 }
#banner-middle p {
 font-size: 18px;
 text-align: center;
 //text-shadow: 2px 2px #121212;
 font-family: 'Open Sans', sans-serif;
 width: 90%;
 margin-left: 5%;
 line-height: 1.5em;
 font-family: 'Montserrat', sans-serif;
 } 
.action-button {
 font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 text-transform: uppercase;
 background-color: #e7913d;
 padding: 14px 45px;
 border-radius: 9px;
 margin: 60px auto;
 color: #fff;
 font-size: 26px;
// text-shadow: 2px 2px #16413b;
 display: block;
    border-top: none;
    border-right: none;
    border-left: none;
   // border-bottom: 6px #227f74 solid;
   border-bottom: none;
    border-image-source: none;
    border-image-slice: none;
    border-image-width: none;
    border-image-outset: none;
    border-image-repeat: none;
    position: relative;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
    background-color: #e7913d;
    display: block;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
  /*  -webkit-box-shadow: 0px 9px 0px rgba(34,127,116,1), 0px 9px 25px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 9px 0px rgba(34,127,116,1), 0px 9px 25px rgba(0,0,0,.8);
    box-shadow: 0px 9px 0px rgba(34,127,116,1), 0px 9px 25px rgba(0,0,0,.8);*/
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  border-bottom: 4px solid #a2672e;
}992
/*
.action-button:hover {
 color: #2c59be;
 }
.action-button:active {
    margin-top: 68px;
     -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding:10px 45px;
        border-image-source: none;
    border-image-slice: none;
    border-image-width: none;
    border-image-outset: none;
    border-image-repeat: none;
 }*/
.front_page_button {
    font-size: 24px!important;
    width: 300px!important;
    padding: 16px 0!important;
    border-radius: 4px!important;
    margin: 0 auto;
    border-bottom: 2px solid #a2672e!important;
}
.grey_button {
    margin: 15px auto;
    border-bottom: 2px solid #625F5C!important;
    text-align: left;
    padding-left: 35px;
    padding-left: 35px!important;
    background: #797979 url('images/play2.png') no-repeat 245px 18px!important;
}
#button_centerer {
 width: 70%;
 margin-left: 15%;
 margin-top: 35px;
position:relative;
}
.front_page_button {
    font-size: 18px;
    padding: 12px 15px;
    border-radius: 3px;
}
#read_more {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
 margin-top: 45px;
 text-transform: none;
 padding: 14px 34px;
 margin-bottom: 20px;
 font-size: 17px;
    /* -webkit-box-shadow: 0px 6px 0px rgba(34,127,116,1), 0px 2px 4px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 6px 0px rgba(34,127,116,1), 0px 2px 4px rgba(0,0,0,.8);
    box-shadow: 0px 6px 0px rgba(34,127,116,1), 0px 2px 4px rgba(0,0,0,.8);*/
    border-bottom: 3px solid #217f73;
        background-color: #2ab4a4;
 }
 /*-------------404 Page ---------
 ------------------------------------*/
h2.entry-title {
 margin-top: 100px;
 color: #2e74a7;
 margin-bottom: 20px;
 text-align: left;
 font-size: 30px;
 }
form#searchform {
 margin-bottom: 200px;
 }
/*--------------Top Section------
----------------*/
#top_section {
  background-color: #fff;
  background-color: #2e74a7;
  color: #fff;
  z-index: 100;
  position: relative;
  padding: 50px 0;
  font-size: 26px;
  text-align: left;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  }
#top_section .content{
 width: 100%;
 margin: 0 0 45px;
 }
#main_button2 {
  margin-bottom: 20px;
 }
/*--------------------------MIddle Section---
---------------------------------------------------------------*/
.middle_content {
 font-size: 22px;
 text-align: justify;
 }
#middle {
 padding: 35px 60px 0;
 background: #0d4f5a url( 'images/wo-we-are-back.jpg' ) no-repeat center center;
 color: #fff;
 position: relative;
 z-index: 9;
 }
.middle_section_image {
 width: 80%;
 margin-left: 10%;
 }
.client_image {
 background-color: #fff;
 }
blockquote {
//text-indent: 100px;
 border-left: none;
 padding-top: 10px;
 background-color: #378dcd;
 padding: 10px 50px 30px;
 text-align: center;
 margin-bottom: 50px;
 margin-top: 50px;
 display: block;
 border-radius: 3px;
 }
blockquote:before {
 background: transparent url( 'images/blockquote.png' ) no-repeat 0 15px;
 height: 90px;
 width: 90px;
 display: block;
 font-size: 90px;
 font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
 margin-bottom: -70px;
 margin-left: -10px;
 margin-right: 10px;
 }
blockquote p:first-letter {margin-left: 30px;}
.container {
 position: relative;
 }
 blockquote p {
 -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  }
#down-triangle {
 content: '';
 position: absolute;
 display: block;
 width: 0; 
 height: 0; 
 border-left: 20px solid transparent;
 border-right: 20px solid transparent;  
 border-top: 20px solid #378dcd;
 margin-left: 14%;
 left: -40px;
 margin-top: -50px;
}
.client_image {
 width: 60%;
 height: 0;
 margin-left: 20%;
 padding-bottom: 60%;
 background-size: cover!important;
 border-radius: 50%;
 cursor: pointer;
 background-color: #fff;
 }
#who_we_are {
  position: absolute;
  margin-top: -60px;
 }
#diy_video {
 width: 100%;
 background-color: #fff;
 position:relative;
 }
.playing:after {
 display:none!important;
}
#diy_video:after {
 display:block;
 background: rgba(0,0,0,.1) url('images/play.png') no-repeat center 85%;
 content: '';
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 right: 0;
 left: 0;
 bottom: 0;
 cursor:pointer;
}
.video_header {
    color: #096394;
    padding-top: 65px;
    margin-top: 0px;
    font-size: 36px;
    z-index: 100000000000;
    position: absoltue;
    position: relative;
}
.white {
  transition: color 0.5s ease;
  color: white;
}

.client_image img {
 width: 100%;
 }
.client_image:hover {
 background-color: #378dcd!important;
 }
.client-name {
 display: block;
 width: 100%;
 float: none;
 text-align: center;
 position: relative;
 font-family: 'Open Sans', sans-serif;
 }
.package-footer #footer {
 margin-top: 60px;
 }
#footer {
 background-color: #222;
 color: #fff;
 text-align: left;
 font-size: 15px;
 }
h5 {
font-family: 'Montserrat', sans-serif;
font-size: 16px;
}
 
.orange {
 color: #e4ae54;
 }
#_packages{
 background-color: #2ca7be;
 color: #fff;
   padding: 15px 0 15px;
 position: relative;
 margin-top: 80px;
 }
 #Packages {
    margin-top: -23px;
    }
 #Packages, #who_we_are {
 padding-top: 2px;
 //margin-top: px;
 }
 .faq_header {
 font-size: 23px;
 padding-left: 40px;
 display: block;
 width: 100%;
 height: 50px;
 background: transparent url( 'images/tick2.png' ) no-repeat 0 8px;
 font-family: 'Montserrat', sans-serif;
   padding: 18px 0 90px 80px;
}
/*-------------------------Footer menu
--------------------------------------------------------------------*/
#top_footer {
   padding: 15px 0 35px;
  position: relative;
  height: auto;
  background-color: #222;
 }
#top_footer::after {
 position: relative;
 clear: both;
 display: block;
 content: '';
 float: none;
 width: 100%;
 height: 10px;
 }
.bottom_footer {
 background-color: #2d2d2d;
 padding: 15px 0;
 font-family: 'Open Sans', sans-serif;
 position: relative;
 }
.menu-footer-menu-container li {
 color: #428bca;
 float: left;
 margin-left: 30px;
 font-size: 18px;
 }
.menu-footer-menu-container li:last-child, .menu-footer-menu-container li:last-child a {
    /*color: #fff;*/
}
.menu-footer-menu-container li:last-child a {
  /*background: url( 'images/chillidee.png' ) no-repeat right -24px;*/
  padding-right: 80px;
        }
.menu-footer-menu-container li:last-child a:hover {
  /*background: url( 'images/chillidee.png' ) no-repeat right 0;*/
  /*color: #e3b06b;*/
        }
ul#menu-footer-menu {
 list-style-type: disc;
 }
/*-------------------------Please pucharse
--------------------------------------------------------------------*/
#please_purchase{
 display: none;
}
#please_purchase:before {
 content: '    You must first purchase the package in order to continue.';
 display: block;
 position: fixed;
 width: 800px;
 left: 50%;
 margin-left: -400px;
 height: 400px;
 background-color: #2ca7be;
 color: #fff;
 padding: 100px 50px;
 text-align: center;
 font-size: 33px;
 border-radius: 6px;
 z-index: 999;
 top: 50%;
 margin-top: -200px;
 }
#please_purchase:after {
 content: '';
 position: fixed;
 left: 0;
 right: 0;
 bottom: 0;
 top: 0;
 background-color: #000;
 opacity: .5;
 width: 100%;
 height: 100%;
 display: block;
 z-index: 998;
 }
/*----------------------Packages Posts
-----------------------------------------------------------------------*/
.faq_box {
line-height: 1.8em;
//padding: 0 28px;
 }
 /*----------------------------Header-----------------------------------
 ------------------------------------------------------------------------*/
#page_header, #header {
 background-color: #2e74a7;
  width: 100%;
  padding-bottom: 0;
 // border-bottom: 1px solid #ececec;
  z-index: 100001;
  position:fixed;
 }
#hamburger, #hamburger_black {
 margin-top: 10px;
 position: relative;
 z-index: 100;
 }
#menu-header-menu, #menu-header-menu-1 {
 height: 0;
 overflow: hidden;
 float: none;
 clear: both;
}
/*-----------------------------Sticky header------------------------------
-------------------------------------------------------------------------*/
#sticky-header {
 background-color: #fff;
 position: fixed;
 top: 0;
 width: 100%;
 padding-bottom: 10px;
 border-bottom: 1px solid #ececec;
 z-index: 10000;
 display: none;
 height: 0;
 }
#sticky-header #menu-header-menu-1 li {
  color: #2e74a7;
  display: inline-block;
  float: right;
  text-align: right;
  padding-left: 35px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 28px;
}
#sticky-header #menu-header-menu li a{
color: #2e74a7;
}
/*--------------------------Packages nav----------------------------------
-------------------------------------------------------------------------*/
#package_nav {
 background-color: #5f5f5f;
 width: 100%;
 padding: 20px 0 0 0;
 color: #fff;
 font-family: 'Open Sans', sans-serif;
 display: none;
 }
#line {
 width: 38%;
 margin-left: 30%;
 height: 4px;
 background-color: #fff;
 margin-top: 55px;
 }
#package_nav .active a {
 color: #ffec82;
 }
 /*---------------Centering---------
 ----------------------------------*/
#centeredmenu {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#centeredmenu ul li a {
   display:block;
   margin:0 40px 0 40px;
   padding:3px 10px;
   color:#fff;
   text-decoration:none;
   line-height:1.3em;
   height: 100px;
}
#centeredmenu ul li a:after {
   background: transparent url( 'images/sprit.png' ) no-repeat 50% 0%;
   content: '';
   height: 48px;
   width: 48px!important;
   width: 100%;
   position: absolute;
   display: block;
   margin: 5px auto;
   position: relative;
   }
#centeredmenu ul li.active a:after {
   background: transparent url( 'images/sprit.png' ) no-repeat 50% -96px;
   }
#centeredmenu ul li a:hover {
   color:#fff;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
   color:#fff;
   font-weight:bold;
}
.spacer {
 height: 20px;
 width: 100%;
 clear: both;
}
/*------------------------------Tab display-------------------------------
---------------------------------------------------------------------------*/
.tab {
 display: none;
}
.tab.active {
 display: block;
}
/*------------------------------Product display----------------------------
--------------------------------------------------------------------------*/
.expired {
 min-height: 200px;
 }
.expired_price {
  width: 100%;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  color: color: #E87336;
  color: #E87336;
  font-size: 24px;
  margin-bottom: 10px;
  height: 20p;
  display: block;
 }
.product_inner.purchased_product.expired:after {
  content: 'This product has been added to your cart'!important;
  display: block!important;
  text-align: center;
  color: #4c4c4c!important;
  position: relative!important;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 30px;
  background: none!important;
  }
.product_inner.expired:after {
  width: 76%;
  height: 94%;
  top: 10px;
  bottom: 20px;
  left: 12%;
  right: 12;
  background-color: transparent;
  border-radius: 6px;
  margin-left: 0;
  background-position: center 30px;
  position: absolute;
  background: transparent url('images/overlay.png') repeat 0 0;
  opacity: .3;
  background-size: inherit;
 }
.days_label {
 color: #2ca7be;
 font-size: 20px;
 font-family: 'Montserrat', sans-serif;
 padding: 0px 0px 10px 20px;
 }
h4.blue {
 font-size: 26px;
 color: #428bca;
 text-align: left;
 padding-left: 20px;
 }
.kit_price {
 padding-left: 20px;
 font-size: 20px;
 width: 100%;
 display: block;
 }
.onsale {
 display: none;
 }
.in_cart_kit .add-to-cart {
 display: none;
 }
.in_cart_kit .remove_item {
 padding: 10px 22px 10px;
 color: #fff;
 display: block!important;
 }
.kit .remove_item {
 display: none;
 }
 .added_product {
 background-color: #A8DADA!important;
 }
.added_product p, .purchased_product p {
 display: none;
 }
.added_product:after {
 content: 'This product has been added to your cart'!important;
 display: block!important;
 text-align: center;
 color: #4c4c4c!important;
 position: relative!important;
 font-family: 'Montserrat', sans-serif;
 font-size: 20px;
 margin-top: 30px;
 background: none!important;
 width: 100%!important;
 left: 0px!important;
 opacity: 1!important;
 }
.added_product.expired:after {
 color: #fff!important;
 }
.purchased_product h3.blue {
color: #fff;
}
.product_inner.purchased_product {
 background-color: #2ca7be;
 }
.purchased_product:after {
  top: 30px;
  content: ""!important;
  width: 76%;
  height: 94%;
  //top: 10px;
  bottom: 20px;
  left: 12%;
  right: 12;
  background-color: #474747;
  border-radius: 6px;
  margin-left: 0;
  background-position: center 30px;
  position: absolute;
  background-color: transparent;
  opacity: .5;
 }
.purchased_product .product_button {
 border-radius: 50%;
 height: 110px;
 width: 110px;
 overflow: visible;
 z-index: 99;
 margin-left: -55px;
 text-align: center;
 display: block;
 }
.purchased_product:before {
  content: "You have already purchased this package"!important;
  z-index: 100;
  position: absolute;
  width: 70%;
  left: 15%;
  top: 280px;
  font-size: 20px;
  color: #fff;
}
.fix_my, #purchase {
 text-transform: uppercase;
 padding: 14px 38px;
 border-radius: 16px;
 font-size: 16px;
 margin-top: -20px;
 margin-bottom: 50px;
 margin: -20px auto 50px auto;
 display: none;
 text-transform: uppercase;
 padding: 14px 38px;
 border-radius: 8px;
 font-size: 16px;
 background: #e7913d url('images/right.png') no-repeat 90% 18px;
 margin-top: -20px;
 margin-bottom: 50px;
 margin: -20px auto 50px auto;
 display: none;
 }
.fix_my{
 margin-top: 35px;
 }
.renew_button {
  position: absolute;
  z-index: 9;
  font-size: 20px;
  padding: 7px 20px;
  text-transform: none;
  border-radius: 6px;
  border-bottom: none;
  background-color: #E87336;
  left: 50%;
  margin-left: -70.25px!important;
  margin-top: 10px!important;
  bottom: -30px!important;
  font-family: 'Open Sans', sans-serif!important;
  font-size: 16px!important;
  padding: 10px 26px!important;
 }
.added_product .renew_button {
 background-color: #2f74a7;
 }
.added_product:before  {
 content: ''!important;
 display: block;
 background: transparent url( 'images/tick-2.png' ) no-repeat 0 0;
 border-radius: 50%!important;
 border: 2px solid #2f74a7;
 width: 136px!important;
 height: 136px!important;
 background-size: cover!important;
 margin: 0 auto -136px!important;
 z-index: 2!important;
 position: relative!important;
 margin-top: 0!important;
 top: 0!important;
 }
.added_product.expired:before {
 border: none;
 }
.product_inner.expired {
  background-color: #dfdfdf;
  color: transparent;
  border: 3px solid #E87336;
  border-radius: 4px;
 }
.expired.added_product { 
border: none;
}
.product_inner.expired:before {
  content: 'Renew now to continue using this package';
  display: block;
  color: #333;
  top: 270px;
  position: absolute;
  width: 70%;
  font-size: 20px;
}
h3.blue{
 color: #2f74a7;
 font-size: 2em;
 text-align: center;
 width: 80%;
 margin-left: 10%;
 line-height: 1.1em;
 margin-top: 6px;
 }
.product_inner {
cursor: pointer;
 width: 100%;
 margin: 30px 0 0 0;
 border-radius: 3px;
 //border: 2px solid #919191;
 padding: 15px;
 background-color: #dfdfdf;
 font-size: 14px;
 text-align: center;
 min-height: 466px;
 }
.product_inner img {
 width: 136px!important;
 //margin-left: 15%!important;
 height: auto!important;
 background-color: #dfdfdf;
 border: 3px solid #fff;
 border-radius: 50%;
 padding: 5px;
 }
.product_button  {
 background-color: #2f74a7;
 border-bottom: #21516c;
 font-size: 16px;
 text-transform: none;
 padding: 10px 26px;
 margin-bottom: 20px;
 position: absolute;
 bottom: 10px;
 left: 50%;
 margin-left: -81px;
 border-radius: 6px;
}
input.button {
 background-color: #2f74a7!important;
 border-bottom: #21516c!important;
 font-size: 16px!important;
 text-transform: none!important;
 padding: 10px 26px!important;
 border-radius: 6px;
 color: #fff!important;
 float: right;
 margin-top: 35px!important;
 }

#voucher_form input {
  border: 1px solid #2e74a7;
  border-bottom: 1px solid #2e74a7;
  border-radius: 4px;
  /* margin-left: 38px; */
  margin-top: -2px!important;
  /* margin-right: 18px!important; */
  padding: 6px 9px!important;
  font-size: 14px!important;
  display: block;
  width: 100%;
  margin: 10px 0;
}
.inline {
 margin-top: -4px!important;
 display: block!important;
 padding-top: 6px!important;
 font-size: 20px;
 font-weight: normal;

 }
#rememberme {
   vertical-align: middle;
   height: 44px!important;
 }
 /*-----------------------------Kits---------------------------------------
 ------------------------------------------------------------------------*/
.kit_header {
 margin-top: 45px;
 }
 .post-meta {
 // padding: 25px 20px 25px 20px;
  }
ul.post-meta li:last-of-type{
  display: none;
}
.post-meta-key {
 color: #2f74a7;
 width: 100%;
 display: block;
 font-size: 24px;
 margin-bottom: 10px;
}
.post-meta-key {
 color: #2ca7be;
 font-size: 20px;
 font-family: 'Montserrat', sans-serif;
 }
.no-scroll {
 overflow: hidden;
 }
#loader {
  line-height: 176px;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: fixed;
  z-index: 10000002;
  display: none;
  }
#loader img {
   width: 100px;
  height: 100px;
  }
#loading-back {
 display: none;
 width: 100%;
 height: 100%;
 position: fixed;
 background-color: #000;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 z-index: 9;
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
 }
 #loading-back-2 {
 display: none;
 width: 100%;
 height: 100%;
 position: fixed;
 background-color: #000;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 z-index: 10000001;
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
 }
 .kit {
  position: absolute;
  top: 150px;
  bottom: 0px;
  width: 100%;
  right: 0;
  left: 0;
  left: 0px;
  border-radius: 6px;
  border: 2px solid #2f74a7;
  color: #121212;
  /* left: 50%; */
  font-size: 14px;
  text-align: left;
  z-index: 100001;
  display: none;
  background-color: #fff;
}

.kit p {
 text-align: left;
 }
.orange_kit, .grey_kit {
 font-size: 16px;
 text-transform: none;
 padding: 10px 44px 10px;
 margin: 20px auto;
 border-radius: 9px;
 border-bottom: 1px solid #a2672e;
 display: block;
 }
.grey_kit {
 background-color: #a2a2a2;
 border-bottom: 3px solid #666;
 }
.kit img {
 margin: 30px auto;
 width: 80%;
 display: block;
 height: auto;
 padding: 7px;
 background-color: #2f74a7;
 border-radius: 50%;
 }
.kit_header {
 text-align: left;
 font-size: 2.6em;
 color: #2f74a7;
 margin-bottom: 20px;
 }
.price {
 font-size: 1.7em;
 font-weight: 700;
 color: #666;
 }
.close {
  background: #2f74a7 url( 'images/close.png' ) no-repeat 0 0;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1000;
  opacity: 1;
  border-radius: 3px;
}
/*-----------tabs--
------------------------*/
.kitmenu  {
 position: relative;
 height: 44px;
 margin-top: 40px;
 }
.kitmenu ul li {
 display: inline-block;
 font-size: 16px;
 padding: 8px 12px;
 font-weight: 600;
 border: 2px solid #2f74a7;
 border-radius: 6px 6px 0 0;
 margin: 0;
 position: absolute;
 width: 30%;
 height: 44px;
 text-align: center;
 }
.active_kittab {
 background-color: #2f74a7;
 border: none;
 padding: 16px 12px!important;
 height: 57px!important;
 margin-top: -14px!important;
 }
.active_kittab a {
 color: #fff;
 }
.kitmenu ul li:first-child {
 left: 0px;
 }
.kitmenu ul li:nth-child(2) {
 left: 35%;
 }
.kitmenu ul li:nth-child(3) {
 right: 0px;
 }
.kit-box {
 position: relative;
 border: 2px solid #2f74a7;
 border-radius: 0 0 6px 6px;
 width: 100%;
 padding: 20px 0;
 margin-top: -2px;
 font-size: 16px;
 margin-bottom: 35px;
 display: none;
 }
.tick-span {
 width: 46%;
 margin-left: 2%;
 display: inline-block;
 //font-family: 'Montserrat', sans-serif;
 padding: 6px 0 0 46px;
 min-height: 38px;
 background: transparent url( 'images/tick-1.png' ) no-repeat 0 0;
 margin-top: 8px;
 }
.active_tab {
 display: block!important;
 }
#checkout_backer h2 {
  color: #2e74a7;
  font-size: 30px;
}
 /*-----------------------------------Cart display---------------------------------------
 --------------------------------------------------------------------------------------------------*/
 .woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
  border-color: #2f74a7;
}
 .woocommerce-checkout #payment {
  background: #E2E2E2;
  border-radius: 5px;
}
input {
 padding-left: 10px;
 }
#place_order {
  background-color: #2f74a7;
  border-bottom: #21516c;
  font-size: 20px;
  text-transform: none;
  padding: 10px 35px;
    bottom: -20px;
  margin: 100px auto -50px;
  border-radius: 6px;
  height: 40px;
 }
.place-order {
 padding: 0 20px!important;
 margin: 0!important;
 }
.create-account p, #createaccount {
 display: none;
 }
.create-account .validate-required {
 display: block;
 }
.create-account {
  width: 46%;
  float: left;
  margin-top: -80px;
  margin-left: 44px;
}
.cart_blue {
 text-align: left;
 color: #2e74a7;
 font-size: 28px;
 width: 100%;
 margin-left: 0;
 margin-bottom: 0;
 }
.cart_span {
 font-size: 21px;
  font-size: 21px;
  float: right;
  display: block;
  margin-top: -30px;
 }
.remove_item {
 cursor:pointer;
 color: red;
 display: block;
  text-align: right;
 }
.grey_back  {
  position: relative;
  width: 84%;
  margin: 30px 0 0px 8%;
  border-radius: 6px 6px 0 6px;
  //border: 2px solid #919191;
  padding: 15px;
  background-color: #F4F4F4;
  min-height: 476px;
  font-size: 16px;
  padding-right: 35px;
  }
.blue-image img {
 display: block;
 margin-top: 35px;
 width: 96%!important;
 margin-left: 2%;
 padding: 7px;
 border-radius: 50%;
 background-color: #2e74a7;
 height: auto!important;
 }
.dark_line {
 border-bottom: 1px solid #606773;;
 height: 3px;
 width: 92%;
 margin: 10px 5%;
 }
.submit_voucher {
 display: inline-block;
 padding: 8px 32px;
 background-color: #2e74a7;
 margin: 0 0 0 18px;
 border: none;
 text-transform: none;
 font-size: 16px;
 border-radius: 4px;
 }
.voucher {
  //font-weight: 600;
  font-size: 14px;
   color: #515151;
   font-family: 'Montserrat', sans-serif;
  }
.voucher_line, .cart_container  {
 width: 95%;
 margin-left: 5%;
 display:block;
 text-align: right;
 }
input {
 //height: 32px;
 border: 1px solid #2e74a7;
 border-radius: 4px;
 margin-left: 18px;
 }
.cart_page {
 font-size: 26px;
 margin-bottom: 15px!important;
 margin-top: 40px;
 }
.cart_container {
 //width: 84%;
 //margin-left: 14%;
 }
.cart_total {
  width: 100%;
  color: #fff;
  text-align: right;
  background-color: #606773;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding-right: 10px;
 }
#savings {
  width: 100%;
 float: right;
 padding: 7px;
 text-align: center;
 color: red;
 background-color: #efefef;
 border: 2px solid #333;
 display: none;
 }
 /*-------------------------Account-----------
 ------------------------------------------------*/
.account_image {
  width: 136px!important;
  height: 136px!important;
  background-color: #dfdfdf;
  background-color: #fff;
  border: 3px solid #fff;
  border: 1px solid #9f9f9f;
  border-radius: 50%;
  padding: 5px;
  margin: 20px auto 0;
  display: block;
  cursor: pointer;
  }
.account_image_div a:hover:after {
  width: 136px!important;
  height: 136px!important;
  background-color: #2e74a7;
  border-radius: 50%;
  padding: 5px;
  margin: 20px auto 0;
  display: block;
  content: '';
  display: block;
  margin-top: -136px;
  z-index: 999;
  position: absoute;
  position: absolute;
  left: 50%;
  margin-left: -68px;
  opacity: .6;
  cursor: pointer;
  }
 
input[name="save_account_details"] {
 margin-top: 0!important;
 }
.woocommerce-message {
 text-align: right;
 color: #2e74a7;
 font-size: 18px;
 }
.lost_reset_password p:before {
  content: 'Lost Your Password';
  font-size: 22px;
  color:  #2ca7be;
  width: 100%;
  margin: 20px 0;
  display: block;
  font-family: 'Montserrat', sans-serif;
  }
.lost_reset_password p {
   margin-top: 65px;
   }
.lost_reset_password input.button {
 margin-top: -93px!important;
 }
.lost_password {
 margin-top: -20px;
 }
.account_package_header {
 text-align: center;
 margin-bottom: 0;
 }
.access, .expired_text {
  text-align: center;
  width: 100%;
 // border-bottom: 1px solid #9f9f9f;
  padding-bottom: 15px;
  font-weight: 400;
  color: #2ca7be;
  font-size: 16px;
  }
.expired_text {
 color: #666;
 }
.renew {
  background-color: #E87336;
  width: 100%;
  display: block;
  color: #fff;
  padding: 8px 0;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  margin-top: -164px;
  z-index: 1000;
  position: relative;
  }
/*-------------------------Next steps
--------------------------------------------------------------------------*/
.next-steps-button {
 margin-top: 60px;
 }
#next-steps-my-account {
 background-color: #2ca7be;
 margin-left: 0;
 position: relative;
 margin: 35px auto;
 width: 227px;
 }
#next-steps-my-account:after {
 border: 9px solid #45c9e2;
 width: 27px;
 height: 29px;
 background: #45c9e2 url( 'images/Sprites.png' ) no-repeat 0 0;
 margin-right: 0;
 display: block;
 content: '';
 float: left;
 box-sizing: content-box;
 }
#next-steps-my-account:before {
 width: 180px;
 padding: 11px 0;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 text-align: center;
 font-size: 18px;
 float: left;
 color: #fff;
 content: 'My Account';
 display: block;
 background-color: #2ca7be;
 }
 #next-steps-getting-started:after {
 border: 9px solid #68b5e5;
 width: 27px;
 height: 29px;
 background: #68b5e5 url( 'images/Sprites.png' ) no-repeat 0 -36px;
 margin-right: 0;
 display: block;
 content: '';
 float: left;
 box-sizing: content-box;
 margin-top:20px;
 }
#next-steps-getting-started:before {
 width: 180px;
 padding: 11px 0;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 text-align: center;
 font-size: 18px;
 float: left;
 color: #fff;
 content: 'Getting Started';
 display: block;
 background-color: #2e74a7;
 margin-top:20px;
 }
#next-steps-getting-started {
 background-color: #2e74a7;
 position: relative;
 margin: 0 auto;
 width: 227px;
 }
/*-------------------------My account dropdown----------------------
-------------------------------------------------------------------------*/
.login p a  {
  color: #428bca;
  float: none;
  display: inline-block;
  text-align left;
  background-color:transparent;
  padding: 0;
  border-radius: none;
  margin: 0;
}
#hover_menu li ul {
 display: none;
 visibility: hidden;
 z-index: 10002;
}
#hover_menu {
 margin: 0;
 }
#hover_menu li:hover ul  {
 display: block!important;  
 visibility: visible;
}
#hover_menu li ul li:hover {
 background-color: #355974;
 }
 #hover_menu li ul li a {
 margin: 0;
 }
#hover_menu ul {
top: 68px;
  position: absolute;
  right: 15px;
  background-color: #2e74a7;
  z-index: 10002;
  border-radius: 6px;
 }
#hover_menu ul li a {
 display: none;
 float: none;
 text-align: center;
 background-color: transparent;
 width: 176px;
 padding: 10px 0 20px;
 }
.login a, #logout a, #go a {
 color: #fff;
 float: right;
 display: block;
 text-align: right;
 background-color: #2ca7be;
 padding: 4px 24px;
 border-radius: 3px;
 margin: 35px 0 0 50px;
 }
.login a {
padding: 8px 40px;
}
#your_packages_header {
 margin-top: 40px;
 text-align: center;
 width: 100%;
 border-bottom: 1px solid #9f9f9f;
 padding-bottom: 15px;
 //font-family: 'Open Sans', sans-serif;
 font-weight: 400;
 color: #2ca7be;
 font-size: 22px;
 }
#go a {
margin-top: 70px;
max-width: 120px;
padding: 13px 24px;
 }
#go:before {
 content: '';
 display: block;
 width: 0;
 height: 0; 
 border-top: 50px solid transparent;
 border-bottom: 50px solid transparent;  
 border-left: 50px solid #2ca7be;
 float: right;
 margin: 56px 5px 0 -15px;
  }
.expired:after {
 content: '';
 display: block;
 width: 136px;
 height: 136px;
 background: transparent url( 'images/expired.png' ) no-repeat center center;
 position: absolute;
 top: 0;
 right: 0;
 left: 0;
 bottom: 0;
 opacity: .5;
 border-radius: 50%;
 left: 50%;
 margin-left: -68px;
 margin-top: 20px;
 }
#logout a {
 margin-top: 15px;
 }
h3.account {
 font-family: 'Montserrat', sans-serif;
 //text-align: center;
 font-size: 26px;
 width: 60%;
 float: left;
 }
 .account_notices {
  margin-top: 15px;
  font-size: 18px;
  float: none;
  clear: both;
}---------------------Checkout-------------
----------------------------------------------*/
ul.payment_methods {
  margin-top: 40px;
  border: none;
}
.banner-img {
 margin-top: -50px;
 }
#happy_image {
 margin-top: 50px;
 }
.shop_table {
 position: relative;
 clear: both;
 float: none;
 }
#order_review {
 float: none;
 clear: both;
 position: relative;
 }
#user_form_table td {
 height: 60px;
 font-family: 'Montserrat', sans-serif;
 }
.checkout_input {
 width: 400px;
   border: 1px solid #2e74a7;
 }
label[for=ship-to-different-address-checkbox], #ship-to-different-address-checkbox, .woocommerce-info, .rightie  {
 display: none;
 }
.create-account label.checkbox {
 display: none!important;
 }
.checkout_coupon {
 width: 100%
 float: right;
 }
input[name=apply_coupon] {
 float: right;
}
#voucher_form.checkout_coupon {
 display: block;
 float:none;
 }
#purchase {
 display: block;
 margin-top: 65px;
 background: #e7913d url('images/right.png') no-repeat 89% 18px;
}
.woocommerce-billing-fields h3, h3#order_review_heading {
 color: #2e74a7;
 }
.col-1 {
 width: 98%!important;
}
.checkout, .woocommerce-billing-fields, .col-1, .col2-set, #checkout_backer {
 clear: both;
 float: none;
 position: relative;
 }
#checkout_backer {
 margin-bottom: 75px;
   margin-top: 45px;
}
 }
#old-price {
 color: #fff;
 }
#old-price:after {
 width: 100%;
 height: 2px;
 background-color: red;
 }
.strikthrough { 
 color:red;
 text-decoration:line-through
}
.woocommerce-error, .woocommerce-message {
 color: #2e74a7;
 font-size: 18px;
 text-align: right!important;
 display: block;
 width: 100%;
 padding-right: 40px;
 }
 /*--------------------------Pages
 -----------------------------------------------------------------------*/
.single-page .col-md-8 {
 margin-bottom: 65px;
 }
.page_cont h1 {
 color: #2ca7be;
 text-shadow: none;
 font-size: 30px;
 }
.single-page {
 font-size: .9em;
 }
#back {
 background-color: #222;
 font-size: 24px;
 padding: 6px 42px;
 color: #fff;
 float: left;
 margin-right: 15px;
 display: block;
 font-family: 'Montserrat', sans-serif;
 cursor: pointer;
 margin-top: 35px;
 margin-bottom: 35px;
 }
#next {
 font-size: 24px;
 padding: 2px 40px;
 box-sizing: content-box;
 border: 4px solid #2e74a7;
 color: #fff;
 float: left;
 margin-right: 25px;
 display: block;
 font-family: 'Montserrat', sans-serif;
 background: #2e74a7 url('images/Sprites.png') no-repeat 95% -30px;
 cursor: pointer;
 margin-top: 35px;
 }
 /*---------------------------Sidebar-----------
 ------------------------------------------------------*/
 #sidebar a {
  color: #fff;
  }
 #sidebar h3 {
 color: #fff;
 text-align: center;
 font-size: 26px;
 padding-bottom: 55px;
 border-bottom: 1px solid #2990a3;
 margin-bottom: 0;
 padding-bottom: 40px;
   margin-top: 18%;
 }
.post_parent {
 margin-top: 16px;
 display: block;
 }
.category_inner {
 padding: 0 15px;
 display: none;
 margin-bottom: 16px;
 }
.post_link {
  font-size: 15px;
  padding: 7px 0 7px 35px;
  display: block;
 }
#sidebar {
font-family: 'Montserrat', sans-serif;
 width: 100%;
 background-color: #2ca7be;
 color: #fff;
 height: 100%;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 z-index: 1000;
 padding: 30px 0 100px 0;
 min-height: 700px;
 }
.col-sidebar{
 height: 100%;
 display: table;
 table-layout: fixed;
}
#pull_out {
  background: #2e74a7 url('images/Sprites.png') no-repeat 6px -36px;
  content: '';
  display: block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 14px solid #2e74a7;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: -20px;
  box-sizing: content-box;
  z-index: 100000;
  }
.row-same-height {
 overflow: hidden;
 }
.side_package_header {
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #32b8d1;
  cursor: pointer;
 }
.post_parent {
 cursor: pointer;
 }
.post_inner {
 display: none;
 }
#sidebar a.current_link {
 color: #ffe922;
 }
p {
  margin: 0 0 25px;
  -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
.page .col-md-8 {
  padding-left: 23px;
  padding-right: 5px;
  }
/*-----------------------------Post styles-------
-------------------------------------------------------*/
.page h1 {
 color: #2e74a7;
 margin-top: 100px;
 font-size: 28px;
 text-align: left;
 text-shadow: none;
 margin-bottom: 15px;
 }
.page h2 {
 color: #2ca7be;
 font-size: 22px;
 font-weight: 600;
 text-align: left;
 }
.page {
 min-height: 700px;
 }
.page .col-md-9, .page .col-md-8{
  min-height: 700px;
  }
 /*-----------New style without border----
 --------------------------------------------*/
 /*
 .kit-box {
  border: 1px solid #919191;
  padding: 20px 0; 
}
.kit {
 border: none;
 }
.active_kittab {
// background-color: #919191;
 border-radius: 2px;
 border: none;
 }
.kitmenu ul li {
 border: 1px solid #919191;
 border-bottom: none;
// width: 100%;
 text-align: left;
 padding-bottom: 0!important;
 border-radius: 2px;
 }
 ul {
  list-style-type: none;
  }
 /*----------------------Extra flat styles ----------
 ------------------------------------------------------*/
/*
.product_inner {
  border: none;
  background-color: #efefef;
  min-height: 496px;
}
.product_button {
  //background-color: #159172;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 3px;
}
h3.blue {
 color: #1e4666;
 }
.grey_back {
 border: none;
 border-radius: 2px;
 background-color: #efefef;
 }
 .dark_line {
  border-bottom: 1px solid #919191;
  height: 3px;
  width: 92%;
  margin: 20px 5%;
}
(index)me
 /*
 /*-----px;-----Defunct------
 ------------------------------*/
 /*
 #centeredmenu ul li.active a:after {
  background: transparent url('images/sprit-2.png') no-repeat 50% -64px;
}
#centeredmenu ul li a:after {
  background: transparent url('images/sprit-2.png') no-repeat 50% 0%;
  height: 32px;
}
#page_header {
background-color: #225074;
}
#package_nav {
 background-color: #fff;
 color: #1e4666;
 }
#package_nav .active a {
  color: #159172;
}
#package_nav a {
  color: #1e4666;
}
#centeredmenu ul li a {
  color: #1e4666;
  font-size: 14px;
  margin: 0 20px;
}
#line {
  background-color: #498ca5;
  margin-top: 44px;
  width: 26%;
  margin-left: 37%;
}
#centeredmenu ul li a:hover {
  color: #159172;
}
.grey_back {
  width: 84%;
  margin: 30px 0 0px 8%;
  border-radius: 2px 2px 0 2px;
  border: none;
  background-color: #efefef;
}.dark_line {
  border-bottom: 1px solid #1e4666;
  height: 3px;
  width: 92%;
  margin: 20px 5%;
}
.kit {
  border: none
}
/*------------------------------Common and standard elements---------------
-------------------------------------------------------------------------*/
ul {
 list-style-type: none;
 padding-left: 0;
}
/*------------------------------------Helper classes----------------------
-------------------------------------------------------------------------*/
.clear {
 clear: both;
 float: none;
 height: 10px;
 }
.float_left {
 float: left;
}
.float_right {
 float: right;
}
.text-left {
 text-align: left;
}
.text-right {
 text-align: right;
}
.right {
 text-align: right;
 float: right;
}
.left {
 text-align: left;
 float: left;
}
.centered {
 margin-right: auto;
 margin-left: auto;
 text-align: center;
}
.clear::after {
 clear: both;
 }
.spacer_25_before::before, .spacer_25_after::after, .spacer_50_before::before, .spacer_50_after::after, .spacer_100_before::before, .spacer_100_after::after, .spacer_200_before::before, .spacer_200_after::after {  
clear: both;
 content: '';
 display: block;
}
.spacer_25_before::before, .spacer_25_after::after {
 height: 25px;
 }
.spacer_50_before::before, .spacer_50_after::after {
 height: 50px;
}
.spacer_100_before::before, .spacer_100_after::after {
 height: 100px;
}
.spacer_200_before::before, .spacer_200_after::after {
 height: 200px;
}
.full_width_img, .full_width {
 display: block;
 width: 100%;
}
/*---------------------------------------------------Q&A Dropdown
----------------------------------------------------------------------------------*/
.question {
  background: #d6d6d6 url('images/plus-minus.png') no-repeat right -33px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  margin-right: 41px;
  width: 100%;
  padding: 5px 46px 0 20px;
  cursor: pointer;
  margin-top: 25px;
  position: relative;
}
.question:after {
  display: block;
  content: '';
  background-color: #d6d6d6;
  position: absolute;
  top: 33px;
  width: 41px;
  right: 0;
  bottom: 0;
 }
.answer {
background-color: #d6d6d6; 
padding: 5px 25px 25px 25px;
display: none;
}

/*-------------------------------------------------------------Media Queries----------------------------------------------*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#sidebar {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-color: #2ca7be;
  color: #fff;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 30px 0 100px 0;
  min-height: 700px;
  position: relative;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
  float: left;
  width: 100%;
  overflow: visible;
}
.kit .remove_item {
  left: 50%;
  margin-left: -92px;
  }
#bottom_checkout {
 display: none;
 }
.product_inner .remove_item, .product_inner .fix_my{
 display: none;
 }
 .added_product .remove_item, .added_product .fix_my{
 display: block;
 position: absolute;
 }
.added_product .remove_item {
 background-color: #2f74a7;
 border-bottom: none;
 bottom: 65px;
 left: 50%;
 margin-left: -113px;
 color: #fff;
}
.added_product .fix_my {
 border-bottom: none;
 bottom: 10px;
   margin-left: -124px;
  left: 50%;
}
.added_product .product_button {
 display: none!important;
 }
#banner-middle p {
 display: none;
 }
.login a {
 display: none;
 }
.grey_back {
  width: 100%;
  margin: 30px 0 0px 0;
  border-radius: 6px 6px 0 6px;
  padding: 15px;
  background-color: #F4F4F4;
  min-height: 476px;
  font-size: 16px;
  padding-right: 35px;
}
.kit-box {
 display: block;
 }
 #header {
   width: 100%;
   }
.tick-span {
  width: 100%;
  margin-left: 2%;
  display: block;
  padding: 6px 0 0 46px;
  min-height: 38px;
  background: transparent url('images/tick-1.png') no-repeat 0 0;
  margin-top: 8px;
  border: none;
}
.kit-box {
  position: relative;
 // border: 2px solid #2f74a7;
 // border-radius: 0 0 6px 6px;
  width: 100%;
  padding: 20px 0;
  margin-top: -2px;
  font-size: 16px;
  margin-bottom: 35px;
  border: none;
}
.kit img, .kitmenu  {
 display: none;
 }
  .kit {
  position: fixed;
  overflow: scroll;
  top: 0;
  
  }
.product_inner p {
 font-size: 1.3em;
 }
#_packages {
  margin-top: 30px;
}/*
.action-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #e7913d;
  padding: 7px 32px;
  border-radius: 9px;
  margin: 30px auto;
  color: #fff;
  font-size: 20px;
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: none;
  border-image-outset: none;
  border-image-repeat: none;
  position: relative;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
  background-color: #e7913d;
  display: block;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  border-bottom: 4px solid #a2672e;
}*/
#sticky-header {
 display: none;
 }

.banner-img {
  width: 250%;
  position: fixed;
  left: 0;
  margin-left: -75%;
  margin-top: -100px;
}

#banner {
 background-color: #0d4f5a;
 }
.banner-img {
// display: none;
 }
#banner-middle {
  z-index: 1000;
  position: relative;
  margin-top: 155px;
}
h1 {
  text-shadow: 2px 2px 2px #222;
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.login a {
 display: none;
 }
#hamburger {
 width: 90%;
 }
#hamburger_black {
 width: 75%;
   margin-top: 0px;
 }
.all_but_mob {
 display: none;
}
.login a, #logout a, #go a {
  color: #fff;
  text-align: right;
  background-color: #2ca7be;
  padding: 4px 24px;
  border-radius: 3px;
  position: absolute;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  bottom: -10px;
  text-align: center;
}
#header { 
  background-color: #2e74a7;
  z-index: 10001;
  display: block;
  position: fixed;
}
.action-button.grey_kit.back, .close {
 display: none;
 }
.tick-span {
  height: auto;
  min-height: 38px;
  }
.post-meta-key, ul.post-meta li, #cart .blue-image img, .product_content {
 display: none;
 }
#mobile_back_button {
 display: block;
   left: 50%;
  margin-left: -92px;
 }
h2.kit_header {
 text-align: center;
 margin: 20px 0 10px;
 }
.kit-box  {
 margin-bottom: 0px;
 }
 .grey_back {
 padding: 15px  0 0 0;
}
h3.cart_blue {
 display: inline-block;
 }
 .voucher {
  display: none;
  }
.voucher_line .dark_line {
 display: none;
 }
.col-sidebar {
  height: 100%;
  display: block;
  margin-left: -90%;
  width: 90%;
  position: fixed;
  z-index: 999;
  padding: 0;
  border-right: 3px solid #4C88B3;
}
#go a {
  margin-top: 70px;
  max-width: 120px;
  padding: 13px 24px;
  position: absolute;
  right: 50px;
  left: auto;
  bottom: auto;
} #go {
  margin: 0 auto;
  position: relative;
  right: 35%;
}
.back-to-packages {
 margin-top: 60px;
 color: #fff;
 font-family: 'Montserrat', sans-serif;
 }
/*-
/* Small devices (tablets, 768px and up) */
@media (min-width: 580px) {
.added_product .fix_my {
 display: none;
 }
#banner-middle p {
 display: block;
 font-size:22px;
 text-shadow: 1px 1px 1px #222;
 }
.kit-box {
 display: none;
 }
.tick-span {
  width: 46%;
  margin-left: 2%;
  display: inline-block;
  padding: 6px 0 0 46px;
  min-height: 38px;
  background: transparent url('images/tick-1.png') no-repeat 0 0;
  margin-top: 8px;
}
#logo, #logo_black {
  width: 60%;
  max-width: 260px;
}
.product_inner p {
 font-size: 1.15em;
 }
.voucher_line {
 width: 95%;
 margin-left: 5%;
 display:inline-block;
 text-align: left;
 }
 #hamburger, #hamburger_black {
  width: 60%;
  max-width: 50px;
  float: right;
  margin-top: 12%;
 }
.woocommerce {
 padding-bottom: 70px;
 }
.product_inner {
font-family: 'Montserrat', sans-serif;
cursor: pointer;
 width: 84%;
 margin: 30px 0 0 8%;
 border-radius: 3px;
 //border: 2px solid #919191;
 padding: 15px;
 background-color: #E2E2E2;
 font-size: 16px;
 text-align: center;
 min-height: 496px;
 }

.faq_clear_row {
 margin-top: 35px;
 }
.mobile_only, .voucher_line .dark_line {
  display: none;
}
.all_but_mob {
 display: block;
}
.kit {
  top: 0;
  }
#bottom_checkout {
 display: block;
}
#go a {
  margin-top: 70px;
  max-width: 120px;
  padding: 13px 24px;
  margin-left: 0;
}

}
/*  (Mobile only) */
@media (max-width: 992px) { 
#go:before {
display:none;
}
#go {
  width: 100%;
  right: auto;
  }
  #go a {
  margin-top: 70px;
  max-width: 120px;
  padding: 13px 24px;
  background-color: transparent;
  width: 100%;
  float: none;
  clear: both;
  color: #222;
  font-size: 22px;
  display:block;
  position:relative;
  margin: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
  right: auto;
  color: #174E6F;
  padding-top: 25px;
}
#hover_menu ul li a {
  display: none!important;
}
#sidebar {
overflow:scroll;
}
.middle_section_image {
  width: 100%;
  margin-left:0;
}
.banner-img {
 top: 130px;
 position:absolute;
 z-index: 0;
 display: none;
  }
#banner { 
 background: url( '/wp-content/uploads/2015/05/banner.jpg' );
 background-position: -300px 0;
 background-size: 250%;
 
}
.faq_header {
  padding-bottom: 35px;
  height: auto;
}
.login a, #logout a, #go a {
  bottom: 30px;
}
#_packages {
  margin-top: 70px;
}
.remove_item {
  text-align: left;
}
#middle {
  padding: 10px;
  }
  .menu-footer-menu-container li:last-child a {
  background: url('images/chillidee.png') no-repeat right 0;
  padding-right: 80px;
}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 #Packages {
    margin-top: 70px;
    }
.front_page_button {
    font-size: 24px!important;
    width: 300px!important;
    padding: 16px 0!important;
    border-radius: 4px!important;
    margin: 0!important;
    float: left;
    border-bottom: 2px solid #a2672e!important;
}
.grey_button {
    margin: 35px auto;
    float: right!important;
    margin: 0!important;
    border-bottom: 2px solid #625F5C!important;
    text-align: left;
    padding-left: 35px;
    padding-left: 35px!important;
    background: #797979 url('images/play2.png') no-repeat 245px 18px!important;
}
#button_centerer {
 width: 70%;
 margin-left: 15%;
 margin-top: 35px;
position:relative;
}
#header { 
background-color: transparent;
}
#go a {
  margin-top: 70px;
  max-width: 120px;
  padding: 13px 24px;
  margin-left: 0;
}
#place_order {
  bottom: 80px;
}
#package_nav {
 display: block;
 }
.cart_page {
 font-size: 40px;
 margin-top: 20px;
  margin-bottom: 15px!important;
}
.cart_span  {
 margin-top: 0;
 }
.mob_only {
 display: none;
 }
.grey_back {
  width: 100%;
  margin: 30px 0 0px 0;
  border-radius: 6px 6px 0 6px;
  padding: 15px;
  background-color: #F4F4F4;
  min-height: 476px;
  font-size: 16px;
  padding-right: 35px;
}
#cart .blue-image img, .product_content, h3.cart_blue, .price {
 display: block;
 }
.price {
 margin-bottom: 8px;
 }
.kit {
   padding-right: 30px;
   }
.kit .remove_item {
  left: 0;
  margin-left: auto;
  }
.mob_only_imp {
 display: none!important;
 }
.added_product .remove_item  {
 bottom: 13px;
 }
.kit {
 top: 0px;
 width: 960px;
 margin-left: -480px;
 background-color: #fff;
 border-radius: 6px;
 border: 2px solid #2f74a7;
 color: #121212;
 left: 50%;
 font-size: 14px;
 text-align: left;
 padding-right: 30px;
 z-index: 10001;
 display: none;
 bottom: auto;
 overflow: scroll;
 }
.kit-box {
  position: relative;
  border: 2px solid #2f74a7;
  border-radius: 0 0 6px 6px;
  width: 100%;
  padding: 20px 0;
  margin-top: -2px;
  font-size: 16px;
  margin-bottom: 35px;
  display: none;
}
.kit-box  {
 margin-bottom: 35px;
 }
.post-meta-key,  #mobile_back_button {
 display: block;
 }
 .post-meta li {
 display: none;
 }
 .post-meta li:first-child {
 display: block;
 }
#mobile_back_button {
  display: none;
  }
.tick-span {
  min-height: 38px;
  }
.action-button.grey_kit.back {
 display: block;
 }
#bottom_checkout, .close  {
 display: block;
 }
#header {
  position: relative;
}
.added_product .product_button {
 display: block;
 }
.product_inner {
font-family: 'Montserrat', sans-serif;
cursor: pointer;
 width: 84%;
 margin: 30px 0 0 8%;
 border-radius: 3px;
 //border: 2px solid #919191;
 padding: 15px;
 background-color: #E2E2E2;
 font-size: 16px;
 text-align: center;
 min-height: 496px;
 }
#page_header {
 background-color: #2e74a7;
  width: 100%;
  padding-bottom: 30px;
 // border-bottom: 1px solid #ececec;
  z-index: 10000;
  position:relative;
 }
#sticky-header {
 height: auto;
 }
#menu-header-menu li {
  color: #fff;
  display: inline-block;
  float: right;
  text-align: right;
  padding-left: 35px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 28px;
}
.mob_only {
 display: none;
 }

#menu-header-menu, #menu-header-menu-1 {
  height: auto;
  overflow: visible;
  float: right;
  clear: none;
  margin-top: 10px;
}
.product_button  {
 background-color: #2f74a7;
 border-bottom: #21516c;
 font-size: 16px;
 text-transform: none;
 padding: 10px 26px;
 margin-bottom: 20px;
 position: absolute;
 bottom: 10px;
 left: 50%;
 margin-left: -81px;
 border-radius: 6px;
}
.login a {
 display: block;
 }
#logo, #logo_black {
  width: 100%;
}
#voucher_form input {
    border: 1px solid #2e74a7;
    border-bottom: 1px solid #2e74a7;
    border-radius: 4px;
    margin-left: 38px;
      margin-top: -42px!important;
    margin-right: 18px!important;
    //background-color: #efefef!important;
    padding: 6px 9px!important;
    //color: #222!important;
    font-size: 14px!important;
    width: auto;
    display: inline-block;
}
#top_section {
  background-color: #fff;
  background-color: #2e74a7;
  color: #fff;
  z-index: 100;
  position: relative;
  padding: 50px 0;
  font-size: 46px;
  text-align: left;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  }
#top_section .content{
 width: 70%;
 margin: 0 15% 45px;
 }
.product_inner p {
 font-size: 1em;
 }
#_packages {
  margin-top: 60px;
}
.action-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #e7913d;
  padding: 14px 45px;
  border-radius: 9px;
  margin: 60px auto;
  color: #fff;
  font-size: 26px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: none;
  border-image-outset: none;
  border-image-repeat: none;
  position: relative;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
  background-color: #e7913d;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  border-bottom: 4px solid #a2672e;
}
.banner-img {
  width: 100%;
  position: absolute;
  left: 0;
  margin-left: 0;
}
#banner-middle {
  z-index: 1000;
  position: relative;
  margin-top: 106px;
}
h1 {
  text-shadow: 2px 2px 2px #222;
  color: #fff;
  font-size: 3.3em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.login a, #logout a, #go a {
  color: #fff;
  float: right;
  display: block;
  text-align: right;
  background-color: #2ca7be;
  padding: 4px 24px;
  border-radius: 3px;
  margin: 35px 0 0 50px;
  position: relative;
  width: auto;
  left: 0;
  bottom: ato;
  bottom: auto;
  text-align: center;
}
#go a {
  margin-left: 0;
}
#go {
 right: 0;
 }
.product_button  {
 background-color: #2f74a7;
 border-bottom: #21516c;
 font-size: 16px;
 text-transform: none;
 padding: 10px 26px;
 margin-bottom: 20px;
 position: absolute;
 bottom: 10px;
 left: 50%;
 margin-left: -81px;
 border-radius: 6px;
}
.orange_kit, .grey_kit {
  font-size: 16px;
  text-transform: none;
  padding: 10px 44px 10px;
  margin: 20px auto;
  border-radius: 9px;
  border-bottom: 1px solid #a2672e;
}
.grey_kit {
  background-color: #a2a2a2;
  border-bottom: 1px solid #666;
}

 .grey_back {
  position: relative;
  width: 84%;
  margin: 30px 0 0px 8%;
  border-radius: 6px 6px 0 6px;
  padding: 15px;
  background-color: #F4F4F4;
  min-height: 476px;
  font-size: 16px;
  padding-right: 35px;
}
#go a {
  margin-top: 70px;
  max-width: 120px;
  padding: 13px 24px;
}
#menu-header-menu, #menu-header-menu-1 {
 height: auto;
 overflow: visible;
 float: right;
 clear: none;
}
.remove_item {
 text-align: left;
 }
 .voucher {
  display: block;
  }
 #voucher_form.checkout_coupon {
 display: block;
 float:right;
 margin-top: -24px;
 }
 .checkout_coupon {
  width: 54%;
  float: right;
}
.cart_total {
   width: 50%;
   margin-left: 50%;
   color: #fff;
  font-size: 30px;
  text-align: right;
  padding: 10px 20px;
  background-color: #606773;
  display: block;
  font-family: 'Montserrat', sans-serif;
}
.dark_line {
  border-bottom: 1px solid #606773;
  height: 3px;
  width: 92%;
  margin: 10px 5%;
}
.voucher_line .dark_line {
 display: block;
 }
.cart_container {
  width: 84%;
  margin-left: 14%;
}#savings {
  width: 25%;
  float: right;
  padding: 7px;
  text-align: center;
  color: red;
  background-color: #efefef;
  border: 2px solid #333;
  display: none;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
  float: left;
  width: 47%;
  overflow: visible;
}

#sidebar:after {
 content: '';
 display: block;
 position: absolute;
 width: 100%;
 background-color: #2ca7be;
 padding-bottom: 20000px;
 }
#sidebar {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-color: #2ca7be;
  color: #fff;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 30px 0 100px 0;
  min-height: 900px;
  position: relative;
  border-right: none;
}
.col-sidebar {
  height: 100%;
  display: table;
  table-layout: fixed;
  width: 33.33333333333333%;
  position: relative;
  margin-left: 0;
  border-right: none;
}
#pull_out {
 display: none;
 }
.page h1 {
  margin-top: 75px;
  font-size: 36px;
}
.page .col-md-8 {
  padding-left: 15px;
  padding-right: 15px;
  }
#sidebar h3 {
 color: #fff;
 text-align: center;
 font-size: 30px;
 padding-bottom: 35px;
 border-bottom: 1px solid #2990a3;
 margin-bottom: 0;
 padding-bottom: 40px;
 margin-top: 0;
 }
.side_package_header {
  padding: 30px 0 30px 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  background-color: #32b8d1;
  border-top: 1px solid #9fccd4;
  border-bottom: 1px solid #2990a3;
  cursor: pointer;
}
.phone-defaults.side_package_header {
 background: #32b8d1 url( 'images/phone-defaults.png' ) no-repeat 25px 18px;
 }
.credit-defaults.side_package_header {
 background: #32b8d1 url( 'images/credit-card.png' ) no-repeat 25px 18px;
 }
.utility-defaults.side_package_header {
 background: #32b8d1 url( 'images/light-bulb.png' ) no-repeat 25px 18px;
 }
 .kit img, .kitmenu {
 display: block;
 }
h2.blue {
  margin-top: 15px;
}
#hover_menu ul li a {
  display: block;
}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
#banner-middle {
  z-index: 1000;
  position: relative;
  margin-top: 230px;
}
 #next-steps-my-account, #next-steps-getting-started {
  width: auto;
  margin: 35px 0 0 25px;
  } 
  #next-steps-my-account {
  margin-left: 68px;
}
#next-steps-my-account:after, #next-steps-getting-started:after {
  margin-right: 60px;
  margin-top: 0;
}
#next-steps-getting-started:before {
 margin-top: 0;
 }
 .kit {
  position: fixed;
  }
.kit {
 overflow: hidden;
 }
.kit {
 top: 100px;
 }
#bottom_checkout {
 margin-top: 75px;
 }
#menu-header-menu, #menu-header-menu-1 {
 height: auto;
 overflow: visible;
 float: right;
 clear: none;
}
#my-account {
 width: 176px;
 }
#go a {
  margin-top: 70px;
  max-width: 120px;
  padding: 13px 24px;
}
.checkout_coupon {
 width: 48%;
 }
.voucher {
  font-size: 20px;
  }
.product_inner {
  min-height: 476px;
}
.banner-img {
 width: 100%;
 position: absolute;
 top: 0px;
 left: 0;
 }
}@media
/* Large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) { 
#fs_shadow_video {
 width: 80%;
 margin-left: 10%;
}
#shadow_box {
    padding-top: 150px;
}
h3.blue{
 color: #2f74a7;
 font-size: 2em;
 text-align: center;
 width: 70%;
 margin-left: 12.5%;
 line-height: 1.1em;
 margin-top: 6px;
 }
.banner-img {
 width: 100%;
 position: absolute;
 top: -100px;
 left: 0;
 }}