.pricing_container.brown .pricing_title_block,
.pricing_container .pricing_item.brown .pricing_title_block {
    background: #9d7d60;
    background: -moz-linear-gradient(top,  #9d7d60 0%, #83693a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9d7d60), color-stop(100%,#83693a));
    background: -webkit-linear-gradient(top, #9d7d60 0%,#83693a 100%);
    background: -o-linear-gradient(top,  #9d7d60 0%,#83693a 100%);
    background: -ms-linear-gradient(top,  #9d7d60 0%,#83693a 100%);
    background: linear-gradient(to bottom,  #9d7d60 0%,#83693a 100%);
    border: 1px solid #705a31;
}

.pricing_container.brown .pricing_title_block .name,
.pricing_container .pricing_item.brown .pricing_title_block .name {
    color: #3b2c1d;
}

.pricing_container.brown .pt_description,
.pricing_container .pricing_item.brown .pt_description {
    background: #e4d1c2;
    color: #635447;
}

.pricing_container.brown .button.pricing:hover,
.pricing_container .pricing_item.brown .button.pricing:hover {
    background: #83693a;
    border: 1px solid #705a31;
}