.pricing_container.carmin .pricing_title_block,
.pricing_container .pricing_item.carmin .pricing_title_block {
    background: #f15477;
    background: -moz-linear-gradient(top,  #f15477 0%, #d72534 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f15477), color-stop(100%,#d72534));
    background: -webkit-linear-gradient(top, #f15477 0%,#d72534 100%);
    background: -o-linear-gradient(top,  #f15477 0%,#d72534 100%);
    background: -ms-linear-gradient(top,  #f15477 0%,#d72534 100%);
    background: linear-gradient(to bottom,  #f15477 0%,#d72534 100%);
    border: 1px solid #b61e2c;
}

.pricing_container.carmin .pricing_title_block .name,
.pricing_container .pricing_item.carmin .pricing_title_block .name {
    color: #570c1d;
}

.pricing_container.carmin .pt_description,
.pricing_container .pricing_item.carmin .pt_description {
    background: #f3afbc;
    color: #67303c;
}

.pricing_container.carmin .button.pricing:hover,
.pricing_container .pricing_item.carmin .button.pricing:hover {
    background: #d72534;
    border: 1px solid #b61e2c;
}