.pricing_container.emerald .pricing_title_block,
.pricing_container .pricing_item.emerald .pricing_title_block {
    background: #92d590;
    background: -moz-linear-gradient(top,  #92d590 0%, #69ba75 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92d590), color-stop(100%,#69ba75));
    background: -webkit-linear-gradient(top, #92d590 0%,#69ba75 100%);
    background: -o-linear-gradient(top,  #92d590 0%,#69ba75 100%);
    background: -ms-linear-gradient(top,  #92d590 0%,#69ba75 100%);
    background: linear-gradient(to bottom,  #92d590 0%,#69ba75 100%);
    border: 1px solid #61a86c;
}

.pricing_container.emerald .pricing_title_block .name,
.pricing_container .pricing_item.emerald .pricing_title_block .name {
    color: #4a6649;
}

.pricing_container.emerald .pt_description,
.pricing_container .pricing_item.emerald .pt_description {
    background: #d6ecd5;
    color: #4c6f5a;
}

.pricing_container.emerald .button.pricing:hover,
.pricing_container .pricing_item.emerald .button.pricing:hover {
    background: #69ba75;
    border: 1px solid #61a86c;
}