.pricing_container.red .pricing_title_block,
.pricing_container .pricing_item.red .pricing_title_block {
    background: #ef5f54;
    background: -moz-linear-gradient(top,  #ef5f54 0%, #d54b23 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef5f54), color-stop(100%,#d54b23));
    background: -webkit-linear-gradient(top, #ef5f54 0%,#d54b23 100%);
    background: -o-linear-gradient(top,  #ef5f54 0%,#d54b23 100%);
    background: -ms-linear-gradient(top,  #ef5f54 0%,#d54b23 100%);
    background: linear-gradient(to bottom,  #ef5f54 0%,#d54b23 100%);
    border: 1px solid #b43d1b;
}

.pricing_container.red .pricing_title_block .name,
.pricing_container .pricing_item.red .pricing_title_block .name {
    color: #57120c;
}

.pricing_container.red .pt_description,
.pricing_container .pricing_item.red .pt_description {
    background: #f1b3ae;
    color: #67332f;
}

.pricing_container.red .button.pricing:hover,
.pricing_container .pricing_item.red .button.pricing:hover {
    background: #d54b23;
    border: 1px solid #b43d1b;
}