/*messages*/
.error {color:#cc0000;}

.widefat_bullets {
 margin-bottom: 15px;
}
.meta_text {
 height: 80%;
 margin-top: 20px;
 border-left: 2px solid #ccc;
 margin-left: 35px;
 float: left;
 width: 600px;
 padding-left: 25px;
}
#preview_image_holder {
 position: relative;
 height: 200px;
}
img.preview_images, img.upload_image_button {
 float: left;
 margin: 20px 10px 30px 10px;
 width: 100px;
 height: auto;
 cursor: pointer;
}
.delete_image {
 background: url(images/delete.png) no-repeat;
 width: 26px;
 height: 26px;
 float: left;
 margin-left: -16px;
 cursor: pointer;
}
#modal_back {
 background-color: #000;
 position: fixed;
 top: 0;
 left: 0;
right: 0;
bottom: 0;
 width: 100%;
 height: 100%;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
z-index: 100;
}
#really_delete {
 background-color: #ededed;
 font-size: 1.2em;
 width: 400px;
 height: 100px;
 padding: 20px;
 position: fixed;
 z-index: 10000;
 top: 100px;
 left: 50%;
 margin-left: -200px;
 border-radius: 10px;
 box-shadow: 5px 5px 10px #636363;
}
#really_delet_span {
 display: block;
 width: 100%;
 margin-bottom: 20px;
}
.clear {
 clear: both;
}
.sold {
 float: left;
 font-size: 1.2em;
 color: #b72622;
 display: inline;
}
.for_sale {
 float: left;
 font-size: 1.2em;
 color: #248033;
 display: inline;
}
.mark_button {
 float: left;
 border-radius: 5px;
 margin-left: 12px;
 cursor: pointer;
}