﻿body {
  font-family: Arial, Helvetica, sans-serif;
  color:#4D4F4A;
  text-shadow:0px 1px 1px #fff;
  font-size:11px;
  background-color: #fafafa;
  margin:0;
}
h1, h2, h3,
h4, h5, h6 {
	color: #333;
	margin-bottom: 0;
	padding-bottom: 0;
}

h1 {
	font-size: 4.3em;
  color: #41b7d8;
  margin-bottom:40px;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	border-bottom: 1px solid #999;
	padding-bottom:10px;
	
}

h4 {
	font-size: 1.1em;
	border-bottom: 1px solid #999;
	padding-top:0;
	margin-top:0;
}

h5, h6 {
	font-size: 1.1em;
}

	h5 a:link, h5 a:visited, h5 a:active {
		padding: 0;
		text-decoration: none;
	}
table.main {
  border-spacing:4px;
  border-collapse:separate;
}
td.td-label {
	width: 90px;
  text-align: left;
  padding:5px;
}
td.td-break {
  font-size:11px;
  font-weight:bold;
  border-bottom: solid 1px #339900;
}
td.td-input {
  vertical-align:top;
  padding: 7px 2px 2px 2px;
}
input[type="submit"],
input[type="button"],
button {
	-moz-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
	box-shadow: inset 0px 1px 0px 0px #c1ed9c;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #698820) );
	background: -moz-linear-gradient( center top, #9dce2c 5%, #698820 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#698820');
	background-color: #9dce2c;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #83c41a;
	display: inline-block;
	color: #ffffff;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #689324;
  
}

	input[type="submit"]:hover,
	input[type="button"]:hover,
	button:hover {
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #698820), color-stop(1, #9dce2c) );
		background: -moz-linear-gradient( center top, #698820 5%, #9dce2c 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#698820', endColorstr='#9dce2c');
		background-color: #698820;
		cursor:pointer;
	}

	input[type="submit"]:active,
	input[type="button"]:active,
	button:active {
		position: relative;
		top: 1px;
	}

	input[type="submit"]:disabled,
	input[type="button"]:disabled,
	button:disabled {
	-moz-box-shadow: inset 0px 1px 0px 0px #e9e9e9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #e9e9e9;
	box-shadow: inset 0px 1px 0px 0px #e9e9e9;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #B9B5B9) );
	background: -moz-linear-gradient( center top, #e9e9e9 5%, #B9B5B9 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#B9B5B9');
	background-color: #e9e9e9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #e9e9e9;
	display: inline-block;
	color: #999;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #B9B5B9;
		
	}
/*Styles related with example*/

html body form .RadInput .awesome-text-box, html body .riSingle .riTextBox[type="text"], .awesome-text-box{
    padding: 3px;    
    margin: -4px 0 0 2px;
    border: 1px solid #ccc;
       
    /*Applying CSS 3radius*/    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;    
}
html body form .RadInput .awesome-text-box:hover, .awesome-text-box:hover
{
    border:1px solid #339900;
}

html body form .RadInput .hovered-text-box
{
    border:1px solid #339900;
}
html body form .RadInput .awesome-text-box:focus
{
    box-shadow:0 0 5px #339900;
}
html body form a {
	color: #339900;
}
.awesome-select, .awesome-select:hover, awesome-select:focus {
  padding: 0 3px 0 0;
  border: none;
  margin:0 0 0 0;

}
.redNose {
	display: none;
}


html body form span {
  padding:2px;
}

#RadAjaxPanel1 {
	width: 260px;
	margin: 0 auto;
	padding: 0 1px;
}
#RadAjaxPanel1Header {
	background: url(../../images/style0/panel-top.gif) no-repeat left top;
	height: 75px;
}
#RadAjaxPanel1Panel {
	background: url(../../images/style0/panel-bg.png) repeat-y left top;
}
#RadAjaxPanel1Footer{
	background: url(../../images/style0/panel-bottom.png) no-repeat left bottom;
	height: 4px;
}