/* ----------------------------------------------------
  
	File Name: style_cf.css
	RT-THEME 14 - colors and backgrounds
	Created By: Tolga Can
	http://themeforest.net/user/stmcan

------------------------------------------------------- 

	GLOBAL STRUCTURE 
	HEADER 
	PAGE ELEMENTS 
	NAVIGATIONS 
	CONTENT 
	SIDEBAR 
	SIDEBAR MENU 
	HOME PAGE SLIDER 
	TWITTER 
	BUTTONS 
	BANNER 
	HOME PAGE FEATURED BOXES 
	RT-THEMES CSS FRAMEWORK 
	PORTFOLIO 
	CATEGORY LIST DROP-DOWN MENU 
	PRODUCTS 
	PHOTO GALLERY 
	BLOG 
	PAGING 
	LINKS 
	HEADINGS 
	TABLES 
	TEXT ELEMENTS 
	IMAGES 
	FRAMES, BORDERS, CAPTIONS 
	FORMS 
	FOOTER 
	LISTS 
	PRODUCTS DETAIL TABS 
	COMMENTS
	
------------------------------------------------------- */


/* ----------------------------------------------------
	GLOBAL STRUCTURE
------------------------------------------------------- */

	/* body */
	body {
		background:#F8F8F8 url(../../images/style0/body-bg.jpg) repeat-x scroll 0 0 ;
		color:#353535;
	}

	.border {
		width: 970px;
		padding: 0;
		background: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		margin: 0;
		background: url(../../images/style0/content-glow-bg.png) repeat-y scroll 0 0 #FBFBFB;
	}
	
	#container {
		width: 970px;
		padding-top: 15px;
	}
	
	span.redtext {
		color: red;
	}
	
/* ----------------------------------------------------
	HEADER
------------------------------------------------------- */

	#header {
		background: url(../../images/style0/top-bg.png) repeat-x scroll center top transparent;
		width: 970px;
		padding: 0;
		height: 69px;
	}
	
	#logo {
		margin: 10px 0 0 20px;
	}
	
	#top_bar {
		display: none;
	}
	
	/* header links & slogan */
	.top_links a{ 
		color:#9AA9B5;
	}

	.top_links li{
		border-left:1px solid #9AA9B5;
	}

	/* slogan*/
	.top_slogan, .top_slogan h4, .top_slogan h4 a, .top_slogan h4 a:hover{
		color:#9FA3A6;
		right: 30px;
		top: 30px;
		font-weight: bold;
	}
	
	/* search bar */
	.search_bar{
		background:url(../../images/search_background.png) left top no-repeat;
	}
	
	.search_bar form input{
		color:#9AA9B5;
	}
	
	/* Sub Page Title */
	.head_text{
		color:#348EA7;
	}    
	
	.head_text h2{
		color:#348EA7; 
		padding: 10px 0 0;
	}
	
	/* Breadcrumb Menu */
	.breadcrumb{
		color:#339900;
		display:block;
		margin: 0 0 0 25px;
		line-height: 0;
	}
	
	body.single .breadcrumb {
		display:block;
		margin: 0px 0 0 25px;
		padding-top: 20px;
	}
	
	.breadcrumb a{
		color:#339900;
	}
	
	.breadcrumb a:hover{
		color:#33cc00;
	}
	
/* ----------------------------------------------------
	PAGE ELEMENTS
------------------------------------------------------- */

	/* line */
	.line{
		border-bottom:1px solid #F3F3F3;
	}
	
	/*top link*/
	span.top{
		background:#fff;
		color:#B0B0B0;
	}
	
	span.top:hover{ 
		color:#000;
	}


/* ----------------------------------------------------
	NAVIGATIONS
------------------------------------------------------- */
	
	/* main navigation bar */
	#navigation_bar{
		background:#fff url(../../images/style0/topmenu-diognal-pattern.png) repeat-x scroll center bottom;
		width: 970px;
		height: 42px;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		border-bottom: 2px solid #FBFBFB;
	}
	
	#navigation {
		height: 38px;
		padding: 1px 0 0;
		width: 740px;
	}
	
	#navigation li{
		font-size: 13px;
	}
	
	/* top-level links */
	#navigation li a{
		color:white;
		text-shadow: 1px 1px 0px  #fff;
		background:url(../../images/style0/menu-bg.png) no-repeat;
		text-align: center;
		padding: 0 1px;
		width: 121px;
		line-height: 32px;
		text-shadow: none;
		font-weight: bold;
	}
	
	/*
	#navigation li.short a{
		background:url(../../images/style0/menu-bg-short.png) no-repeat;
		width: 115px;
	}*/
	
	/* top-level links hover */ 
	#navigation li a:hover, #navigation li.current_page_item li a:hover, #navigation li.current-page-ancestor li a:hover {
		background:url(../../images/style0/menu-hover-bg.png) no-repeat;
	}
	#navigation li.current_page_item a, #navigation li.current-page-ancestor a {
		background:url(../../images/style0/menu-selected-bg.png) no-repeat;
	}
	
	/*
	#navigation li.short a:hover, #navigation li.short.current_page_item a, #navigation li.short.current_page_item li a:hover,#navigation li.short.current-page-ancestor a, #navigation li.short.current-page-ancestor li a:hover{
		background:url(../../images/style0/menu-selected-bg-short.png) no-repeat;
	}*/
	
	#navigation li.current_page_item li a, #navigation li.current-page-ancestor li a{
		color:#626262;
	}
	
	/* sub level links */
	#navigation li li a{ 
		color:#7B7B7B;
	}
	
	/* sub level links hover */    
	#navigation li li a:hover{} 
	
	/* drop down style */
	#navigation ul{
		background:transparent url(../../images/transparent.png);		
	}
	
	#navigation ul li{
		background:#fff url(../../images/menu.png) repeat-x;
		border-left:1px solid #E0E0E0;
		border-right:1px solid #E0E0E0;
	}

/* ----------------------------------------------------
	CONTENT
------------------------------------------------------- */

	.page_banner {
		display: block;
		height: 150px;
		width: 970px;
		overflow: hidden;
	}
	
	.page_banner_long {
		display: block;
		height: 300px;
		width: 970px;
		overflow: hidden;
	}
	
	.page_banner li { display: none }
	.page_banner li.first { display: block }

	/* content background for sub pages */
	.content.sub{
	}

	/* content backgrounds */
	.content_background.sub{
	}
	
	.content_background.banner{
		background:transparent url(../../images/transparent.png) bottom ;
	}	
	
	.content_background{
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		width: 950px;
	}    
	
	.content .left {
		border-top: 1px solid #ff6600;
	}
	
	
/* ----------------------------------------------------
	SIDEBAR
------------------------------------------------------- */
	
	.sidebar{
		background:url(../../images/style0/sidebar_middle.png) repeat-y;
		text-shadow:1px 1px 0px #fff;
		color:#A3A3A3;
		bottom: 30px;
	}
	
	body.single .sidebar {
		bottom: 20px;
	}
	
	.sidebar_back{
		background:url(../../images/style0/sidebar_top.png) left top no-repeat;
	}
	
	.sidebar_back2{
		background:url(../../images/style0/sidebar_bottom.png) left bottom no-repeat;
		padding: 0 0 30px 5px;
	}        
	
	.sidebar h5,.sidebar h5 a{
		color:#878787;
	}


/* ----------------------------------------------------
	SIDEBAR MENU
------------------------------------------------------- */

	.sidebar .sub_navigation ul.sub_navigation li {
		color:#848484;
	}
	
	/* first level links */
	.sidebar .sub_navigation ul.sub_navigation li a{
		color:#848484;
		background:url(../../images/sub_menu_line.png) -8px bottom no-repeat;
	}
	
	/* Second level menu */
	.sidebar .sub_navigation ul.sub_navigation ul {
		background:url(../../images/sub_menu_line.png) left bottom no-repeat;
	}
	
	.sidebar .sub_navigation ul.sub_navigation li ul li {
		background:url(../../images/arrow.gif) 26px 9px no-repeat;
	}
	
	/* second level links */
	.sidebar .sub_navigation ul.sub_navigation li ul li a{
		color:#A6A6A6;
	}    
	
	/* third level links */
	.sidebar .sub_navigation ul.sub_navigation li ul li li a{
		color:#ABABAB;
	}
	
	/* fourth level links */
	.sidebar .sub_navigation ul.sub_navigation li ul li li li a{
		color:#BBBBBB;
	}       
	
	/* hover states */
	.sidebar .sub_navigation ul.sub_navigation li.current_page_item, .sidebar .sub_navigation ul.sub_navigation li:hover{ 
		background:url(../../images/sub_menu_arrow.png) left 3px no-repeat;
	}
	
	.sidebar .sub_navigation ul.sub_navigation li a:hover{
		color:#626262;
	}
	
	.sidebar .sub_navigation ul.sub_navigation li li a:hover{
		color:#3EAECE;
	}    

/* ----------------------------------------------------
	HOME PAGE SLIDER
------------------------------------------------------- */
	#slider {
		width: 970px;
		height: 300px;
		padding: 0;
	}
	
	div.diognal-pattern-dummy {
		background: #FBFBFB url(../../images/style0/diognal-pattern.gif) center top repeat-x;
		height: 9px;
	}
	
	#slider_area{
		width: 970px;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		height: 300px;
	}
	
	/* Slider Background */
	.background_image{
		background:#fff;
		width: 970px;
		border-radius: 0;
	}
	
	/* Slides */
	.slide{
		background:#fff;
		margin: 0;
		width: 970px;
		height: 300px;
	}
	
	/* slider title */
	.slide .desc b.title{	  
		color:#348ea7;
	}
	
	/* slider text */
	#slider_area .desc{
		color:#555555;
		background:transparent url(../../images/slider_desc_background.png);
		left: 658px
	}
	
	#slider_area .desc a{
		color:#348ea7;
	}

	/* active number style*/
	#numbers    a{ 
		background:url(../../images/style3/slider_points.png) right top no-repeat;
	}
	
	#numbers   a:hover{ 
		background:transparent url(../../images/style3/slider_points.png) left top no-repeat;
	}
	
	#numbers   a.activeSlide{ 
		background:transparent url(../../images/style3/slider_points.png) left top no-repeat;
	}

/* ----------------------------------------------------
	TWITTER
------------------------------------------------------- */
	
	/* Twitter feeds*/

	.tweet_list li { 
		border-bottom: 1px solid #EEEEEE;
	}
	
	
	/* Tweetbar */
	.tweetbar{ 
		background:url(../../images/twitter.png) left 2px no-repeat;
	}
	
	.tweetbar li{
		color:#EEEEEE;
	}
	
	.tweetbar a{
		color:#fff;
	}        

/* ----------------------------------------------------
	BUTTONS
------------------------------------------------------- */

	/* small button */
	a.small_button{
		background: url(../../images/style3/button_background.png);
		color:#fff !important;
		text-shadow:0 1px #4C4C4C !important;
	}
	
	
	/* big button */
	a.big_button{
		background: url(../../images/style3/big_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
		border:1px solid #7A7A7A;
	}  
	
	/* medium button */
	a.medium_button{
		background: url(../../images/style3/medium_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}     
	
	/* link button */    
	a.link_button{
		color:#339900 !important;
	}
	a.link_button:hover {
		color:#33cc00 !important;
	}
	
	/* order button */
	a.order_button{
		background: url(../../images/style3/order-button.png) center -2px no-repeat;
		color:#fff;
		text-shadow:0 1px 1px #424242;
	}
	
	a.order_button:hover{
		background: url(../../images/style3/order-button.png) center -54px no-repeat;
		text-shadow:0 1px 1px #303030;
	}    

/* ----------------------------------------------------
	BANNER
------------------------------------------------------- */
	.banner{
		color:#fff;
	}    
	
	.banner h2{
		color:#999; 
	}   
	
	.banner .text{
		color:#fff; 
	}  	    


/* ----------------------------------------------------
	HOME PAGE FEATURED BOXES - Customized
------------------------------------------------------- */
	
	/* sub title */
	.title span.sub_title{
		color:#AEAEAE;
	}
	
	.panel_home {
	    background: url("../../images/style0/panel-box-bg.png") repeat-y scroll center center transparent;
	    width: 235px;
	}
	.panel_home .mid {
	    background: url("../../images/style0/panel-box-top.png") no-repeat scroll center top transparent;
	}
	.panel_home .bottom {
	    background: url("../../images/style0/panel-box-bottom.png") no-repeat scroll center bottom transparent;
	}
	.panel_home h4 {
	    color: #024A76;
	    font-weight: bold;
	    font-size: 16px;
	}
	.panel_home .panel_content {
		padding: 13px;
	}
	.panel_home div.featured_image {
		text-align: center;
	}
	
	/* for office pilot form box on home page */
	.content.home_page .box div.moonray_forms fieldset label {
		width: 90px;
		margin-bottom: 4px;
		font-size: 12px;
	}
	.content.home_page .box div.moonray_forms input[type="text"] {
		width: 100px;
		margin-bottom: 4px;
	}
	
	.content.home_page .box div.moonray_forms input[type="submit"] {
		background: grey url(../../images/style3/medium_button_background.png) !important;
		text-shadow:0 1px #424242 !important; 
		filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
		color:#fff;
		border: none;
	}
	
/* ----------------------------------------------------
	RT-THEMES CSS FRAMEWORK
------------------------------------------------------- */

	/* home page column borders */
	.content.home_page .box{
		background: none;
		margin: 0 0 0 6px;
		padding: 0 10px 10px 0;
	}
	.content.home_page .box h2 {
		font-size: 16px;
		line-height: 24px;
	}
	.content.home_page .box p {
		height: 80px;
	}
	.content.home_page .box .moonraybox p {
		height: 75px;
	}


/* ----------------------------------------------------
	CATEGORY LIST DROP-DOWN MENU
------------------------------------------------------- */

	/* categories */
	.portfolio_categories{
		background:url(../../images/categories.png) no-repeat;
	}
	
	/* link close */
	.m_title{
		color:#ECECEC;
		background:url(../../images/down.png) 200px 16px no-repeat; 
	}
	
	/* link open */
	.portfolio_categories_open .m_title{
		color:#949494;
		background:url(../../images/up.png) 190px 12px no-repeat;
	}	
	
	.portfolio_categories_open .back{
		background:url(../../images/categories_middle.png);
	}
	
	.portfolio_categories_open li{  
		border-top:1px solid  #eee;
	}    
	
	.portfolio_categories_open li a{
		color:#b3b3b3;
	}
	
	.portfolio_categories_open li li a{
		color:#b3b3b3;
		background:url(../../images/arrow.gif) 4px 13px no-repeat;
	}
	
	.portfolio_categories_open li a:hover{
		color:#888;
	}	
	  

/* ----------------------------------------------------
	PRODUCTS
------------------------------------------------------- */
	
	/* Related Products Title*/
	.related_products{
		color:#A6A6A6;
		background:url(../../images/arrow-button.png) no-repeat;
	}
	
	/* active number style*/
	.slider_buttons a{
		background: transparent url(../../images/slider_buttons.png) right top no-repeat;
	}
	
	.slider_buttons a:hover{ 
		background: transparent url(../../images/slider_buttons.png) left top no-repeat;
	}
	
	.slider_buttons  a.activeSlide{ 
		background: transparent url(../../images/slider_buttons.png) left top no-repeat;
	}
	
	p.product{
		color:#A6A6A6;
	} 

	/* column for product */
	.box.product{
		background:url(../../images/box_border.png) right repeat-y !important;
	}
	
	.box .product_info .box_title_desc {
		height: 154px;
	}
	
	.box .product_info .box_title_desc h2 {
		font-size: 16px;
		line-height: 22px;
	}


/* ----------------------------------------------------
	BLOG
------------------------------------------------------- */

	
	/* links for the blog info blocks - categories, comments etc. */
	.box .dateandcategories{
		color:#999;
	}
	
	.box .dateandcategories a{
		color:#7A7A7A;
	}


/* ----------------------------------------------------
	PAGING
------------------------------------------------------- */
	
	.paging li{
		text-shadow: 1px 1px 0px #fff;
	}
	
	/* paging links */
	.paging li a{
		background:url(../../images/pagination.png) -27px -60px no-repeat;
		color:#929292;
	}
	
	/* paging arrows */
	.paging .arrowleft a:hover{
		background:url(../../images/pagination.png) left top no-repeat;
	}
	
	.paging .arrowright a:hover{
		background:url(../../images/pagination.png) left -30px no-repeat;
	}
	
	.paging .arrowleft a{
		background:url(../../images/pagination.png) -27px top no-repeat;
	}
	
	.paging .arrowright a{
		background:url(../../images/pagination.png) -27px -30px no-repeat;
	}     
	
	/* active and hover state */
	.paging li a:hover, .paging li.active a{
		background:url(../../images/pagination.png) left -60px no-repeat;
	}

/* ----------------------------------------------------
	LINKS
------------------------------------------------------- */
	
	a{
	color:#339900;
	}
	a:hover{
	color:#33cc00;
	}

/* ----------------------------------------------------
	HEADINGS
------------------------------------------------------- */

	h1,h2,h3,h4,h5,h6{ 
		color:#348ea7;
	}
	
	/*	heading colors and links  */
	h1 a, h2 a{ 
		color:#348ea7;
	}
	
	h3, h4,h5,h6, h3 a, h4 a, h5 a, h6 a{ 
		color:#348ea7;
	}
	
	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{
		color:#3EAECE;
	}

/* ----------------------------------------------------
	TABLES
------------------------------------------------------- */

	table{
		border-right:1px solid #ff6600;
		border-top:1px solid #ff6600;        
	}
	
	table th {
		background:#e1e5e9; 
		border-bottom:1px solid #ff6600;
		border-left:1px solid #ff6600;
		background:#fff;   
		text-align: left;     
	}
	
	table td {
		border-bottom:1px solid #ff6600;
		border-left:1px solid #ff6600;	        
	}
	
	table tr.dark {
		background:#F5F5F5;
	}    

/* ----------------------------------------------------
	TEXT ELEMENTS
------------------------------------------------------- */
	
	/* text selection */
	::selection {
		background: #B3D5E6; /* Safari */
	}
	
	::-moz-selection {
		background: #98B5C3; /* Firefox */
		color:#fff;
	}
	
	/* Standart blockquote */
	blockquote {
		color:#909090;
		text-shadow: 1px 1px 0px  #fff;
		background:url(../../images/blockquote.png) left 0 no-repeat;
	}
	
	/* Sidebar blockquote */
	.sidebar blockquote, .content_footer blockquote {
		background:url(../../images/blockquote-small.png) left 0 no-repeat;
	}
	
	code {
		background:#EDEDED url(../../images/code.gif);
		border:1px solid #EDEDED;
	}
	
	/* dropcaps */    
	span.dropcap{
		background:url(../../images/dropcap.png) left top no-repeat;
		color:#fff; 
	}
	
	span.dropcap.style2{
		color:#585858 !important;
	}    
	
	/*
	Highlighted Texts
	*/
	
	/*blue*/
	span.htext{ 
		color:#fff;
		background:#269bc6; 	        
	}
	
	/*yellow*/
	span.yellow{ 
		color:#000;
		background:#ffbf00;        
	}
	
	/*black*/
	span.black{ 
		color:#fff;
		background:#000;         
	}
	
	/*red*/
	span.red{ 
		color:#fff;
		background:#C10101; 	        
	}

/* ----------------------------------------------------
	IMAGES
------------------------------------------------------- */

	/*
	Images with mouseover effect
	*/
	
	/* plus icon */
	.imagemask.plus{
		background:url(../../images/curv-mag.png) right bottom no-repeat;
	}
	
	/* play icon */
	.imagemask.play{
		background:url(../../images/curv-play.png) right bottom no-repeat;
	}

	/* link icon */
	.imagemask.link{
		background:url(../../images/curv-link.png) right bottom no-repeat;
	}	


/* ----------------------------------------------------
	FRAMES, BORDERS, CAPTIONS
------------------------------------------------------- */


	/* frame and captions common */
	.frame, .wp-caption{
		-moz-box-shadow: 0 0 2px #E6E6E6;
		-webkit-box-shadow: 0 0 2px #E6E6E6;
		box-shadow: 0 0 2px #E6E6E6;
		border:1px solid #F0F0F0; 
		text-shadow: 1px 1px 0px #fff;
		color:#999;
	} 
	
	.page_banner .frame, .page_banner .wp-caption{
		border:none;
		padding: 0;
		border-radius: 0;
		margin-left: 0;
	} 
	
	.page_banner .slider_buttons {
		display:none;
	}
	.page_banner .frame img, .page_banner .wp-caption img{
		border:none;
	}
	
	
	.frame img, .wp-caption img{
		border:1px solid #fff; 
	}


	/* frame and captions common */
	.content_footer .frame{
		-moz-box-shadow: 0 0 1px #DFDFDF;
		-webkit-box-shadow: 0 0 1px #DFDFDF;
		box-shadow: 0 0 1px #DFDFDF;
		border:1px solid #DFDFDF; 
		text-shadow: 1px 1px 0px #fff;
		color:#999;
	} 	
	
/* ----------------------------------------------------
	FORMS
------------------------------------------------------- */


	/* all form elements common */
	.content input, .content select, .content textarea{
		color:#636363;
		border:1px solid #EEEEEE; 
		padding: 5px;
		border-radius: 6px;
	}
	.content textarea{
		background: none;
	}

	.content input:focus, .content select:focus, .content textarea:focus{
		border:1px solid #EEEEEE;		
	}	
	
	/* buttons */
	.content form input[type="button"], .content form input[type="submit"]{
		background:url(../../images/style3/medium_button_background.png) !important;
		text-shadow:0 1px #424242 !important; 
		color:#fff;
	}

	/* labels */
	.content form label{
		margin: 0;
		font-style: normal;
	}
	
	#validate_form .error{
		color: red;
		border: 1px solid #FAA890;
	} 
	
	/* Form Messages*/
	.ok_box{
		-moz-box-shadow: 0 4px 4px #CBCBCB;
		-webkit-box-shadow: 0 4px 4px #CBCBCB;
		box-shadow: 0 4px 4px #CBCBCB;
		text-shadow: 1px 1px 0px #FBFFF8;
		background:#E5FFC6;
		border:1px solid #B8CD9F;
		color:#90A17D;
		margin: 5px 0 0 0;
	}    
	.ok_box p {
		padding: 0;
	}
	.textwidget .ok_box {
		width: 190px;
	}
	
	.ok_box h3{
		color:green;
	}
	
	.error_box, #loader{
		-moz-box-shadow: 0 4px 4px #CBCBCB;
		-webkit-box-shadow: 0 4px 4px #CBCBCB;
		box-shadow: 0 4px 4px #CBCBCB;
		text-shadow: 1px 1px 0px #FFEBE5;
		background:#ffcccc;
		border:1px solid #ff9999;
		color:#c31b00;
	} 

	#contact_form table {
		border: none;
	}
	#contact_form table td {
		border: none;
		width: 95px;
		vertical-align: top;
		padding: 3px 2px 3px 6px;
	}
	#contact_form table td.arow {
		width: 100%;
	}
	#contact_form table td.col2 {
		width: 130px;
	}
	#contact_form .instruction {
	}
	
	#contact_form {
		color: #636363;
		font-size: 11px;
		/*padding: 10px 5px 5px;*/
	}
	#contact_form label {
		font-family: Arial,Helvetica,sans-serif;
	}
	#contact_form label.inline {
		display: inline;
	}
	#contact_form tr.propertyvalue, #contact_form tr.balanceowing {
		display: none;
	}
	#contact_form #validate_form {
		margin-top: 8px;
	}
	#contact_form ul {
		padding: 13px;
	}
	#contact_form .headtop {
		text-align:center;
	}
	#contact_form input[type="text"] {
		height: 11px;
		border-radius: 0;
		width: 106px !important;
		border: none;
		background: url("../../images/style0/inputbg.gif") no-repeat scroll right top #FBFBFB;
	}
	#validate_form input[type="text"].error{
		background: url("../../images/style0/inputbg-error.gif") no-repeat scroll right top #FBFBFB;
	}
	
	#contact_form select {
		width: 42px !important;
	    background-color: #F5F5F5;
    	border: 1px solid #CCCCCC;
   		color: #000000;
    	font-size: 10px;
    	margin: 0;
    	border-radius: 0;
    	padding: 1px;
	}
	#contact_form select#state {
		width: 52px !important;
	}
	
	#contact_form textarea {
		width: 105px !important;
		border: 1px solid #CCCCCC;
	}
	
	#contact_form #homenumber, #contact_form #worknumber {
		background: url("../../images/style0/inputbg-70.png") no-repeat scroll right top #FBFBFB;
	}
	#contact_form #validate_form #homenumber.error, #contact_form #validate_form #worknumber.error {
		background: url("../../images/style0/inputbg-70-error.png") no-repeat scroll right top #FBFBFB;
	}
	#contact_form #state_label, #contact_form #postcode_label {
		display: inline;
	} 
	#contact_form #postcode {
		background: url("../../images/style0/inputbg-60.png") no-repeat scroll right top #FBFBFB;
	}
	#contact_form #postcode.error {
		background: url("../../images/style0/inputbg-60-error.png") no-repeat scroll right top #FBFBFB;
	}
	
	#iframe_enquiry_form {
		width: 265px;
		height: 880px;
	}
	
	#free_report_form table {
		border: none;
		margin: 0;
	}
	#free_report_form table td {
		border: none;
		width: 85px;
		vertical-align: top;
		padding: 3px 6px;
	}
	#free_report_form {
		color: #024A76;
		font-size: 11px;
		padding: 0px 5px 0;
	}
	#free_report_form label {
		font-family: Arial,Helvetica,sans-serif;
	}
	#free_report_form #validate_form {
		margin-top: 0px;
	}
	#free_report_form input[type="text"] {
		height: 11px;
		border-radius: 0;
		width: 106px !important;
		border: none;
		background: url("../../images/style0/inputbg.gif") no-repeat scroll right top #FBFBFB;
	}
	#free_report_form input[type="text"].error{
		background: url("../../images/style0/inputbg-error.gif") no-repeat scroll right top #FBFBFB;
	}


/* ----------------------------------------------------
	FOOTER
------------------------------------------------------- */
	.footer_background {
		width: 970px;
	}
	
	.footer_background .border {
		height: 190px;
		background: url(../../images/style0/footer-bg.png) repeat-x scroll center top transparent;
	}
	
	#footer {
		color:#339900;
		padding: 20px 10px;
	}
	
	#footer .part1 {
		margin: 10px 0 0;
		float: none;
		display: block;
	}
	
	#footer .copyright {
	    display: block;
	    float: none;
	}
	#footer .footer_menu_block {
		float: right;
	}
	
	#footer .cria {
		float: right;
		padding-top: 13px;
	}
	
	/* footer navigation */
	
	/* footer links */
	#footer  a{
		color:#339900;
	}
	#footer  a:hover{
		color:#33cc00;
	}
	
	ul.footer_links li{ 
		border-left:1px solid #C6D1D6;
	}
	
	ul.footer_links li:first-child {
		border-left:none;
	}
	
	#footer .part2 ul.partners_links {
		list-style: none;
		margin: 20px 0;
		text-align: center;
	}
	#footer .part2 ul.partners_links li {
		display: inline;
		margin: 0 10px;
	}
	#footer .part2 ul.partners_links li img {
		height: 40px;
		border: 1px solid black;
	}
	
	

/* ----------------------------------------------------
	LISTS
------------------------------------------------------- */
	
	dd{
		color:#8B8B8B;
	}
 

	/* list with stars */
	.star{
		list-style-image:url(../../images/star.png) !important;
	}
	
	/* list with check image */
	.check{
		list-style-image:url(../../images/check.gif) !important;
	}  


/* ----------------------------------------------------
	PRODUCTS DETAIL TABS
------------------------------------------------------- */
	
	/* root element for tabs  */
	ul.tabs { 
		border-bottom:1px solid #F3F3F3;	
	}
	
	/* link inside the tab. uses a background image */
	ul.tabs a { 
		background: url(../../images/tabs.png) 0 2px no-repeat;
		color:#878787;
		text-shadow: 1px 1px 0px  #fff;
	}
	
	/* when mouse enters the tab move the background image */
	ul.tabs a:hover {
		color:#7E7E7E;	
	}
	
	/* active tab uses a class name "current". its highlight is also done by moving the background image. */
	ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
		color:#686868 !important;
	}
	
/* ----------------------------------------------------
	CONTACT LIST
------------------------------------------------------- */
	
	.contact_list .phone{
		background: url(../../images/assets/icons/phone.png) left 2px no-repeat;
	}

	.contact_list .home{
		background: url(../../images/assets/icons/home.png) left 3px no-repeat;
	}

	.contact_list .mail{
		background: url(../../images/assets/icons/email.png) left 3px no-repeat;
	}

	.contact_list .support{
		background: url(../../images/assets/icons/support.png) left 3px no-repeat;
	}		

/* ----------------------------------------------------
	COMMENTS
------------------------------------------------------- */
	
	/* comment body */
	#comments ol.commentlist li .comment-body{
		background:#F7F7F7;
		-moz-box-shadow:inset 0 0 4px #EBEBEB;
		-webkit-box-shadow: 0 0 4px #EBEBEB;
		box-shadow: 0 0 4px #EBEBEB;
		border:1px solid #F9F9F9;
	}
	
	#comments ol.commentlist li .comment-body .comment-author{
		background:#fff;
		text-shadow: 1px 1px 0px #fff;
		-moz-box-shadow: 0 0 4px #CDCDCD;
		-webkit-box-shadow: 0 0 4px #CDCDCD;
		box-shadow: 0 0 4px #CDCDCD;
	}
	
	/* author name */
	#comments ol.commentlist li .comment-body .author-name{
		color:#818181;
	}
	
	#comments ol.commentlist li a,.cancel-reply a{
		color:#818181;
	}
	
	#comments ol.commentlist li a:hover{
		color:#464646;
	}
	
	#comments ol.commentlist li .comment-body .comment-meta,.cancel-reply{
		color:#818181;
	}

	.cancel-reply a{
		text-shadow: 1px 1px 0px #fff;
		display:block;
		background:#F0F0F0 !important;
	}
	
	#comments ol.commentlist li .comment-body .comment-meta .comment-reply{
		background:#F0F0F0;
		border:1px solid #fff;
	}
	
	#comments ol.commentlist li .comment-body .comment-meta .comment-reply a:hover{
		color:#818181;
	}
	
	#comments ol.commentlist li .comment-body .comment-meta .comment-reply:hover{
		background:#E4E4E4; 
	}
	
	#comments ol.commentlist li p{
		color:#6C6C6C;
	}
	
	#comments .comment_input{
		text-shadow: 1px 1px 0px #fff;
	}


	.content_footer .box{ 
		color:#919191;
	}	
	
	
/**-----------
home page big text
**/
	div.homepage-bigtext {
		text-align: center;
	}
	div.homepage-bigtext h1 {
		font-size: 20px;
		line-height: 30px;
	}
	
	div.homepage-news {
		text-align: center;
	}
	
	#FadeIn_CSS {
		padding: 0 5px 10px;
	}
	#FadeIn_CSS a {
		text-decoration: none;
		color: black;
	}
	#FadeIn_CSS a:hover {
		text-decoration: none;
	}
	
	
/**
 Home page extra
**/

	.content.home_page .homepage-extra .box h2 {
		font-size: 20px;
	}
	.homepage-extra ol {
		list-style: none;
		margin-left: 0;
	}
	.homepage-extra ol h3 {
		font-size: 16px;
		padding-left: 40px;
	}
	.homepage-extra ol li span {
		width: 33px; 
		height: 33px;
		display: inline-block;
		background-image: url("../../images/style0/circle.png");
		font-size: 16px;
		color: #ff6600;
		left: 0;
		position: absolute;
		line-height: 33px;
		text-align: center;
	}
	
	.homepage-extra .boxes .first {
		padding-left: 10px;
	}
	
	.homepage-extra blockquote {
		font-size: 13px;
		color: #353535;
	}
	