/**
 * Theme Name: Total
 * Description: Adds css tweaks for IE8 - eww, IE8 is bad.
 * Author: WPExplorer
 */
/*--------------------------------------------------------------
- Commons + Main Grid
--------------------------------------------------------------*/
.wp_row { zoom: 1; position: relative; }
#wrap .wpex-row { margin-left: 0 !important; margin-right: 0 !important; }
#wrap .wpex-row .col { margin: 0 0 20px 1.6%; padding: 0; }
#wrap .wpex-row .span_1_of_2 { width: 49.2% }
#wrap .wpex-row .span_1_of_3 { width: 33.3% }
#wrap .wpex-row .span_1_of_4 { width: 23.8% }
#wrap .wpex-row .span_1_of_5 { width: 18.7% }
#wrap .wpex-row .span_1_of_6 { width: 15.3% }
body .wpb_row .vc_span12,
body .wpb_teaser_grid.wpb_carousel .vc_span12 { width: 100% }
.vcex-background.style-parallax { background-attachment: static !important }
/*--------------------------------------------------------------
- Visual Composer grid
--------------------------------------------------------------*/
.vc_col-sm-1,
.vc_col-sm-2,
.vc_col-sm-3,
.vc_col-sm-4,
.vc_col-sm-5,
.vc_col-sm-6,
.vc_col-sm-7,
.vc_col-sm-8,
.vc_col-sm-9,
.vc_col-sm-10,
.vc_col-sm-11,
.vc_col-sm-12 { float: left }
.vc_col-sm-12 { width: 100% }
.vc_col-sm-11 { width: 91.66666667% }
.vc_col-sm-10 { width: 83.33333333% }
.vc_col-sm-9 { width: 75% }
.vc_col-sm-8 { width: 66.66666667% }
.vc_col-sm-7 { width: 58.33333333% }
.vc_col-sm-6 { width: 50% }
.vc_col-sm-5 { width: 41.66666667% }
.vc_col-sm-4 { width: 33.33333333% }
.vc_col-sm-3 { width: 25% }
.vc_col-sm-2 { width: 16.66666667% }
.vc_col-sm-1 { width: 8.33333333% }
.vc_col-sm-pull-12 { right: 100% }
.vc_col-sm-pull-11 { right: 91.66666667% }
.vc_col-sm-pull-10 { right: 83.33333333% }
.vc_col-sm-pull-9 { right: 75% }
.vc_col-sm-pull-8 { right: 66.66666667% }
.vc_col-sm-pull-7 { right: 58.33333333% }
.vc_col-sm-pull-6 { right: 50% }
.vc_col-sm-pull-5 { right: 41.66666667% }
.vc_col-sm-pull-4 { right: 33.33333333% }
.vc_col-sm-pull-3 { right: 25% }
.vc_col-sm-pull-2 { right: 16.66666667% }
.vc_col-sm-pull-1 { right: 8.33333333% }
.vc_col-sm-pull-0 { right: auto }
.vc_col-sm-push-12 { left: 100% }
.vc_col-sm-push-11 { left: 91.66666667% }
.vc_col-sm-push-10 { left: 83.33333333% }
.vc_col-sm-push-9 { left: 75% }
.vc_col-sm-push-8 { left: 66.66666667% }
.vc_col-sm-push-7 { left: 58.33333333% }
.vc_col-sm-push-6 { left: 50% }
.vc_col-sm-push-5 { left: 41.66666667% }
.vc_col-sm-push-4 { left: 33.33333333% }
.vc_col-sm-push-3 { left: 25% }
.vc_col-sm-push-2 { left: 16.66666667% }
.vc_col-sm-push-1 { left: 8.33333333% }
.vc_col-sm-push-0 { left: auto }
.vc_col-sm-offset-12 { margin-left: 100% }
.vc_col-sm-offset-11 { margin-left: 91.66666667% }
.vc_col-sm-offset-10 { margin-left: 83.33333333% }
.vc_col-sm-offset-9 { margin-left: 75% }
.vc_col-sm-offset-8 { margin-left: 66.66666667% }
.vc_col-sm-offset-7 { margin-left: 58.33333333% }
.vc_col-sm-offset-6 { margin-left: 50% }
.vc_col-sm-offset-5 { margin-left: 41.66666667% }
.vc_col-sm-offset-4 { margin-left: 33.33333333% }
.vc_col-sm-offset-3 { margin-left: 25% }
.vc_col-sm-offset-2 { margin-left: 16.66666667% }
.vc_col-sm-offset-1 { margin-left: 8.33333333% }
.vc_col-sm-offset-0 { margin-left: 0% }
/*--------------------------------------------------------------
- Overlay Header
--------------------------------------------------------------*/
#site-header.overlay-header { background: none; position: absolute; top: 0; left: 0; width: 100%; z-index: 9999; }
body.boxed-main-layout.has-overlay-header #wrap { position: relative }
body.boxed-main-layout.has-overlay-header #site-header.overlay-header { padding: 0 30px }
body.boxed-main-layout.has-overlay-header #site-navigation-wrap { right: 0 }
#site-header.overlay-header,
#site-header.overlay-header #site-logo,
#site-header.overlay-header #site-logo a,
#site-header.overlay-header #site-navigation-wrap,
#site-header.overlay-header .dropdown-menu > li,
#site-header.overlay-header .dropdown-menu > li > a { height: 90px; line-height: 90px; }
#site-header.overlay-header #site-header-inner { position: relative; padding: 0; }
body.content-full-width.has-overlay-header #site-header.overlay-header #site-header-inner { padding-left: 30px; padding-right: 30px; }
body.content-full-width.has-overlay-header #site-header.overlay-header .navbar-style-one { right: 30px }
#site-header.overlay-header .has-overlay-logo .main-logo { display: none }
#site-header.overlay-header .has-overlay-logo .overlay-header-logo { display: block !important }
/*some resets to prevent issues with theme options*/
#site-header.overlay-header #site-navigation-wrap { background: none; top: 0; margin-top: 0; }
/*Light Style*/
#site-header.overlay-header.light-style { border-bottom: 1px solid rgba(255,255,255,0.21) }
#site-header.overlay-header.light-style .dropdown-menu a { color: #fff; color: rgba(255,255,255,0.75); }
#site-header.overlay-header.light-style .dropdown-menu li:hover a,
#site-header.overlay-header.light-style .dropdown-menu a:hover { background: none }
#site-header.overlay-header.light-style .sf-menu ul a.sf-with-ul { font-size: 13px }
#site-header.overlay-header.light-style .sf-menu li.megamenu ul a.sf-with-ul,
#site-header.overlay-header.light-style .dropdown-menu a:hover,
#site-header.overlay-header.light-style .dropdown-menu > .current-menu-item > a,
#site-header.overlay-header.light-style .dropdown-menu > .current-menu-item > a:hover,
#site-header.overlay-header.light-style #current-shop-items-dropdown a,
#site-header.overlay-header.light-style #current-shop-items-dropdown .total,
#site-header.overlay-header.light-style #current-shop-items-dropdown .total .amount { color: #fff }
#site-header.overlay-header.light-style .dropdown-menu li ul li,
#site-header.overlay-header.light-style .dropdown-menu li ul li a,
#site-header.overlay-header.light-style .product_list_widget .amount { color: #999 }
#site-header.overlay-header.light-style .dropdown-menu li ul { background: #222; border: none; }
#site-header.overlay-header.light-style .dropdown-menu li ul a,
#site-header.overlay-header.light-style .sf-menu > li.megamenu > ul.sub-menu > li,
#site-header.overlay-header.light-style #current-shop-items-dropdown li { border-color: #333 }
#site-header.overlay-header.light-style #searchform-dropdown,
#site-header.overlay-header.light-style #current-shop-items-dropdown { line-height: 1; background: #222; border-top: none; }
#site-header.overlay-header.light-style #searchform-dropdown input { background: #333; color: #fff; }
/*Dark Style*/
#site-header.overlay-header.dark-style { border-bottom: 1px solid rgba(0,0,0,0.15) }
#site-header.overlay-header.dark-style .dropdown-menu a { color: #000; color: rgba(0,0,0,0.75); }
#site-header.overlay-header.dark-style .dropdown-menu li:hover a,
#site-header.overlay-header.dark-style .dropdown-menu a:hover { background: none }
#site-header.overlay-header.dark-style .sf-menu ul a.sf-with-ul { font-size: 13px }
#site-header.overlay-header.dark-style .dropdown-menu a:hover,
#site-header.overlay-header.dark-style .dropdown-menu > .current-menu-item > a,
#site-header.overlay-header.dark-style .dropdown-menu > .current-menu-item > a:hover { color: #000 }
#site-header.overlay-header.dark-style .dropdown-menu ul a:hover,
#site-header.overlay-header.dark-style .sf-menu li.megamenu ul a.sf-with-ul,
#site-header.overlay-header.dark-style #current-shop-items-dropdown a,
#site-header.overlay-header.dark-style #current-shop-items-dropdown .total,
#site-header.overlay-header.dark-style #current-shop-items-dropdown .total .amount { color: #fff }
#site-header.overlay-header.dark-style .dropdown-menu li ul li,
#site-header.overlay-header.dark-style .dropdown-menu li ul li a,
#site-header.overlay-header.dark-style .product_list_widget .amount { color: #999 }
#site-header.overlay-header.dark-style .dropdown-menu li ul { background: #222; border: none; }
#site-header.overlay-header.dark-style .dropdown-menu li ul a,
#site-header.overlay-header.dark-style .sf-menu > li.megamenu > ul.sub-menu > li,
#site-header.overlay-header.dark-style #current-shop-items-dropdown li { border-color: #333 }
#site-header.overlay-header.dark-style #searchform-dropdown,
#site-header.overlay-header.dark-style #current-shop-items-dropdown { line-height: 1; background: #222; border-top: none; }
#site-header.overlay-header.dark-style #searchform-dropdown input { background: #333; color: #fff; }