/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: Patua One, Arial, Tahoma, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, ontrolfigcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	
}

*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}

.mr-10{margin-right:0%;}
.mr-6{margin-right:6%;}


.a-right{text-align:right;}

.calc h3{
	font-size:16px;
	line-height:26px;
	padding-left:1%;
	font-weight:bold;
	}

.loan-repayment .outer-container,
.loan-comparison .outer-container,
.extra-repayment .outer-container{
	background: transparent;
	color: #000;
	width: auto;
	clear:both;
	overflow:hidden;
	position:relative;
}

.calc .inner-container{
	background:#1abc9c;	
	box-shadow: 10px 10px 5px #999999;
	margin: 20px
	}

.calc .ui-slider-range{
	background:#1abc9c none;
}

.calc .section-heading{
	color:#fff;
	line-height:auto;
	font-size:14px;
	padding:15px 2%;
	margin:10px 0px 0px	0px;
	font-size: 16px;
	font: Open Sans;
	font-weight: bold;	
}


.calc {
  font: Open Sans;
  font-size: 16px;
}

.calc .ui-slider .ui-slider-handle {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 1.2em;
  width: 1.2em;
  margin-left: -0.6em;
}


.calc .ui-widget-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*background: transparent url(../images/slider-bg.png) no-repeat;*/
}

.calc .slider {
  width: auto;
  position: relative;
  top: 6px;
}

.calc .long-text  {
width: 70%;
  height: 30px;
  padding: 0 5px 0;
}

.calc .short-text {
  width: 70%;
  height: 30px;
  padding: 0 5px 0;
}

.calc .very-short-text {
  width: 30%;
  height: 30px;
  padding: 0 5px 0;
}

.calc .rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #1abc9c;
  
}

.calc .panel {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c9cccc));
	background: -webkit-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #c9cccc 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9cccc', GradientType=0 );
	border: 4px solid #bbb;
	color: #000;
	clear: both;
	overflow: hidden;
}

.calc .panel .control-group{
	float: left;
	width:100%;
	margin-bottom:20px;
	padding-left:10px;
}

.calc .panel .control-group label{
	display:block;
	margin:8px 0 0 0;
	padding:0 0 0 0;
}

.calc .panel .control-group .control-half{
	width:40%;
	float:left;
}
.control-group .control-full,
.control-group .control-full select{width:80%; height: 30px; padding: 0 0 0 0; margin-top: 5px; margin-bottom: 10px;}

.calc #result {
  
  background: #fff;
  border: 2px solid #1abc9c;
  color: #000;
  font-weight: bold;
  font-size:16px;
  padding: 7px;
}

.calc .functions {
  position: absolute;
  right: 0px;
  top:0;
  padding-top:26px;
}

.calc .functions ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.calc .functions ul li,
.calc .functions ul li a,
.calc .functions ul li img{
	display:block;
  outline: none !important;
}
.calc .functions ul li{
	margin-bottom:10px;
}

.calc #email-form {
  position: relative;
  padding-top: 30px;
  display: none;
}
.calc #email-form label{
	margin-bottom:5px;
	display:block;
}

.note{
  margin-top: 20px;
  padding-left: 1%;
}

.note strong{
  font-weight: bold;
}

.calc #email-form #email-response {
  padding: 10px 0px;
}

.mail-container{
	padding:1%;
	width:100%;
}

.mail-inner{
	width:auto;
	clear:both;
	overflow:hidden;
}

.mail-container .w-47{
	width:47%;
	float:left;
}

.mail-container .text{width:100%;}

.mail-container .w-47,
.mail-container .w-100{
	margin-bottom:10px;
}

.calc a img {
  border: none;
}

/* ie */

.calc #infodialog {
  font-size: 0.7em;
}

/*-----------------------------------------------------------------------------------------------------*/

.borrowing-power .outer-container {
	clear: both;
	overflow: hidden;
	background: transparent;
	width: auto;
	color: #036;
}

.borrowing-power .inner-container {
  padding: 0 1% 1%;
}

.borrowing-power .top-div {
	color: #036;
}

.borrowing-power .bottom-div {
  color: #fff;
}

.borrowing-power .calc-panel {
    background: linear-gradient(to bottom, #FFFFFF 0%, #C9CCCC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 4px solid #BBBBBB;
    clear: both;
    color: #000000;
    overflow: hidden;
}

.borrowing-power .calc-panel div {
  margin-bottom: 8px;
}

.borrowing-power .result-panel {

}

.borrowing-power table{
  width: 100%;
}

.clear{
  clear: both;
  overflow: hidden;
  margin:0;
  padding: 0;
}

.label-block{
  display: block;
  width: 30%;
  padding: 5px 10px;
}

.borrowing-power .w-30{
  width: 30%;
  float: left;
}



.borrowing-power .input-30{width: 30%;}
.borrowing-power .input-auto{width: auto;}
.borrowing-power .mb-10{margin-bottom: 10px; color:
}


.w-100{
  width: 100%;
}

.borrowing-power .left-block{
  width: 48%;
  float: left;
  margin-right: 4%;
}

.borrowing-power .w-17{
  width: 25px;
}

.borrowing-power .right-block{
  width: 48%;
  float: right;
}


.borrowing-power .right-block input{
  margin-bottom: 3px;
  margin-top: 3px;
}

.borrowing-power #result {
	color: #06C;
  /*
  float: left;
  width: 240px;
  */
}

.borrowing-power #result table {
  border-collapse: collapse;
}

.borrowing-power .mb-10{
	margin-bottom: 15px;
	color: #39F;
}

.borrowing-power #result table td {
  padding: 3px 10px;
  width:50%;
}

.borrowing-power .middle-panel {
  padding: 15px;
}

.borrowing-power #chart_div {
  width: 100%;
  height: 210px;
}

.borrowing-power .readonly {
  background: #ddd;
}

/*-----------------------------------------------------------------------------------------------------*/

.extra-repayment #chart_div {
  width: 100%;
  height: 210px;
}

/*-----------------------------------------------------------------------------------------------------*/

.loan-comparison #result table,
.loan-comparison .container-info table,
.loan-comparison .panel table {
  border-collapse: collapse;
  width: 100%;
}

.loan-comparison #result table td,
.loan-comparison .container-info table td{
  padding: 3px 10px;
}

.loan-comparison .panel table td {
padding:5px 10px;
width:30%;
}

.loan-comparison .panel table td select{width:100%}

.loan-comparison .readonly {
  background: #ddd;
}


/*.loan-comparison #chart_div { float:left; width: 260px; height: 200px; }*/

/*-----------------------------------------------------------------------------------------------------*/


.calc .inner-container{
  padding:0 2% 2%;
}

.loan-repayment #result table,
.extra-repayment #result table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.loan-repayment #result table td,
.extra-repayment #result table td {
  padding: 5px 10px;
  width:50%;
}

.calc .calc-panel,
.calc .result-panel {
  padding: 2%;
}

.calc .result-panel{
	background:#fff none;
	clear:both;
	overflow:hidden;
}

#chart_div{
margin-bottom:10px;}

.calc .title-p{
	font-weight:bold;
	clear:both;
	overflow:hidden;
	margin-bottom:10px;
}

 /**/
.tab-1,.tab-2,.tab-3,
.tab-4,.tab-5,.tab-6 {
  background: #CACBCD url('../img/loan-details-bg.jpg') 0 0 repeat-x;
}

.surplus,
.total{
  background: #b4cd29 url('../img/total-payable-bg.jpg') 0 0 repeat-x;
}

.budget-planer{
  padding: 0 25px 0 0;
  position: relative;
}


.budget-planer .inner-container{
  padding-top: 5px;
}

label{
  color:#000;
  margin:0;
  padding:0;
  display:block;
}

.input-bl{
  float:left;
}

.input-bl{ width:30%;}

.input-bl input{
  width:60%;
  float:left;
}

.input-bl span{
  float:left;
  margin:0 2%;
  margin-top: 4px;
}

.input-ch{
  width: 54%;
  float: left;
}

.input-ch input{
  float: left;
  margin:0 4% 0 0 ;
}

.fl-left{
  float: left;
}

.tab-6 .income-details .fl-left p{
  float: right;
}

.tab-6 .income-details span{
  margin:0;
}

.mb-4{ margin-bottom: 2px;}

/*index 3*/

.pd-3{ padding-left: 3%;}

/*index5*/
.clear{
  clear: both;
  margin: 0;
  padding: 0;
}

.tab-1,.tab-2,.tab-3,
.tab-4,.tab-5,.tab-6{
  border: 4px solid #b4b2b2;
  padding: 7px 8px 0 8px ;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  min-height: 482px;
    background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c9cccc));
  background: -webkit-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #c9cccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9cccc', GradientType=0 );
}

.income-details li{
  clear: both;

}

#res1{
  display: inline-block;
}

.tab-6 .income-details li{
  line-height: 18px;
}

.tab-6 .income-details .input-bl input{
  background: transparent none;
  border: none;
  width: 16%;
} 

.tab-6 li:first-child span,
.bold input,
.bold{
  font-weight: bold;
}

.tab-6 .income-details label,
.tab-6  .income-details .first-span{ 
  width: 44%;
}

.tab-6 .income-details .fl-left input,
.tab-6 .income-details .fl-left span{
  float: right;
}

.tab-6 .income-details .input-bl,
.tab-6 .income-details  .freqvency,
.tab-6 .income-details  .amount-title{ 
  width: 18%;
}

.tab-6 .income-details  .freqvency,
.tab-6 .income-details  .amount-title{
  text-align: left !important;
}

.tab-6  .income-details .anual-amount{
  text-align:right; 
  width: 18%;
}

.tab-6 .income-details .fl-left{
  width: 20%;
}

.tab-container{
   padding-bottom: 50px;
}

.surplus{
  clear: both;
  border:2px solid #b4cd29; 
  border-bottom: none 0;
  padding-left: 3px;
  height: 27px;
  padding-top: 3px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  display: block;
}

.nav-menu {
  clear: both;
  text-align: center;
}

.nav-menu li{
  background: transparent url('../img/nav-menu-bg.jpg') 0 0 repeat-x;
  color:#fff;
  cursor: pointer;
  width: 32%;
  display: inline-block;
  position: relative;
  cursor:pointer;
  height: 24px;
  border:1px solid #fff;
  border-bottom: none 0;
  -moz-border-radius:10px 10px 0 0;
  -webkit-border-radius:10px 10px 0 0;
  border-radius:10px 10px 0 0;
  text-align: center;
  font:bold 12px/22px Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.nav-menu li:nth-child(3){width: 29%;}

.nav-menu .nav-menu-activ{
  background: #fff none ;
  height: 29px;
  border:4px solid #b4b2b2 ;
  border-bottom: none 0;
  margin-bottom: -4px;
  z-index: 50;
  line-height: 17px;
}

.nav-menu .nav-menu-activ {
  color: #000;
}

.tab-1,.tab-2,
.tab-3,.tab-4,.tab-5,.tab-6{
  display: none;
}

.active-tab{
  display: block !important;
}
/*tab1*/
.income-details h3{
  color:#000;
  margin-left: 0;
}

.income-details label{
  float: left;
  width: 41%;
}

.income-details  .input-bl{
  width: 24%;
  margin-bottom: 3px;
}

.income-details  .input-bl input{
  width: 70%;
  border: 1px solid #c9cbcc;
  border-top-color: #6d6f70;
  height: 20px;
}

.income-details select{ 
  float: left;
  width: 20%;
}

.income-details li p{ float: right;}
.tab-6 .income-details li p{ float: left;}

.income-details li:first-child span{
  float: left;
  color: #000000;
    display: block;
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
}

.amount {
  float: right;
}

.amount:before {
  content: '$';
}

.income-details  .first-span{
    width: 41%;
    height: 10px;
}
.income-details  .freqvency{
  width: 20%;
}
.income-details .anual-amount{ float: right !important;}

.income-details .amount-title{
  width: 20%;
  text-align: center !important;
}

.total{
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  display: block;
  float: right;
  margin:4px 0 6px 0; 
  border: 2px solid #b4cd29;
  border-bottom: none 0;
  padding:0 5px 0 5px;
}

.total p{
  color: #000000;
  font-weight: bold;
  line-height: 22px;
  text-align: left;
  margin-bottom: 0;
}
.total strong:before {
  content: '$';
}

.ml-56{ margin-left: 56px;}

.page{
  clear: both;
  width: 98%;
  display: block;
  margin:-50px auto 0 auto;
  border-top:1px solid #999999; 
  height: 50px;
  position:relative;
  padding-bottom: 0;

}

.curent-numberr,
.allChilds{
  display: inline-block;
  width: 26px;
  height: 26px;
}

.navigation{
  clear: both;
  overflow: hidden;
    display: block;
    width: 130px;
    padding: 11px 0 0 0;
    float: right;
    position: relative;
    text-align: center;
}

.prev-tab,
.next-tab{
  background: transparent url('../img/arrow.png') 0 0 no-repeat;
  height: 26px;
  width: 26px;
  display: block;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

.no-activ{ display: none;}

.prev-tab{
  background-position: 0 -105px;
  float: left;
}

.next-tab{
  float: right;
}

.namber-page{
  display: inline-block;
  padding-top: 7px;
  position: absolute;
  right: 34px;
}

.reset-fields,
#send_email{
  border:1px solid ;
  border-top-color: #b7babc; 
  border-bottom-color: #5c6266; 
  border-left-color:#71777b;
  border-right-color:#71777b; 
  padding: 3px 15px 3px 15px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  margin-top: 10px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c9cccc));
  background: -webkit-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #c9cccc 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #c9cccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9cccc', GradientType=0 );
  cursor:pointer;
}

.reset-fields:hover{
  border-color:#5c6266 !important;
}

#send_email{
  margin:0;
}

/*info*/

body.global_container {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px !important;
    overflow-x:auto; 
}

#column_container {
    float: left;
    padding: 10px 0 0 20px;
    position: relative;
    width: 100%;
}



p {margin: 0 0 10px;}

#global_container{border-top: 20px solid #233482;}

#global_container h2{
  color: #000000;
    font: bold 16px Arial,Helvetica,sans-serif;
    margin: 10px 0 0 20px;
}

#global_container tr{line-height: 14px}

#global_container .content_container {
    border-top: 1px solid #CCCCCC;
    padding: 5px 0;
    position: relative;
    width: 100%;
}

#column_container .column1 {
    display: inline;
    float: left;
    position: relative;
    line-height: 12px;
    font-size: 11px;
}

#global_container h3 {
    color: #000000;
    font:bold 14px Arial,Helvetica,sans-serif;
    margin: 10px 0 0;
}


* { margin: 0; 
  padding: 0; 
}

body.global_container {
  font-family:Arial, Helvetica, sans-serif; 
  font-size:11px; background-color: #FFFFFF; 
}  

.content_container table{
  clear: both;
}

.global_container i{
  font-style:italic;
}



.global_containertable {
  font-family:Arial, Helvetica, sans-serif; font-size:11px; 
}  

.global_container p {
  margin:0px 0px 10px 0px;
}

.global_container h2 {
  font-family:Arial, Helvetica, sans-serif; font-size:16px; 
  color: #000000; margin:10px 0px 0px 20px;
}

.global_container h3 {
  font-family:Arial, Helvetica, sans-serif; 
  font-size:14px; 
  color: #000000; margin:10px 0px 0px 0px;
  clear: both;
}

.global_container strong{
  font-weight: bold;
}


#logo-calc{
  display:none;
  width:82px;
  height:82px;
  margin:0px auto 20px;
}


#errmsg{
	color:#ff0000;
}

#email-response{
	color:#5B6E2C;
}


@media (max-width: 768px) { 
  .borrowing-power .input-auto{width:30%;}
}
 /**/
@media (max-width: 480px) { 
	.calc .panel .control-group{width:100%;}
  .borrowing-power .right-block{
    clear:both;
    width: 100%;
  }

.borrowing-power .left-block{
  clear:both;
  width: 100%;
  margin-right: 0;
}

.fl-clear{
  clear: both;
  overflow: hidden;
  float: left;
}

.input-ch{ width: 45%;}

 .budget-planer .income-details .input-bl{
  width: 16%;
}

.all-tabs,
.nav-menu a{
  font-size: 10px;
}

.nav-menu li{
  font-size: 8px;
}

.freqvency,
.amount-title,
.anual-amount{
  font-size: 8px;
  margin-bottom: 3px;
}

.income-details .first-span{
  width: 48%;
}

.all-tabs .income-details label{
  width: 48%;
}

.navigation{
  padding-right: 2px;
}

.namber-page{
  right: 41px;
}

.reset-fields{
  margin-left: 3px;
}

.income-details .anual-amount{
  width:10%;
}

.calc .very-short-text{
  width: 38%;
}

}


@media print{
  body{zoom:100%}
  #logo-calc{display:block;}
  #chart_div{
    width:400px !important; 
    display:block; 
    margin-left:auto;
    margin-right:auto;
  }

  .budget-planer{padding:0;}
  .functions,
  #email-form{display: none !important;}
  .nav-menu li,
  .total,
  .surplus,
  .calc #result{
    border-color:#B4B2B2;
  }

  .loan-comparison .bottom-div	{ display: block; page-break-before: always; }
}

