/* ----------------------------------------------------
  
	File Name: ie-borders.css
	RT-THEME 14
	Created By: Tolga Can
	http://themeforest.net/user/stmcan

------------------------------------------------------- 
 
	/* curvy borders */
	.border{
		behavior: url(js/border-radius.htc);
	} 
	
	/* header links & slogan */
	.top_content{
		behavior: url(js/border-radius.htc);
	}

	/* main navigation bar */
	#navigation_bar{ 
		behavior: url(js/border-radius.htc); 
	}
	
	#slider_area{
		behavior: url(js/border-radius.htc);
	}

	/* small button */
	a.small_button{ 
		behavior: url(js/border-radius.htc);
	}

	/* big button */
	a.big_button{
		behavior: url(js/border-radius.htc);
	}
	
	/* medium button */
	a.medium_button{ 
		behavior: url(js/border-radius.htc);
	}