/* ----------------------------------------------------
  
	File Name: style.css
	RT-THEME 14
	Created By: Tolga Can
	http://themeforest.net/user/stmcan

------------------------------------------------------- 

	GLOBAL STRUCTURE 
	HEADER 
	PAGE ELEMENTS 
	NAVIGATIONS 
	CONTENT 
	SIDEBAR 
	SIDEBAR MENU 
	HOME PAGE SLIDER 
	TWITTER 
	BUTTONS 
	BANNER 
	HOME PAGE FEATURED BOXES 
	RT-THEMES CSS FRAMEWORK 
	PORTFOLIO 
	CATEGORY LIST DROP-DOWN MENU 
	PRODUCTS 
	PHOTO GALLERY 
	BLOG 
	PAGING 
	LINKS 
	HEADINGS 
	TABLES 
	TEXT ELEMENTS 
	IMAGES 
	FRAMES, BORDERS, CAPTIONS 
	FORMS 
	FOOTER 
	LISTS 
	PRODUCTS DETAIL TABS 
	COMMENTS
	
------------------------------------------------------- */


/* ----------------------------------------------------
	GLOBAL STRUCTURE
------------------------------------------------------- */

	/* body */
	body {
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		line-height:20px;
		position:relative;  
	}

	/* background layer*/
	#wrapper{
		background-image:url(../images/backgrounds/1.png);
		background-position:center 43px;
		background-repeat:no-repeat;
	}
	
	/* Layout general*/
	#container{
		width:980px;
		margin:0 auto 0 auto; 
		position:relative;
		display: block;
		padding:0;
		border:0 !important; 
	}  
	
	/* curvy borders */
	.border{
		padding:10px;
		width:960px; 
		background:transparent url(../images/transparent.png) ;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		margin:0 0 20px 0;
		border:none;
	}
	
	/* extras */
	.extra_space{
		padding:5px 0; 
	} 
	
	.floatleft{
		float:left;
	}

/* ----------------------------------------------------
	HEADER
------------------------------------------------------- */
	#header{  
		width:940px;
		z-index:52;
		padding:25px 0 0 0;
		margin:0 auto;
	}
	
	/* logo */
	#logo{
		position:relative;
		z-index:50;
		margin:0px 0 20px 0;
		float:left;
		display:inline;	
	}
	
	h1.logo a{
		color:#fff;
		font-size:42px;
	}

	h1.logo a:hover{
		color:#fff;
	}	
	
	/* header links & slogan */
 

	#top_bar{
	    position:relative;
	    height:42px;
	    z-index:52;
	    background:url(../images/top_bar_border.png) 0 41px repeat-x;
	}
	
	.top_content{
		width:940px;
		padding:8px 0 0 0;
		margin:0 auto; 
	}
	
	.top_links{
		padding:6px 0 0 0;
		margin:0 10px 0 0;
		float:right;
		display:inline;
		position: relative;		
	}
	
	.top_links.position_2{
		margin:0 0px 0 0;
	}	
	
	.top_links a{ 
		font-size:11px;
		text-decoration:none;
		color:#B2CED6;
	}
	
	.top_links a:hover{
		font-size:11px;
		text-decoration:underline;
	}
	
	.top_links li{
		list-style:none;
		list-style-position:outside;
		line-height:12px;
		float:left;
		padding:0 8px; 
	}
	
	.top_links li.first{
		border-left:0px;
	}
	
	/* slogan*/
	.top_slogan, .top_slogan span, .top_slogan span a, .top_slogan span a:hover{
		font-family:Georgia, "Times New Roman", Times, serif;
		font-weight:normal;
		font-style:italic;	   
		text-decoration:none;
		padding: 0 0 0 0;
		font-size:16px;
		text-align:right;
		color:#fff;
	}
	
	.top_slogan{
		position:relative;
		right:0;
		top:20px;
	}   
	
	/* search bar */
	.search_bar{
		font-size:10px; 
		width:102px;
		height:24px;
		margin:0;
		padding:0;
		position:relative;
		float:right;
	}
	
	.search_bar form input{
		height:17px;
		width:74px;
		font-size:11px !important;
		line-height:120% !important;
		margin:0;
		padding:2px 0 0 5px;
		border:0px;
		outline:0;
		float:left;
		display:inline;
		margin:1px 0 0 0;
		background:transparent; 
	}
	
	.search_bar form input.searchsubmit{
		width:16px;
		height:17px;
		float:right;
		display:inline;
	}

	/* flags */
	.top_content .flags{
		float:right;
		display:inline;
		margin:3px 5px 0 0;
		padding:0;
		float:right;
	}
	
	.top_content .flags li{
		list-style:none;
		list-style-position:outside;
		line-height:12px;
		float:left;
		padding:0 4px; 
	}   
	
	.top_content .flags li a{
		display:block;
		outline:none;
		border:1px solid #545454;
	}
	
	.top_content .flags li a:hover{
		border:1px solid #797979;
	}
	
	.top_content .flags li img{
		display: block;
		padding:2px;
	}
   
	/* Sub Page Title */
	.head_text{ 
		width:920px;
		margin:0 auto;  
	}    
	
	.head_text h2{ 
		line-height:100%;
		padding:0 0 8px 0;
		margin:0;
		display:inline-block;
		font-size:30px;
	}
	
	/* Breadcrumb Menu */
	.breadcrumb{
		font-size:11px;
		clear:both;
		position:relative;
		display:block;
		z-index:10; 
		margin:2px 0 6px 20px;  
		line-height:140%; 
	}
	
	.breadcrumb a{
		text-decoration:none; 
	}
	
	.breadcrumb a:hover{
		text-decoration:underline;
	}
	
/* ----------------------------------------------------
	PAGE ELEMENTS
------------------------------------------------------- */

	/* line */
	.line{ 
		margin:0 0 20px 0;
		clear:both;
	}
	
	/*top link*/
	span.top{
		font-size:10px;
		float:right;
		position:relative;
		right:0;
		top:-10px;
		padding-left:10px; 
		text-decoration:none; 
		letter-spacing:1px; 
		cursor:pointer;
	}
	
	span.top:hover{ 
		text-decoration:none; 
	}


/* ----------------------------------------------------
	NAVIGATIONS
------------------------------------------------------- */
	
	/* main navigation bar */
	#navigation_bar{
		width:960px;
		z-index:60;
		position:relative; 
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		text-align:center;
		border:none;
		height:57px;
	}
	
	#navigation{   
		list-style:none;
		list-style-position:outside;
		position:relative;
		width:auto;
		height:57px;
		padding:0 10px;
		display:inline-table;
		margin: 0 auto;
		text-align:left;
		z-index:90; 
	}
	
	#navigation li{
		float:left;
		font-size:15px;
		position:relative;
		line-height:100%;
		margin:0; 
	}
	
	/* seperator */
	#navigation li.first{
		background:none !important;
	}
	
	/* top-level links */
	#navigation li a{
		text-decoration:none;  
		display:block;
		line-height:52px;
		padding:0 25px 0 27px;
	}
	
	/* top-level links hover */
	#navigation li a:hover, #navigation li.current_page_item a, #navigation li.current_page_item li a:hover{
		text-decoration:none; 
	}
	
	#navigation li.current_page_item li a{ 
	}
	
	/* sub level links */
	#navigation li li a{ 
		font-size:11px;
		display:block; 
		padding:10px 14px;
		line-height:100%;
	}
	
	/* sub level links hover */    
	#navigation li li a:hover{} 
	
	/* drop down style */
	#navigation ul{
		z-index:50;    
		overflow:visible;
		width:auto;
		list-style-type: none; 
		list-style-position:outside;
		width:188px;
		padding:6px !important;
		position:absolute;
		z-index:90;
		left:0;
		top:52px;
		left:-6px;
		display:none;
		background:transparent url(../images/transparent.png);		
	}
	
	#navigation ul li{
		float:none;
		clear:both;
		display:block; 
		margin:0; 
	}
	
	/* sub levels positions */
	#navigation ul ul{	 
		position:absolute;
		left:170px;
		top:4px;
	}
	
	#navigation ul ul li{	 
		position:relative;
		z-index:299;
	}	


/* ----------------------------------------------------
	CONTENT
------------------------------------------------------- */

	.page_banner {
		display:none;
	}

	/* content wrapper */
	.content{
		width:946px;
		margin:0 auto;
	}
	
	/* content background for sub pages */
	.content.sub{ 
	}
	
	/* left-side of sub page */    	    
	.content .left{
		width:630px; 
		float:left;
		padding:10px 10px 0 10px;
	}
	
	/* full-width of sub page */    	    
	.content.sub.full{
		width:920px;
		margin:0 auto;
		padding:10px 0 0 0;
	}    

	/* full-width layout */    	    
	.content.full{
		width:940px;
		padding:0;
	}

	/* content backgrounds */
	.content_background.sub{ 
	}
	
	.content_background.banner{
		background:transparent url(../images/transparent.png) bottom ;
	}	
	
	.content_background{
		width:940px;
		margin:0;
		padding:10px; 
		background-repeat:repeat-x;
		background-position:bottom;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
	}    
	
	
/* ----------------------------------------------------
	SIDEBAR
------------------------------------------------------- */
	
	.sidebar{
		float:right;
		width:290px;
		min-height:100px;
		position:relative; 
		margin:0; 
		padding:0;
		overflow:hidden;
	}
	
	.sidebar_back{
		padding:0;
		position:relative;
		left:0;
		min-height:100px; 
		padding:8px 0 0 0; 
	}
	
	.sidebar_back2{
		position:relative;
		min-height:100px; 
		left:0;
		padding:0 0 30px 20px; 
	}        
	
	.sidebar h5,.sidebar h5 a{ 
	}


/* ----------------------------------------------------
	SIDEBAR MENU
------------------------------------------------------- */

	/* sidebar menu title position */
	.sidebar .sub_navigation h5{
		margin-left:20px;   
	}
	
	.sidebar .sub_navigation{
		margin:0 0 30px 0;
	}
	
	/* First level menu */
	.sidebar .sub_navigation ul.sub_navigation  {
		list-style:none;
		width:248px; 
	}
	
	.sidebar .sub_navigation ul.sub_navigation li {
		list-style-position:outside  !important; 
		position:relative; 
		left:-8px;
	}
	
	/* first level links */
	.sidebar .sub_navigation ul.sub_navigation li a{
		position:relative;
		display:block;
		padding:6px 0 6px 20px;
		text-decoration:none;   
		left:8px;
	}
	
	/* Second level menu */
	.sidebar .sub_navigation ul.sub_navigation ul {
		list-style:none;
		list-style-position:inside  !important;
		margin:8px 0 0 0 !important; 
		padding:0 20px 3px 2px;
	}
	
	.sidebar .sub_navigation ul.sub_navigation li ul li {
		background:none;
		padding:0 0 0 8px !important;
		position:relative;
		left:0;
		margin:0;
		width:auto;
		border-bottom:0px; 
	}
	
	/* second level links */
	.sidebar .sub_navigation ul.sub_navigation li ul li a{
		position:relative; 
		background:none;
		padding:0 0 0 20px;
	}    
	
	/* Third level menu */
	.sidebar .sub_navigation ul.sub_navigation ul ul{
		border-top:0;
		background:none;
		padding:0 0 0 7px;
	}
	
	/* third level links */
	.sidebar .sub_navigation ul.sub_navigation li ul li li a{ 
	}
	
	/* fourth level links */
	.sidebar .sub_navigation ul.sub_navigation li ul li li li a{ 
		font-style:italic;
	}       
	
	/* hover states */
	.sidebar .sub_navigation ul.sub_navigation li.current_page_item, .sidebar .sub_navigation ul.sub_navigation li:hover{ 
	}
	
	.sidebar .sub_navigation ul.sub_navigation li li.current_page_item, .sidebar .sub_navigation ul.sub_navigation li li:hover{ 
		background:none;
	}
	
	.sidebar .sub_navigation ul.sub_navigation li a:hover{ 
	}
	
	.sidebar .sub_navigation ul.sub_navigation li li a:hover{ 
	}    

/* ----------------------------------------------------
	HOME PAGE SLIDER
------------------------------------------------------- */
	
	/* Slider Height */    
	#slider, #slider_area{
		height:320px;
	}
	
	.slide,.background_image,#slider_area .desc{
		height:300px;
	}
	
	/* Wrappers */
	#slider{
		display:block;
		clear:both;
		padding:0px;
		position:relative; 
		padding:0 0 2px 0; 
		width:960px; 
	}
	
	#slider_area{
		overflow:hidden !important;
		width:958px; 
		margin:0 auto; 
		position:absolute;
		overflow:hidden;
		z-index:1; 
		padding:0px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		border:none;
	}
	
	/* Slider Background */
	.background_image{
		position:relative;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		width:938px; 
	}
	
	.slider_backgrounds{
		display:none;
		visibility: hidden;
	}
	
	/* Slides */
	.slide{
		width:938px;
		position:relative;
		overflow:hidden; 	
		padding:0px;
		margin:10px 0 0 10px; 
	}
	
	/* slider title */
	.slide .desc b.title{	  
		font-size:28px;
		font-weight:normal;
		line-height:100%;
		margin:20px 0;
		display:block; 
	}
	
	/* slider title with links */
	.slide b.title, .slide b.title a{ 
		text-decoration:none !important;
		border:0;
	}    
	
	.slide b.title a:hover{}        	
	
	.slide .image{
		margin:0;
		padding:0;
		position:relative;
		z-index:5;
		float:right;	
		padding:0px !important;
	}
	
	/* slider text */
	#slider_area .desc{
		width:270px;
		position:absolute;
		z-index:6; 
		margin:0px;
		font-size:12px; 
		padding: 10px 20px 10px 22px; 
		line-height:20px;
		left:628px; 
		-moz-border-radius: 0 8px 8px 0;
		-webkit-border-radius: 0 8px 8px 0;
		border-radius: 0 8px 8px 0;
	}
	
	#slider_area .desc a{ 
		text-decoration:underline;
	}
	
	#slider_area .desc a:hover{ 
		text-decoration:none;
	}
	
	/* slider numbers*/
	#numbers{
		z-index:9999;
		padding:0px 0 0 0px ;
		position:absolute;
		bottom:10px;
		left:18px;
		width:14px;
	}
	
	#numbers img{
		padding:2px 0;
	}
	
	/* active number style*/
	#numbers a { 
		display:block;
		outline: none;
	}
	
	/* active number style*/
	#numbers    a{  
	}
	
	#numbers   a:hover{  
	}
	
	#numbers   a.activeSlide{  
	}

/* ----------------------------------------------------
	TWITTER
------------------------------------------------------- */
	
	/* Twitter feeds*/
	.tweet_list {
		list-style: none;
		margin:10px 0 0 0 !important;
	}
	
	.tweet_list li {  
		padding: 0 0 10px 0;
		margin: 0 0 10px 0; 
		list-style-position:outside; 
	}
	
	
	/* Tweetbar s*/
	.tweetbar{
		font-size:15px;	    
		padding:5px 20px 0 60px;
		width:870px !important;
		font-style:italic;
		font-family:Georgia, "Times New Roman", Times, serif;
		min-height:42px;
	}
	
	.tweetbar li{
		border:none !important; 
	}
	
	.tweetbar a{ 
	}        

/* ----------------------------------------------------
	BUTTONS
------------------------------------------------------- */

	/* small button */
	a.small_button{ 
		height:22px  !important;
		display:inline-block;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		margin:0;
		position:relative;
		z-index:10;
		line-height:20px;
		text-decoration:none  !important; 
		padding:1px 15px 0 15px !important;
		font-size:11px  !important; 
	}
	
	.small_button span{
		position:relative;
		z-index:12;
	}
	
	/* big button */
	a.big_button{ 
		height:48px  !important;
		display:inline-block;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		margin:0   !important;
		position:relative;
		z-index:10;
		line-height:46px;
		text-decoration:none  !important; 
		padding:1px 22px 0 22px !important;
		font-size:18px  !important; 
	}  
	
	a.big_button span{
		position:relative;
		z-index:11; 
	}  
	
	/* medium button */
	a.medium_button{ 
		height:30px  !important;
		display:inline-block;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		margin:10px 0 0 0   !important;
		position:relative;
		z-index:10;
		text-decoration:none  !important;
		font-size:12px  !important; 
		padding:1px 15px 0 15px !important; 
		line-height:28px;
		font-style: normal !important;		
	}     
	
	.medium_button span{
		position:relative;
		z-index:12;
	}
	
	.desc a.medium_button{
		margin:20px 0 0 0 !important;
	}
	
	/* link button */    
	a.link_button{
		font-style: italic; 
		text-decoration:none;
		padding:0;
		display:inline-block;
	}
	
	a.link_button:hover{
		text-decoration:underline;
	}	 
	
	/* order button */
	a.order_button{
		display:block;
		outline:none;
		text-align:center; 
		height:50px;
		width:298px;
		display:inline-block; 
		line-height:50px;
		text-decoration:none; 
		margin:0 0 20px 0;
		font-size:18px; 
	}
	
	a.order_button:hover{ 
	}    

/* ----------------------------------------------------
	BANNER
------------------------------------------------------- */
	.banner{ 
		width:940px;
		margin:0 auto;
		position:relative;
		display:inline-block;
	}    
	
	.banner h2{ 
		line-height:0 !important;
		padding:0 !important;
		margin:0 0 10px 0 !important;
		display:inline-block;
	}   
	
	.banner .text{ 
		font-size:20px;
		margin:0 !important;
		padding:12px 0 0 0 !important;
		display:inline-block;
	}  	    


/* ----------------------------------------------------
	HOME PAGE FEATURED BOXES
------------------------------------------------------- */

	.featured{
		padding:0 10px;
	}

	.box.noimage{
		margin-top:10px !important;
	}	
	
	/* title */
	.title{
		margin:0 0 15px 0;
	}
	
	.title h4{
		padding:0 0 2px 0 !important;
		line-height:100%;
		font-size:26px;
	}
	
	/* sub title */
	.title span.sub_title{
		font-size:14px;
		font-family:Georgia, "Times New Roman", Times, serif;
		position:relative;
	}
	
	.title h5{
		padding:0 0 2px 0 !important;
		line-height:100%;
	} 
	
	/* Featured Images*/
	.featured_image{
		margin:0 0 10px 0;
	} 

/* ----------------------------------------------------
	RT-THEMES CSS FRAMEWORK
------------------------------------------------------- */
	/* columns common style */
	.boxes{
		display:block !important;
		clear:both;
	}
	.box{
		margin:0 0 20px 10px;
		padding:0 10px 0 0; 
		display:inline; 
		float:left;
		border:0; 
	}

	/* dynamic sidebars */
	.left .box.dynamic_sidebar,.content.home_page .box .box{
		margin:0 !important;
		padding:0 !important;  
		display:inline; 
		float:left;
		width:100%;
		border:0 !important;
		background-image:none !important;
	}
	
	/* sidebar box */
	.sidebar .box{  
		/* width:200px !important; */
		margin:0 auto 20px 20px;
		padding:0; 
		clear:both;
		display:block;
		background:none !important;
	}
	
	/* home page column borders */
	.content.home_page .box{
		margin:0 0 0 10px;
		padding:0 10px 20px 0;
	}
	
	.content.home_page .box.last{
		background:none;
	}

	
	/* footer column borders */
	.content.content_footer .box{
		background:none !important;
		padding-bottom:0px !important
	}
	 
	
	/*
	columns
	*/

	/* two  */
	.box.one{
		width:930px;
		background:none !important;
		clear:both;
	}
	
	/* two  */
	.box.two{
		width:460px;
	}
	
	/* three*/
	.box.three{
		width:300px;
	}
	
	/* Four*/
	.box.four{
		width:220px; 
	}
	
	/* Five*/
	.box.five{
		width:172px; 
	}    
	
	/* 2:3 column*/
	.box.two-three{
		width:620px; 
	}
	
	/* 3:4 column */
	.box.three-four{
		width:700px; 
	}
	
	/* 4:5 column */
	.box.four-five{
		width:748px; 
	}
	
	/*
	columns for sub pages
	*/
	
	/* two  */
	.sub.full .box.two{
		width:450px;
	}
	
	/* three*/
	.sub.full .box.three{
		width:293px;
	}
	
	/* Four*/
	.sub.full .box.four{
		width:215px; 
	}
	
	/* Five*/
	.sub.full .box.five{
		width:168px; 
	}    
	
	/* 2:3 column*/
	.sub.full .box.two-three{
		width:607px; 
	}
	
	/* 3:4 column */
	.sub.full .box.three-four{
		width:685px; 
	}
	
	/* 4:5 column */
	.sub.full .box.four-five{
		width:732px; 
	}
	
	/*
	columns for sub pages with sidebar
	*/
	
	/* two  */
	.left .box.two{
		width:320px;
	}
	
	/* three */
	.left .box.three{
		width:196px;
	}
	
	/* Four */
	.left .box.four{
		width:150px; 
	}
	
	/* Five */
	.left .box.five{
		width:116px; 
	}
	
	/* 2:3 column */
	.left .box.two-three{
		width:434px; 
	}
	
	/* 3:4 column */
	.left .box.three-four{
		width:490px; 
	}
	
	/* 4:5 column */
	.left .box.four-five{
		width:524px; 
	} 
	

	
	/*
	columns for product left page
	*/
	
	/* two  */
	.pane .box.two{
		width:272px; 
	}
	
	/* three */
	.pane .box.three{
		width:174px; 
	}
	
	/* Four */
	.pane .box.four{
		width:125px; 
	}
	
	/* Five */
	.pane .box.five{
		width:96px;  
	}
	
	/* 2:3 column */
	.pane .box.two_three{
		width:368px; 
	}
	
	/* 3:4 column */
	.pane .box.three_four{
		width:415px; 
	}
	
	/* 4:5 column */
	.pane .box.four_five{
		width:446px; 
	}
	
	
	/* first and last column fix*/
	.box.first{
		margin-left:0px !important;
	}
	
	.box.last{
		margin-right:0px !important;
		padding-right:0px !important;
	}    


/* ----------------------------------------------------
	PORTFOLIO
------------------------------------------------------- */        

	/* portfolio info */
	.portfolio_info{
		margin:10px 10px 0 10px;
	}


/* ----------------------------------------------------
	CATEGORY LIST DROP-DOWN MENU
------------------------------------------------------- */

	/* categories */
	.portfolio_categories{
		position:absolute;
		right:10px;
		margin-top:-57px;
		width:231px;
		height:38px; 
		z-index:40;
		cursor:pointer;
	}
	
	/* link close */
	.m_title{
		font-size:12px;  
		width:230px;
		display:block;
		padding:10px 15px 0 25px; 
	}
	
	/* link open */
	.portfolio_categories_open .m_title{ 
		width:230px;
		display:block;
		padding:9px 0 0 10px;
		line-height:100%;
		position:relative;  
		cursor:pointer; 
	}	
	
	/* open */
	.portfolio_categories_open{
		width:247px;
		height:38px;
		padding:0;
		position:absolute;
		display:none;
		right:2px;
		margin-top:-77px;
		z-index:40;		
	} 
	
	.portfolio_categories_open img{
		display:block;
		padding:0;
		margin:0;
		border:0;
	} 	
	
	.portfolio_categories_open .back{ 
		padding:0 20px;
		margin:0;
	}
	
	/* category links */
	.portfolio_categories_open ul{
		list-style:none;
		margin:15px 0 0 0;
		padding:0;
	}	
	
	.portfolio_categories_open ul ul{
		list-style:none;
		margin:5px 0 0 0;
		padding:0;
	}		 
	
	.portfolio_categories_open li{   
		list-style-position:outside;
		padding:5px 0;
		margin:0;
	}    
	
	.portfolio_categories_open li li{  
		padding:3px 0 0 10px;
	}   
	
	.portfolio_categories_open li a{
		text-decoration:none;
		padding:5px 10px;  
		font-size:12px;
	}
	
	.portfolio_categories_open li li a{
		text-decoration:none;
		padding:5px 13px;  
		font-size:11px;
		display:block; 
	}
	
	.portfolio_categories_open li a:hover{ 
	}	
	
	.portfolio_categories li a:hover{}        

/* ----------------------------------------------------
	PRODUCTS
------------------------------------------------------- */
	
	/* product info */
	.product_info{
		margin:10px 10px 0 10px;
	}
	
	/* Related Products Title*/
	.related_products{
		display:block;
		font-size:17px;
		line-height:100%; 
		padding:5px 0 5px 35px; 
		margin:0 0 20px 0;
	}
	
	/* Product icons */
	.doc_icons{
		list-style:none;
		width:282px;
		text-align:center;
	}
	
	.doc_icons li{
		list-style-position:inside;
		float:left;
		padding:0;
		margin:6px;
	}
	
	/* Product Slider*/
	.product_sliderss{ 
		width:300px; 
		position:relative; 
	}
	
	.product_slider div{}
	
	/* slider numbers*/
	.slider_buttons{
		height:15px;
		text-align:center;
		margin:0 0 20px 0;
		padding:0 !important;
	}
	
	.slider_buttons img{
		padding:0 !important;
		width:9px;
		height:9px;
	}
	
	/* active number style*/
	.slider_buttons a{
		margin:0 0 0 4px;  
		line-height:0px !important;
		height:10px;
	}
	
	.slider_buttons a:hover{  
	}
	
	.slider_buttons  a.activeSlide{  
	}
	
	p.product{
		font-size:16px;
		line-height:24px; 
	} 

	/* column for product */
	.box.product{
		width:380px; 
	}


/* ----------------------------------------------------
	PHOTO GALLERY
------------------------------------------------------- */

	.photo_gallery{
		clear:both;
		display:block;
		margin: 0 5px 20px 0;
	}
	
	.photo_gallery ul{
		list-style:none;
		margin:0;
	}
	
	.photo_gallery ul li{
		list-style-position:outside; 
		float:left;
		margin: 0 10px 6px 0;
	}
	
	.photo_gallery_cycle .border{
		padding-bottom:40px !important;
	} 

/* ----------------------------------------------------
	BLOG
------------------------------------------------------- */

	/* Blog */
	.box.blog_box{
		width:100%;
	}
	
	.space{
		clear:both;
		margin:0 0 20px 0;
		display:block;
		position:relative;
		height:1px;
	}    

	.space.half{
		margin:0 0 10px 0;
	}

	.blog_image{
		display:block;
		position:relative;
		margin:0 0 10px 0;
	}
	
	/* links for the blog info blocks - categories, comments etc. */
	.box .dateandcategories{
		text-decoration:none;
		font-size:11px;
		line-height:140%;
		margin:0 0 20px 0;
	}

	.box .dateandcategories i{
		font-family:Georgia, "Times New Roman", Times, serif;
	}	
	
	
	
	.box .dateandcategories a{
		text-decoration:none; 
	}
	
	.box .dateandcategories a:hover{
		text-decoration:underline;
	}    
	
	/* date block */
	.box .date{
		width:40px;
		height:34px;
		padding:6px 0 0 0 !important;
		float:left;
		text-align:center;
		font-size:11px;
		line-height:11px;
	}
	
	/* date block day*/
	.box .date .day{
		font-size:16px;
		line-height:16px;
	}
	
	/* categories */
	.box .categories{
		float:left;
		margin:0 10px !important;
		min-height:27px;
		padding:13px 10px 0 10px;
		font-size:11px;
		line-height:13px;
	}
	
	/* comments block */
	.box .comments{
		width:70px;
		height:34px;
		float:right;
		font-size:11px;
		line-height:11px;
		text-align:center;
		padding:6px 0 0 0 !important;
	}
	
	/* comment number */
	.box .comments .number{
		font-size:16px;
		line-height:16px;	
	}


/* ----------------------------------------------------
	PAGING
------------------------------------------------------- */
	.paging_wrapper{
		text-align:center;
		display:block;
		clear:both;
	}
	
	.paging {
		display:inline-table; 
		margin:0 !important;
		position:relative;
		list-style-type:none;
		padding:20px;
	}     
	
	.paging li{
		display:inline;
		margin-right:5px;
		float:left; 
	}
	
	/* paging links */
	.paging li a{
		border:0;
		overflow:hidden;
		width:26px;
		height:28px;
		display:block;
		text-align:center;
		text-decoration:none; 
		line-height:26px;
	}
	
	/* paging arrows */
	.paging .arrowleft a:hover{
		background:url(../images/pagination.png) left top no-repeat;
	}
	
	.paging .arrowright a:hover{
		background:url(../images/pagination.png) left -30px no-repeat;
	}
	
	.paging .arrowleft a{
		background:url(../images/pagination.png) -27px top no-repeat;
	}
	
	.paging .arrowright a{
		background:url(../images/pagination.png) -27px -30px no-repeat;
	}     
	
	/* active and hover state */
	.paging li a:hover, .paging li.active a{
		background:url(../images/pagination.png) left -60px no-repeat;
	}
	
	/* paging mouseover*/
	.paging li.active a{
		text-decoration:none; 
	}
	
	.paging li a:hover{
		text-decoration:none;   
	}

/* ----------------------------------------------------
	LINKS
------------------------------------------------------- */
	
	a{
		text-decoration:underline; 
	}
	
	a:hover{
		text-decoration:none; 
	}


/* ----------------------------------------------------
	HEADINGS
------------------------------------------------------- */

	h1,h2,h3,h4,h5,h6{ 
		letter-spacing:0px;
		font-weight:normal;
		position: relative;
		padding: 0 0 10px 0;         
		font-weight:normal; 
	}
	
	h1{
		font-size: 34px;
		line-height:54px;
	}
	
	h2{
		font-size: 28px;
		line-height:36px;		
	}
	
	h3{
		font-size: 24px;
		line-height:32px;
	}
	
	h4{
		font-size: 20px;
		line-height:30px;			
	}
	
	h5{
		font-size: 18px;
		line-height:27px;		
	}
	
	h6{
		font-size: 16px; 
		line-height:22px;	
	}
	
	/*	heading colors and links  */
	h1 a, h2 a{ 
		text-decoration:none; 
	}
	
	h3, h4,h5,h6, h3 a, h4 a, h5 a, h6 a{ 
		text-decoration:none; 
	}
	
	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{ 
	}

/* ----------------------------------------------------
	TABLES
------------------------------------------------------- */

	table{
		border-collapse: collapse;
		border-spacing: inherit;
		margin:0 0 20px 0; 
		padding:0;    
		background-color: white;
		width: 100%; 
	}
	
	table caption strong{
		text-align:left;
		font-size: 14px;
		font-weight: normal;
		line-height:20px;
		font-weight:bold;
	}
	
	table caption{
		text-align:left;
		padding: 0 0 10px 3px;
		font-style: italic;
	}
	
	table th {
		padding: 13px; 
		font-size: 12px;  
		color: #ff6600;
		font-weight: bold;   
	}
	
	table td {
		padding: 10px;
		text-align: left;
		margin:10px;         
	}
	
	table tr.dark { 
	}    

    .sidebar table {
        width:100%;
	   border-collapse: collapse;
    }
    
    .sidebar table th {
        padding: 10px; 
        font-size: 12px; 
    }

    .sidebar table td {
        padding: 8px;
        text-align: left;
	   
    }
    
/* ----------------------------------------------------
	TEXT ELEMENTS
------------------------------------------------------- */
	
	/* text selection */
	::selection { 
	}
	
	::-moz-selection { 
	}
	
	/* Standart blockquote */
	blockquote {
		font-size:15px;
		line-height: 21px;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-weight:normal;
		font-style:italic;	   
		position:relative;  
		width:auto;
		margin:30px 0; 
	}
	
	
	blockquote em, blockquote i, blockquote cite {
		font-style:normal;
	}
	
	blockquote p{
		padding:10px 10px 0 50px;
		margin:0 0 10px 0;
	}	
	
	/* Sidebar blockquote */
	.sidebar blockquote , .content_footer blockquote {
		font-size:12.5px;
		line-height: 18px; 
		margin:0 0 0px 0;
		position:relative;
	}
	
	.sidebar blockquote p,.content_footer blockquote p{
		padding:10px 0 0 0;
		margin:0 0 10px 1px;
		text-shadow:none !important;
	}	    

	/* pull quote */
	blockquote.pullquote {
		width:300px;  
	}
	
	blockquote.pullquote p{
		padding:20px 20px 10px 50px;
	}
	
	blockquote.alignleft{
		float:left;
		margin: 6px 20px 6px 0;
		display: inline; 
	}
	
	blockquote.alignright{
		float:right;
		margin: 6px 0 6px 20px;
	}
	
	pre {
		line-height:18px;
		margin-bottom:18px;
	}
	
	code {
		display:block;
		margin:0 0 20px 0;
		padding:0 10px;
		font-weight:normal;
		font-size:12px;
		font-family:"Courier New", Courier, Consolas, Monospace;
		line-height:18px;
		overflow:auto; 
		white-space:pre;
	}
	
	ins {
		text-decoration:none;
	}
	
	sup {
		bottom: 1ex;
	}
	
	sub {
		top: .5ex;
	}
	
	/* paragraph */
	p {
		padding:0 0 20px 0;
	}
	
	/* dropcaps */    
	span.dropcap{ 
		font-size:22px;
		height:39px;
		width:39px;
		display:block;
		float:left;
		line-height:34px;
		margin:0 8px -3px 0;
		text-align:center; 
	}
	
	span.dropcap.style2{
		font-size:42px;
		background:none !important;  
		width:auto !important;
		height:auto !important;
	}    
	
	/*
	Highlighted Texts
	*/
	
	/*blue*/
	span.htext{ 
		padding:3px 4px; 	        
	}
	
	/*yellow*/
	span.yellow{ 
		padding:3px 4px;       
	}
	
	/*black*/
	span.black{ 
		padding:3px 4px;      
	}
	
	/*red*/
	span.red{ 
		padding:3px 4px; 	        
	}

/* ----------------------------------------------------
	IMAGES
------------------------------------------------------- */

	/* image alignments */
	img.aligncenter{
		display:block;
		text-align:center;
		display: block;
		margin:0 auto 20px auto;
		padding:0px;
		border:0px;
		background:none;
	}
	
	img.alignleft{
		float:left;
		margin: 6px 20px 6px 0;
		display: inline;
		border:0px;
		background:none;
		padding:0;
		display:block;
	}
	
	img.alignright{
		padding:0;
		float:right;
		margin: 6px 0 6px 20px;
		border:0px;
		display:block;
		background:none;
	}


	/*
	Images with mouseover effect
	*/
	
	/* mouse over effect */
	.imagemask{ 
		position:absolute; 
		z-index:20;
		opacity:0; 
		overflow:hidden;
		display:block;
	}
	
	a.imgeffect,a.imgeffect:hover{
		text-decoration:none;
		cursor:pointer;
	}
	
	/* plus icon */
	.imagemask.plus{ 
	}
	
	/* play icon */
	.imagemask.play{ 
	}

	/* link icon */
	.imagemask.link{ 
	}	


/* ----------------------------------------------------
	FRAMES, BORDERS, CAPTIONS
------------------------------------------------------- */


	/* frame and captions common */
	.frame, .wp-caption{
		padding:6px;
		-moz-border-radius:8px;
		-webkit-border-radius:8x;
		border-radius:8px; 
		display:inline-block;
		position:relative;
		margin-left:1px; 
		font-family:Georgia, "Times New Roman", Times, serif;
		font-style:italic; 
		text-align:center;
	} 
	
	.sidebar .frame{
		position:relative;
		padding:10px;
		margin:0 0 10px -10px !important;
	}
	
	.popular_posts .frame{
		margin:0 10px 0px 0px !important
	}
	
	/* Image Caption Texts */
	.wp-caption-text{
		clear:both;
		display:block;
		padding:8px 0 0 0 !important;
	}
	
	.frame.block{
		display:inline-block !important;
	}

	/* fixed small frame */
	span.frame.small{
		width:300px;
		padding:20px;
	}

	span.frame.fullborder{
		margin:0 0 20px 0;
		padding:20px;
	}	
	
	/* aligns */
	span.frame.alignleft, .wp-caption.alignleft{
		float:left !important;
		margin: 6px 20px 6px 2px;
		display: inline !important;
		position:relative;
	}
	
	span.frame.alignright, .wp-caption.alignright{
		float:right !important;
		margin: 6px 2px 6px 20px;
		display: inline !important;
		position:relative;
	}
	
	.frame img, .wp-caption img{ 
		display:block;
		float:left;
	}
	
	.sidebar div.frame{
		margin:3px 2px;
	}
	
	.aligncenter .frame{ 
		margin:2px 0 0 0 !important;
	} 
	
/* ----------------------------------------------------
	FORMS
------------------------------------------------------- */

	/* all form elements common */
	.content input, .content select, .content textarea{
		font-family: Arial, Helevtica, Verdana, san-serif;
		font-size:12px;    
		position:relative;
		outline: none;
		padding:8px; 	
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;      
	}

	.content input:focus, .content select:focus, .content textarea:focus{ 	
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;          
	}	

	/* image buttons, checkbox and radio */
	.content input[type="image"],.content input[type="checkbox"],.content input[type="radio"]{
		width:auto;
		border:0;
		padding:0;
		-moz-box-shadow:none !important;
		-webkit-box-shadow:none !important;
		box-shadow:none !important;
	}
	
	/* buttons */
	.content form input[type="button"], .content form input[type="submit"]{ 
		-moz-box-shadow:none !important;
		-webkit-box-shadow:none !important;
		box-shadow:none !important; 
		width:auto !important; 
		height:24px;
		text-align:center;
		display:inline-block !important;
		font-size:12px;
		line-height:12px;
		position:relative; 
		text-decoration:none; 
		border:0;
		padding:2px 10px;
		cursor:pointer; 
		min-width:100px;
	}

	/* labels */
	.content form label{
		display:block;
		float:none;
		margin: 0 10px 0 0; 
		font-family:Georgia, "Times New Roman", Times, serif;
		font-style:italic;
		position:relative;
	}
	
	/* list in forms */
	form ul, form li{
		list-style-type:none;
		list-style-position:outside;                
		border:0;
		margin:0;
		padding:0;
		display:block;
		clear:both;
	}
	
	form ul li {
		margin:0px 0 4px 0px;
		padding:4px 0 4px 0px;
	}
	
	/* form field widths */ 
	.content input[type="text"]{
		width:400px;
	}
	
	.content textarea{
		width:600px;
		overflow:auto;
	}
	
	/* form field widths for sidebar*/ 
	.content .sidebar input[type="text"], .content .sidebar  select, .content .sidebar textarea{
		width:180px !important;
	}
	
	/* form validation */  
	#validate_form label.error {
		display:none !important;
	}
	
	#validate_form .error{
		color: red;
		border: 1px solid red;
	}

	#validate_form .loading{
		margin:0 0 0 10px;
	}	
	
	
	/* Form Messages*/
	.ok_box{
		padding:20px;
		width:auto;
		margin:0 0 30px 0;
		position:relative;
		display:inline-block;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;  
	}    
	
	.ok_box h3{
		font-size:18px;
		color:green;
	}
	
	.error_box, #loader{
		padding:20px;
		width:auto;
		margin:0 0 30px 0;
		position:relative;
		display:inline-block;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;  
	} 


/* ----------------------------------------------------
	FOOTER
------------------------------------------------------- */

	.footer_background{ 
		padding:0 0 20px 0;
		width:980px;
		margin:0 auto;
	}
	
	#footer {
		margin:0 auto 0 auto;	
		clear:both;
		width:940px;
		clear:both;
		overflow:hidden;
		padding:0 10px;
		font-size:11px; 
		min-height:50px;
	}
	
	/* footer copyright text */
	#footer .part1{
		float:left;
		display:inline;
		margin:0;
		line-height:12px;
		padding:0;
		margin:20px 0 0 0;
	}
	
	#footer .copyright{
		float:left;
		display:inline;
	}
	
	
	/* footer navigation */
	
	/* footer links */
	#footer  a{
		text-decoration:none;
	}
	#footer  a:hover{
		text-decoration:underline; 
	}
	
	ul.footer_links{
		list-style:none;
		list-style-position:outside;
		display:inline;
		float:left;
		margin:0 0 0 5px;
	}
	
	ul.footer_links li{ 
		line-height:12px;
		float:left;
		padding:0 7px ;
	}
	
	ul.footer_links li{  
	}
	
	ul.footer_links li.last{ 
		border-right:0;
	}    
	
	/* Social media icons */
	#footer ul.social_media_icons{
		float:right;
		margin:6px 0 0 0;
		font-size:11px; 
	}
	
	ul.social_media_icons li{
		list-style:none;
		float:left;
		margin:0 0 0 5px;
	}
	
	.social_media_icons img{
		opacity:0.8; 
	}


/* ----------------------------------------------------
	LISTS
------------------------------------------------------- */

	/* content lists */
	ul, ol{
		list-style: disc;
		margin:0 0 20px 17px;
	}
	
	ul ul, ol ol{
		list-style: circle;
		padding:0 10px;
		margin:0 0 10px 0;
	}

	ul ul ul, ol ol ol{
		list-style: square;
		padding:0 10px;
		margin:0 0 10px 0;
	}	

	ol{
		list-style: decimal;
	}
	
	ol ol{
		list-style: lower-latin;
	}

	ol ol ol{
		list-style: lower-roman;
	}	
		
	ul ul li, ol ol li{ 
		margin:5px 0 5px 15px;
	}
	
	dl{
		margin:0 0 20px 0;
	}
	
	dd{
		margin:5px 0 5px 15px; 
		font-family:Georgia, "Times New Roman", Times, serif;
		font-style:italic;		
	}
 
	.lined li{
		padding:5px 0;
	}

	/* list with stars */
	.star{ 
		margin:0 0 20px 22px;
	}
	
	/* list with check image */
	.check{ 
		margin:0 0 20px 22px;		
	}   	
	
	/* Tooltip */
	
	/* tooltip styling */
	.tooltip {
		display:none; 
		padding:4px 20px; 
		position:relative;  
		font-size:11px;
		-moz-box-align: center;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		z-index:999;
	}


/* ----------------------------------------------------
	PRODUCTS DETAIL TABS
------------------------------------------------------- */

	/* sub page tabs */
	div.taps_wrap {
		width:680px;
		margin-bottom:40px;
		padding:0; 
	}
	
	/* full width sub page tabs*/
	.full div.taps_wrap {
		width: 100%;
		margin:0;
		padding:0;
		height:460px !important;
		overflow:hidden;
	}
	
	.taps_wrap .pane  {
		margin:10px 0;
		display:none;		
		padding:20px;
		width:580px;
		height:400px !important;
		overflow:hidden; 
		_background-image:none;
	} 
	
	/* root element for tabs  */
	ul.tabs { 
		list-style:none; 
		margin:0 !important; 
		padding:0 0 0 3px; 
		height:36px;
	}
	
	/* single tab */
	ul.tabs li { 
		float:left;	 
		text-indent:0;
		padding:0;
		margin:0 !important;
		list-style-image:none !important; 
	}
	
	/* link inside the tab. uses a background image */
	ul.tabs a { 
		font-size:13px;
		display:block;
		height: 36px;  
		line-height:39px;
		width: 144px;
		text-align:center;	
		text-decoration:none; 
		padding:0px;
		margin:0px;	
		position:relative;
		top:1px;
		margin:0 0 0 4px; 
	}
	
	ul.tabs a:active {
		outline:none;		
	}
	
	/* when mouse enters the tab move the background image */
	ul.tabs a:hover {
		background-position: 0 -43px;	 
	}
	
	/* active tab uses a class name "current". its highlight is also done by moving the background image. */
	ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
		background-position: 0 -85px;		
		cursor:default !important;  
	}
	
	/* initially all panes are hidden */ 
	.panes .pane {
		display:none;		
	}
	
/* ----------------------------------------------------
	CONTACT LIST
------------------------------------------------------- */

	.contact_list{
		list-style-type:none;
		margin:0;
	}

	.contact_list li{
		list-style-type:none;
		margin:0;
		padding:0 0 8px 0;
	}	
	
	.contact_list .phone{ 
		padding-left:25px;
	}

	.contact_list .home{ 
		padding-left:25px;
	}

	.contact_list .mail{ 
		padding-left:25px;
	}

	.contact_list .support{ 
		padding-left:25px;
	}		

/* ----------------------------------------------------
	COMMENTS
------------------------------------------------------- */
	
	#comments{
		margin:20px 0 0 0;
	}
	
	/* commentart title */
	#comments #comments-title{
		margin:0 0 15px 0;
	}
	
	#comments ol.commentlist{
		list-style:none;
		border:0;
		padding:0;
		margin:0;
	}
	
	#comments ol.commentlist li{
		list-style-position:outside; 
		float:none;
		clear:both;
		display:block;
		margin:0 0 20px 0;
		border:0;
		padding:0;
	}
	
	#comments ol ul{
		list-style:none;
		padding:0;
		margin:20px 0 20px 0;
		border:0;
	}
	
	/* avatar */
	#comments ol.commentlist li .comment-avatar{
		float:left;
		padding:0 10px 0 0;
	}
	
	/* debth 2 */
	#comments ol.commentlist li.depth-2 .comment-avatar{
		margin:0 0 0 68px;
	}
	
	/* debth 3 */
	#comments ol.commentlist li.depth-3 .comment-avatar{
		margin:0 0 0 138px;
	}
	
	/* debth 4 */
	#comments ol.commentlist li.depth-4 .comment-avatar{
		margin:0 0 0 210px;
	}
	
	#comments ol.commentlist li .comment-avatar img{
	display:block;
	}
	
	/* comment body */
	#comments ol.commentlist li .comment-body{
		width:580px;
		float:right; 
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		padding:10px; 
	}
	
	/* depth 2 */
	#comments ol.commentlist li.depth-2 .comment-body{
		width:512px; 
	}
	
	/* debth 3 */
	#comments ol.commentlist li.depth-3 .comment-body{
		width:442px; 
	}
	
	/* debth 4 */
	#comments ol.commentlist li.depth-4 .comment-body{
		width:370px; 
	}
	
	.comment-author{
		display:block;
		height:24px;
	}
	
	#comments ol.commentlist li .comment-body .comment-author, .cancel-reply a{
		padding:5px 3px 3px 6px;
		margin:0 0 10px 0;
		background:#fff;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px; 
		font-size:11px;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-style:italic;
	}
	
	/* author name */
	#comments ol.commentlist li .comment-body .author-name{
		font-size:12px; 
		float:left;
		font-style:italic;
	}
	
	#comments ol.commentlist li a,.cancel-reply a{ 
		text-decoration:none;
	}
	
	#comments ol.commentlist li a:hover{ 
		text-decoration:none;
	}
	
	#comments ol.commentlist li .comment-body .comment-meta{
		font-size:11px; 
		position:relative;
		float:right;
	}
	
	#comments ol.commentlist li .comment-body .comment-meta .comment-reply{ 
		padding:4px 8px;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		margin:0 0 0 5px; 
	}
	
	#comments ol.commentlist li .comment-body .comment-meta .comment-reply a:hover{ 
	}
	
	#comments ol.commentlist li .comment-body .comment-meta .comment-reply:hover{ 
	}
	
	#comments ol.commentlist li p{
		clear:both;
		display:block; 
		padding:0 5px!important;
	}
	
	#comments .text-boxes{
		display:block;
		clear:both;
		margin:0 0 10px 0;
	}

	#comments label{
		margin:5px 0 0 0;
	}
	
	#comments .message{
		margin:0 0 10px 0;
	}
	
	#comments .comment_input{
		width:200px;
		margin:0 6px 0 0; 
	}
	
	#comments .comment_textarea{
		width:654px;
		height:140px;
	}
	
	.cancel-reply{
		position:absolute; 
		margin:0 0 0 490px;
	}

	.cancel-reply a{
		padding:3px 10px;
	}
	
/* ----------------------------------------------------
	SHORTCODE SLIDER
------------------------------------------------------- */
	.photo_gallery_cycle ul{
		list-style:none;
		margin:0;
		padding:0;
	}

	.shortcode .slider_buttons{
		margin:5px 0 0 0;
		padding:0;
	}
	
/* ----------------------------------------------------
	SHORTCODE BUTTONS
------------------------------------------------------- */

	/*--------- BLUE -------- */
	
	/* small button */
	a.small_button.blue{
		background: url(../images/style1/button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}
	
	
	/* big button */
	a.big_button.blue{
		background: url(../images/style1/big_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
		border:1px solid #6099ac;
	}  
	
	/* medium button */
	a.medium_button.blue{
		background: url(../images/style1/medium_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}     
	
	/* order button */
	a.order_button.blue{
		background: url(../images/style1/order-button.png) center -2px no-repeat;
		color:#fff;
		text-shadow:0 1px 1px #424242;
	}
	
	a.order_button.blue:hover{
		background: url(../images/style1/order-button.png) center -54px no-repeat;
		text-shadow:0 1px 1px #303030;
	}
	

	/*--------- RED -------- */

	/* small button */
	a.small_button.red{
		background: url(../images/style2/button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}
	
	
	/* big button */
	a.big_button.red{
		background: url(../images/style2/big_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
		border:1px solid #7A0F1C;
	}  
	
	/* medium button */
	a.medium_button.red{
		background: url(../images/style2/medium_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}     
	
	/* order button */
	a.order_button.red{
		background: url(../images/style2/order-button.png) center -2px no-repeat;
		color:#fff;
		text-shadow:0 1px 1px #424242;
	}
	
	a.order_button.red:hover{
		background: url(../images/style2/order-button.png) center -54px no-repeat;
		text-shadow:0 1px 1px #303030;
	}

	
	/*--------- SILVER -------- */

	/* small button */
	a.small_button.silver{
		background: url(../images/style3/button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}
	
	
	/* big button */
	a.big_button.silver{
		background: url(../images/style3/big_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
		border:1px solid #7A7A7A;
	}  
	
	/* medium button */
	a.medium_button.silver{
		background: url(../images/style3/medium_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}     
	
	/* order button */
	a.order_button.silver{
		background: url(../images/style3/order-button.png) center -2px no-repeat;
		color:#fff;
		text-shadow:0 1px 1px #424242;
	}
	
	a.order_button.silver:hover{
		background: url(../images/style3/order-button.png) center -54px no-repeat;
		text-shadow:0 1px 1px #303030;
	}	 

	/*--------- GREEN -------- */

	/* small button */
	a.small_button.green{
		background: url(../images/style4/button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}
	
	/* big button */
	a.big_button.green{
		background: url(../images/style4/big_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
		border:1px solid #6F7A6E;
	}  
	
	/* medium button */
	a.medium_button.green{
		background: url(../images/style4/medium_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}     
	
	/* order button */
	a.order_button.green{
		background: url(../images/style4/order-button.png) center -2px no-repeat;
		color:#fff;
		text-shadow:0 1px 1px #424242;
	}
	
	a.order_button.green:hover{
		background: url(../images/style4/order-button.png) center -54px no-repeat;
		text-shadow:0 1px 1px #303030;
	}

	/*--------- GOLDEN -------- */

	/* small button */
	a.small_button.golden{
		background: url(../images/style5/button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}

	/* big button */
	a.big_button.golden{
		background: url(../images/style5/big_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
		border:1px solid #7A6A52;
	}  
	
	/* medium button */
	a.medium_button.golden{
		background: url(../images/style5/medium_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}     
	
	/* order button */
	a.order_button.golden{
		background: url(../images/style5/order-button.png) center -2px no-repeat;
		color:#fff;
		text-shadow:0 1px 1px #424242;
	}
	
	a.order_button.golden:hover{
		background: url(../images/style5/order-button.png) center -54px no-repeat;
		text-shadow:0 1px 1px #303030;
	}


/* Flickr Thumbs */
	
	.thumbs {
		margin: 10px 0 10px 0 !important;
		padding: 0;
		overflow: hidden;
	}
	
	.thumbs li {
		list-style: none;
		float: left;
		margin:  0 6px 2px 0 ;
		padding: 0 0 0 1px;
	}
	
	.thumbs li a {}
	
	.thumbs li img {
		display: block;
	}
	
	.thumbs li a img {
		border: none;
	}
	
	.thumbs li .frame {
		margin:0 !important;
		padding:8px !important;
	}
   
/* Popular Posts */
	.popular_posts {
		list-style:none;
		margin:10px 0 0 0 !important;
	}
	
	.popular_posts li {
		list-style-position:outside;
		border-bottom: 1px solid #F3F3F3;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}    
	
	.popular_posts li .date {
		letter-spacing:2px;
		font-size:10px;
		float:none !important;
	}
     
	.latest_post_image{
		padding:6px !important;
		margin: 0 10px 0 0 !important;
	}
	
	.popular_posts p{
		padding: 0 !important;
	}

	.popular_posts .comment_number{
		font-size:9px;
		padding: 4px;
		text-shadow:0 1px #fff;
		color:#676767;
		background: #E4E4E4;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		margin: 0 0 0 5px;
		min-width:10px;
		display:inline-block;
		text-align:center;
		line-height:100%;
	}

/* about the author */
   	
	.info_box_content{
	}
 
	.info_box_content p{
	    padding:10px 0;
	    color:#ACACAC;
	}    
	
	.info_box_content strong a{
		font-family:Georgia, "Times New Roman", Times, serif;
		font-weight:normal; 		
		text-decoration:none;
		color:#858585;
		font-size:15px;
	}
 
	.info_box_content strong a:hover{
	    text-decoration:underline;
	    color:#363636;
	}
	

/* Tags*/
	
	.tags{
		margin:10px 0 0 0;
		color:#B8B8B8;
	}
	
	.tags span{
		display:inline-block;
	}
	
	.tags span:hover{
		color:#B8B8B8;
	}
	
	.tags span:hover a{
		color:#818181;
	}
		
	.tags span a{
		font-family:Georgia, "Times New Roman", Times, serif;
		font-style:italic;
		display:inline-block;
		color:#fff;
		font-size:11px;
		text-decoration:none;
		color:#B4B4B4;
	}
	
/**/

.sticky{}
.gallery-caption{}
.bypostauthor{}