@import url(https://fonts.googleapis.com/css?family=Raleway);
#apiEnquiryForm {
	margin:0px;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	padding:15px;
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
	border-radius:5px;
	background:rgba(254, 126, 17, 0.5);
	color: #000000;
}

#apiEnquiryForm * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


#apiEnquiryForm label {
	display: block;
	color: #000000;
}

#apiEnquiryForm label.radio {
	display: inline;
}

#apiEnquiryForm input[type=text] , #apiEnquiryForm select , #apiEnquiryForm textarea  {
	width:100%;
	padding:5px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #616161;
	background: #fff;
	font-size: 12px;
}

#apiEnquiryForm input.postCode{
	width:65%;
}

#apiEnquiryForm select.landLineNumberAreaCode{
	width:25%;
}

#apiEnquiryForm input.landLineNumber{
	width:70%;
	float:right;
}

#apiEnquiryForm select.state{
	width:30%;
}

#apiEnquiryForm textarea {
	height:50px;
}

#apiEnquiryForm input[type=button] {
	background: #ffa84c; /* Old browsers */
	background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffa84c 0%,#ff7b0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
   	color: #fff;
   	font-size: 14px;
   	height: 43px;
   	line-height: 43px;
   	padding: 0px 66px;
   	border: 1px solid rgba(0, 0, 0, 0);
   	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
   	box-sizing: content-box;
   	cursor: pointer;
   	font-weight: bold;
   	outline: 0 none;
   	overflow: hidden;
   	position: relative;
   	text-align: center;
   	text-shadow: 0 1px 0 #fff;
   	text-transform: uppercase;
}

#apiEnquiryForm p.api-post-failed {
	color: red;
}

#apiEnquiryForm p.api-post-success {
}

@media (max-width: 220px) {
	#apiEnquiryForm select.state {
		width:40% !important;
	}	
	#apiEnquiryForm input.postCode {
		width:55% !important;
	}
	#apiEnquiryForm select.landLineNumberAreaCode {
		width:30% !important;
	}
	#apiEnquiryForm input.landLineNumber {
		width:65% !important;
	}

}

@media (max-width: 166px) {
	#apiEnquiryForm select.landLineNumberAreaCode {
		width:100% !important;
	}	
	#apiEnquiryForm input.landLineNumber {
		float:none !important;
		width:100% !important;
	}
	#apiEnquiryForm select.state {
		width:100% !important;
	}
	#apiEnquiryForm input.postCode {
		width:100% !important;
	}	
}