/*
Theme Name: 	Mortgage Repayment Calculator
Theme URI: 		http://themes.muffingroup.com/betheme
Author: 		Muffin group
Author URI: 	http://muffingroup.com
Description:	Child Theme for Betheme - Premium WordPress Theme
Template:		betheme
Version: 		1
*/
#apiEnquiryForm {
 background: rgba(255, 255, 255, 0.6); 
 margin-top: 180px; 
 padding: 25px 50px; 
 border-radius: 9px;
}
input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea, select, .offer_li .title h3 {
  box-shadow: 2px 2px 2px #666;
  border-radius: 7px;
  min-width: 60%;
}
