/*
Theme Name: Just Budget
Description: Child theme for the Favea
Author: Theme develop by Gabriel L and Kevin K 
Template: favea 
*/

/*@import url("../favea/style.css");*/

.ef-main-bgcolor, button, .button, button.disabled, button[disabled], .button.disabled, .button[disabled], button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus, .top-bar-section ul li > a.button, .alert-box, .breadcrumbs li span, .label, .pagination li.current a, .pagination li.current a:hover, .pagination li.current a:focus, .panel.callout, .progress .meter, .sub-nav dt.active a, .ef-team .ef-item-title, 
.sub-nav dd.active a, #ef-top ul.lang-sw li.ef-cur a, .top-bar-section a.button.ef-search-btn, .ef-portfolio-item:hover .ef-item-inner .ef-item-title a, .ef-style-accordion .ui-accordion-header.ui-accordion-header-active .ui-accordion-header-icon, .ef-style-accordion .ui-accordion-header:hover > .ui-accordion-header-icon, .ef-carousel-pag a:hover, .ef-breadcrumbs small:before, .ef-progress-bar span span, div.pp_default .pp_nav .pp_play, div.pp_default .pp_nav .pp_pause, div.pp_default .pp_close, div.pp_default .pp_expand, div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next, div.pp_default .pp_contract, .post-slider-direct-nav a:hover, #ef-welcome, .tipsy-inner, .wp-caption-text, .top-bar-menu li:hover:after, .top-bar-menu li.current_page_item:after, .top-bar-menu li.current_page_parent:after, .ef-services article:hover > .ef-icon:after, .tagcloud li:hover > a:before, .ef-image-navigation a:hover, .tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.navbar .bullet:hover, .ef-welcome .tp-bullets.simplebullets.navbar, .ef-welcome .tp-bullets.simplebullets.navbar:before, .ef-welcome .tp-bullets.simplebullets.navbar:after, .ef-welcome .tp-bullets.simplebullets.navbar:before, .wpcf7-submit, .tp-leftarrow.default:hover, .tp-rightarrow.default:hover {
	background-color: #79B752;
}

/* not for ie8 but for modern browsers */
.top-bar-section li.active a:not(.button) {
	border-color: #79B752;
}

.tipsy-s .tipsy-arrow {
	border-top-color: #79B752;
}

.tipsy-n .tipsy-arrow {
	border-bottom-color: #79B752;
}

.tipsy-w .tipsy-arrow {
	border-right-color: #79B752;
}

.tipsy-e .tipsy-arrow {
	border-left-color: #79B752;
}

.top-bar-section .has-form input, .ef-carousel-pag a.selected, .ef-style-accordion .ui-accordion-header.ui-accordion-header-active .ui-accordion-header-icon, #today, .top-bar-section li:hover a:not(.button), .top-bar-section li.active a:not(.button), .top-bar-section li:hover a:not(.button), .ef-portfolio-item:hover .ef-item-inner .ef-item-title, .fixed .top-bar-section li.active a:not(.button), .fixed .top-bar-section li:hover a:not(.button), .ef-portfolio-tags, .ef-icon, .ef-date-comment .ef-comments, .ef-date-comment:before, button, button:hover, button:focus, .button, .button:hover, .button:focus, button.ef-hollow:hover, .button.ef-hollow:hover, input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus, .ef-sidebar .tagcloud li:hover, #ef-footer .tagcloud li:hover, .tagcloud li:hover, .ef-sidebar .tagcloud li:hover:before, #ef-footer .tagcloud li:hover:before, .tagcloud li:hover:before, .ef-carousel-pag a.selected:hover, .ef-carousel-nav a:hover, .tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected, .tp-bullets.simplebullets.navbar .bullet:hover, .tp-bullets.simplebullets.navbar .bullet.selected, .tp-bullets.simplebullets.navbar-old .bullet.selected, .wpcf7-submit, div.wpcf7-response-output, .pagination li.current a, .bypostauthor .post-comm {
	border-color: #C3D82E;
}

/* Almost the same as main color, but slightly darker. It's for the text on white background */

/* not for ie8 but for modern browsers */
.top-bar-section li li:hover > a:not(.button), .top-bar-section li li.active > a:not(.button), .expanded .top-bar-section li:hover > a:not(.button), .expanded .top-bar-section li.active > a:not(.button) {
	color: #C3D82E;
}

p a, a:hover, a:focus, .ef-text-color, h1 a, h2 a, h3 a, h4 a, h5 a, .ef-carousel-nav a:hover, .ef-faq.ef-style-accordion .ui-accordion-header:before, .ef-points .ef-map-current, li.ef-currentclass  #today, .ef-tabs ul.ef-tabs-nav li.ui-tabs-active.ui-state-active a, .ef-main-color, a, .side-nav li a, #ef-footer #ef-footer-bottom a:hover, #ef-footer a:hover, .ef-sidebar a:hover, .widget_calendar tbody a, .breadcrumbs > *, #to-top:hover, .breadcrumbs a:hover, .breadcrumbs li.current, button:hover, button:focus, .button:hover, .button:focus, button.ef-hollow:hover, .button.ef-hollow:hover, .ef-icon, .ef-portfolio-filter li a:before, .ef-portfolio-filter li a:after, .wpcf7-submit:hover, .ef-breadcrumbs .ef-icon, .tp-leftarrow.default, .tp-rightarrow.default, .bypostauthor .post-comm:before, article.ef-extr-2 .ef-icon:before, article.ef-extr-2 div.ef-icon:before, .widget_categories li.current-cat a, #ef-footer .widget_categories li.current-cat a, #ef-welcome kbd {
	color: #C3D82E;
}

/* b. Other colors of the template are here. Slider, lightbox and other plugin default colors are in the css stylesheets located in the js subfolders. */
.ef-portfolio-item:hover .ef-item-inner .ef-item-title a, .ef-tooltip, .ef-item-title, a.button, .ef-kbd, #ef-footer a.button, #ef-welcome, #ef-welcome h1, #ef-welcome h2, #ef-welcome h3, #ef-welcome h4, #ef-welcome h5, #ef-welcome h6, .panel.callout *, .wp-caption-text, .ef-services article:hover > .ef-icon, .post-slider-direct-nav a:hover, .ef-image-navigation a:hover, .ef-pass:before, .wpcf7-submit, .tp-leftarrow.default:hover, .tp-rightarrow.default:hover, .alert-box .close, .alert-box .close:hover, .alert-box .close:focus {
	color: #fff;
}

.ef-small-cap-bg, .ef-portfolio-tags, .ef-date-comment .ef-date, .ef-carousel-pag a.selected, .ui-slider a, .ef-table1 td, .tagcloud li, #today, .widget_calendar caption, textarea.error:focus, .ef-tabs ul.ef-tabs-nav li.ui-tabs-active.ui-state-active, .ef-wrapper, .ef-comment .ef-button, .sticky.fixed, button.ef-hollow, .button.ef-hollow, button.ef-hollow:hover, .button.ef-hollow:hover, button.ef-hollow:focus, .button.ef-hollow:focus, #ef-footer-bottom, #ef-welcome kbd, #ef-navbar, .ef-date-comment .ef-comments, .ef-team .ef-carousel-item:hover .ef-item-title, input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus, .tagcloud li:before, .tagcloud li:after, .ef-carousel-pag a, .ef-link-marker:before, .ef-link-marker:after, .ef-link-marker span:before, .ef-link-marker span:after, #searchsubmit:hover, .post-slider-direct-nav a, .ef-image-navigation a, .panel, .tp-bullets.simplebullets.navbar .bullet, .tp-bullets.simplebullets .bullet, #ef-top, .tp-leftarrow.default, .tp-rightarrow.default {
	background-color: #fff;
}

.top-bar-section ul ul label, .top-bar-section ul ul, .top-bar.expanded .title-area {
	background: #fff!important;
}

.ef-date-comment .ef-comments:before, .ef-link-marker, .ef-welcome .tp-bullets.simplebullets.navbar .bullet, .tp-bullets.simplebullets.navbar-old .bullet, .tp-bullets.simplebullets.round .bullet {
	border-color: #fff;
}

.ef-portfolio-item-inner:hover .ef-pass:before {
	color: #fafafa;
}

ul.ef-soc-icons li:nth-child(odd) {
	background-color: #fafafa;
}

.ef-loader, #ef-footer, ul.contacts span, pre, .ef-progress-bar div, .ui-slider, .pricing-table.ef-price-table .description, .ef-sidebar aside, .pagination li:hover a, .pagination li a:focus, .ef-sidebars .ef-sidebar:first-child:only-child > aside, .socialcount > li:hover, .socialcount > li > a:focus, .socialcount > li.hover, .ef-tabs ul.ef-tabs-nav li, #cancel-comment-reply-link, .ef-comment, #ef-navbar.fixed, #lang_sel ul ul *:hover > a  {
	background-color: #f7f7f7;
}

body.ef-boxed-ver {
	background-color: #f5f5f5;
}

.qtrans_language_chooser li {
	border-color: #f1f1f1;
}

button.ef-hollow, button.ef-hollow, .ef-style-accordion .ui-accordion-header .ui-accordion-header-icon, .ef-uiaccordion-content-inner {
	border-color: #e7e7e7;
}

.tagcloud li a:before {
	background-color: #e7e7e7;
}

.ef-price-table .bullet-item.unavailable, .ef-button.small:after {
	color: #c2c2c2;
}

.panel .subheader, .button.ef-hollow:hover:after, .ef-portfolio-filter li a {
	color: #959595;
}

.ef-loader span {
	background-color: #d0d0d0;
}

.ef-loader, hr, .ef-team .ef-soc-icons, .ef-pseudo-table, .ef-pseudo-table li li, .ef-price-table .title, .ef-price-table .price, .ef-bloginfo .inline-list, .ef-sidebars .ef-sidebar:first-child > aside, .post-comm, .ef-tabs ul.ef-tabs-nav li, .ef-tabs .tab, .ef-author-info, .top-bar-section ul li, .sticky, #ef-top, .ef-footer-wrapper, #ef-navbar.fixed, #lang_sel a, #lang_sel a:visited, #lang_sel ul ul, .ef-item-inner a, .widget_calendar td#prev, .widget_calendar td#next, .widget_calendar table tfoot, .widget_calendar caption, .widget_calendar table, .ef-map-pag .btn, .widget_categories li, .widget_pages li, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, .ef-item-title, .button.ef-hollow, .tagcloud li, .tagcloud li:before, .ef-carousel-pag a, .ef-date-comment .ef-date, .ef-carousel-mask1, .custom.dropdown.wpcf7-select, #ef-footer-bottom, .ef-prev-page a, .ef-next-page a {
	border-color: #dddddd;
}

 .ef-breadcrumbs, .ef-no-breadcrumbs #ef-content {
 	border-color: #c5c5c5;
 }

.ef-style-accordion .ui-accordion-header .ui-accordion-header-icon {
	background-color: #c5c5c5;
}

.ef-price-table .title, .ef-secondary {
	color: #a5a5a5;
}

.ef-map-pag {
	border-color: #a5a5a5;
}

#ef-footer, .ef-sidebar {
	color: #858585;
}

body, .panel p, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, code, #ef-footer a, .ef-sidebar a {
	color: #606060;
}

.ef-map-pag .btn:hover, .ef-carousel-mask1:before, .ef-carousel-mask1:after, .ef-carousel-mask2:before, .ef-carousel-mask2:after, .ef-carousel-mask3:before, .ef-carousel-mask3:after, .ef-carousel-mask4:before, .ef-carousel-mask4:after {
	background-color: #505050;
}

.ef-hollow.medium, .ef-faq.ef-style-accordion .ui-accordion-header .ui-accordion-header-icon, .ef-map-pag .btn:hover, .ef-map-pag .btn.fwd-btn:hover {
	border-color: #505050;
}

#ef-footer h6, .ef-sidebar h6 {
	color: #F7F7F7;
}

/* not for ie8 but for modern browsers */
.top-bar-section ul li a:not(.button) {
	color: #303030;
}

a, p a:hover, .lang-sw a, .lang-sw a, #ef-top ul.lang-sw li a, h1 a, h2 a, h3 a, h4 a, h5 a, .ef-carousel-nav a, #ui-lightbox-title, .ef-map-pag .ef-place, .ef-small-cap-bg p, .top-bar .name h1 a, .panel.callout .ef-date-comment *, .button.ef-hollow, .ef-team .ef-carousel-item:hover .ef-item-title, .breadcrumbs > * a, .ef-latest-thumb:hover > .ef-date-comment .ef-date, .ef-portfolio-filter li a:hover, .ef-portfolio-filter li.ef-currentclass a, form.custom .custom.dropdown .current {
	color: #303030;
}

.top-bar-section .dropdown li.title h5 a, .top-bar.expanded .toggle-topbar a, .top-bar .toggle-topbar.menu-icon a span {
	color: #303030!important;
}

/* not for ie8 but for modern browsers */
.top-bar-section li a:not(.button), .top-bar-section li a:not(.button):hover, .ef-price-table *:not(.button), .ef-sidebars .ef-sidebar:first-child > aside, .ef-style-accordion.ef-toggle.ef-faq .ui-accordion-header span.ui-accordion-header-icon, .ef-style-accordion.ef-toggle.ef-faq .ui-accordion-header.ui-accordion-header-active span.ui-accordion-header-icon, .ef-services article:hover > .ef-icon {
	background-color: transparent;
}

.top-bar-section ul li.active a, .top-bar, .top-bar-section ul, .top-bar-section .has-form, .top-bar.expanded, .ef-portfolio-tags a, .panel.ef-panel, .widget_calendar table tfoot, .ef-icon:after, button:hover, button:focus, .button:hover, .button:focus {
	background: none transparent;
}


/*----------------------------- 0. END COLORS -----------------------------*/

/*----------------------------- 1. FONTS, TYPOGRAPHY ----------------------*/

/* a. Fonts */

body, h1, h2, h3, h4, h5, h6, small, #yoxview, kbd {
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}

pre {
	font-family: Consolas, "Lucida Console", Monaco, monospace;
}


/* b. Default header styles */

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	line-height: 1.2125em;
	font-weight: normal;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
}

.subheader {
	margin-bottom: 0.5em;
	margin-top: 0.2em;
	line-height: 1.2125em;
}

p * {
	font-size: 1em;
}

/* Use online app http://riddle.pl/emcalc/ to calculate the size if you need to customize */

h1 {
  font-size: 1.625em;
} /*26px*/

h2 {
  font-size: 1.375em;
} /*22px*/

h3 {
  font-size: 1.125em;
} /*18px*/

h4 {
  font-size: 1.000em;
} /*16px*/

h5 {
  font-size: 0.875em;
} /*14px*/

h6 {
  font-size: 0.750em;
  font-weight: 700;
  text-transform: uppercase;
} /*12px*/


/*----------------------------- 1. FONTS, TYPOGRAPHY ----------------------*/

/*----------------------------- 2. COMMON STYLES --------------------------*/

/* a. Global styles */

body {
	font-size: 16px;
	position: relative;
	overflow-x: hidden;
	padding-top: 0!important;
}

body.ef-boxed-ver {
	background-image: url('../images/bg/bg10.png');
	background-repeat: repeat;
}

a:focus {
	outline: 0;
}

p, cite, pre, bloquote, ol, ul, legend, fieldset, option, input, .wp-caption-text {
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 1.25em;
    text-rendering: optimizelegibility;
}

table, p, cite, pre, bloquote, ol, ul, legend, fieldset, option, input, .wp-caption-text {
	font-size: 0.9em;
}

pre {
	height: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 0.938em;
}

address {
	font-style: normal;
}

cite {
	font-style: italic;
}

ol ol, ul ul, ul p, ol p, ul cite, ol cite {
	font-size: 1em;
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  margin: 0.500em 0 0.500em;
  height: 0; }
  
hr.ef-blank {
	border: 0;
	height: 1px;
}

hr.ef-dashed {
	border-style: dashed;
}

.ef-bottom-1_25 {
	margin-bottom: 1.25em;
}

.ef-bottom-1_5 {
	margin-bottom: 1.563em;
}

.ef-bottom-2_18 {
	margin-bottom: 2.188em;
}

.ef-bottom-2_8 {
	margin-bottom: 2.813em;
}

.ef-no-margin {
	margin: 0;
}

.ef-uppercase {
	text-transform: uppercase;
}

.alignleft {
	float: left;
	margin: 0 0.625em 0.625em 0;
	display: block;
}

img.alignleft {
	float: left;
	margin: 0.625em 1.063em 1.063em 0;
	display: block;
}

img.alignright {
	float: right;
	margin: 0.625em  0 1.063em 1.063em;
	display: block;
}

img.aligncenter {
	margin: 0 auto;
	display: block;
}

.ef-style-title {
	margin-bottom: 1.250em;
}

.ef-style-title span {
	padding-right: 0.500em;
}

.clearfix:before, .clearfix:after {    
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    float: none;
}

.clearfix:after, .ef-content:before, .ef-content:after, .shortcode-wrapper:after {    
	clear: both    
}

.clear {    
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0    
}



/* b. Global Border radius */

.lang-sw a, .ef-radius, input.radius, pre, .ef-loader span, .ef-map-pag, .ef-pagination a, .ef-avatar, .comment-edit-link, .ef-edit-attachment-link, #cancel-comment-reply-link, .top-bar-menu li:after, .tagcloud li a:before, .wpcf7 input, .wpcf7 textarea, form.custom .custom.dropdown, div.wpcf7-response-output {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		    border-radius: 3px;
}

input.prefix {
	border-right-width: 0!important;
}

input.prefix.round {
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-bottomleft: 1000px;
	-moz-border-radius-topleft: 1000px;
	-webkit-border-bottom-left-radius: 1000px;
	-webkit-border-top-left-radius: 1000px;
	border-bottom-left-radius: 1000px;
	border-top-left-radius: 1000px;
}

input.postfix.round {
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-topright: 1000px;
	-moz-border-radius-bottomright: 1000px;
	-webkit-border-top-right-radius: 1000px;
	-webkit-border-bottom-right-radius: 1000px;
	border-top-right-radius: 1000px;
	border-bottom-right-radius: 1000px;
}

input.prefix.radius {
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

input.postfix.radius {
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.top-bar-section ul li a.button, .top-bar input, .ef-round, input.round, .ef-carousel-pag a, .ef-style-accordion .ui-accordion-header .ui-accordion-header-icon, .ef-breadcrumbs small:before, .ef-progress-bar div, .ef-progress-bar span, .ui-slider a, div.pp_default .pp_nav .pp_play, div.pp_default .pp_nav .pp_pause, div.pp_default .pp_close, div.pp_default .pp_expand, div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next, div.pp_default .pp_contract, .ef-date-comment .ef-comments, .ef-icon, .ef-icon:after, .tagcloud li:before, .ef-carousel-nav a {
	-webkit-border-radius: 1000px;
	   -moz-border-radius: 1000px;
		    border-radius: 1000px;
}


/* c. Global Transitions */

a, input, textarea, .button, .ef-comments, .ui-accordion-header-icon, .ef-comments:after, .ef-item-title, .ef-map-pag .btn, .socialcount > li, .top-bar-section li a, .button.ef-hollow:after, .tagcloud li:before, .tagcloud li, .tagcloud li > a:before, .tparrows, .tp-bullets .bullet, input[type="text"], input[type="email"] {
	transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-out 0s,  border-color 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-out 0s,  border-color 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-out 0s,  border-color 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-in-out;
}


/*----------------------------- 2. END COMMON STYLES ----------------------*/

/*----------------------------- 3. PAGE PART STYLES ------------------------*/

/* a. Logotype */

.top-bar .title-area .name h1 {
	font-size: 1.875em;
	line-height: 1em;
}

.top-bar .title-area .name {
	margin-right: 1.5em;
	line-height: 1em;
	height: auto;
}

.top-bar .title-area .name a img {
	max-width: 9em;
}

.top-bar .title-area .name a img, .top-bar .title-area .name a {
	border: 0;
	display: block;
	padding: 0;
}


.ef-regular-title {
	margin-top: -10px;
}


/* b. Topbar/Header */

#ef-welcome {
	padding: 1.563em 0;
	background-image: url('../images/portfolio-tags-arrow.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

#ef-welcome kbd {
	border: 0;
}

#ef-top {
	z-index: 1;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#ef-top .ef-left-wrap {
	padding-top: 10px;
	padding-bottom: 10px;
}

.ef-boxed-ver #ef-top .ef-left-wrap nav {
	margin-left: 0.688em;
}

#ef-top hr {
	margin: 0;
}

#ef-top ul, #ef-top ul li {
	list-style: none;
	margin: 0;
}

#ef-top ul.left li {
	padding-left: 1.375em;
	background: url('../images/sep.png') no-repeat 0.688em center;
}

#ef-top ul.left li:first-child {
	padding-left: 0;
	background: none;
}

#ef-top ul li a {
	font-size: 0.923em;
	white-space: nowrap;
}

#ef-top li li {
	font-size: 1em;
}

#ef-navbar {
	transition: background-color 0.5s ease-in-out;
	-webkit-transition: background-color 0.5s ease-in-out;
	-ms-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
}

.top-bar input, .top-bar .button {
	top: 15px;
}

.top-bar-section ul li a:focus {
	outline: 0;
}

.top-bar-section ul li a:not(.button) {
	transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out;
	-webkit-transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out;
	-ms-transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out;
	-o-transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#ef-navbar.fixed {
	right: auto;
	left: auto;
	z-index: 1001;
}

#ef-navbar.fixed:hover {
	-webkit-opacity: 1;
	   -moz-opacity: 1;
	        opacity: 1;
	filter: alpha(opacity=100);
}

.top-bar-section {
	padding-top: 30px;
}

.admin-bar #ef-navbar.fixed {
	top: 28px;
}

.top-bar .title-area .name {
	padding-top: 28px;
}

.top-bar {
	margin-bottom: 30px;
	height: 67px; /* auto */

}

.top-bar-section ul.top-bar-menu {
	margin-top: 15px;
}

.top-bar-section ul.left ul li {
	margin-right: 0;
}

.top-bar-section ul a {
	font-size: 0.875em;
	text-transform: uppercase;
}

.top-bar-section ul ul a {
	text-transform: none;
}

#ef-top ul li, #ef-top ul.ef-soc-icons a {
	display: block;
	line-height: 1em;
	background-image: url('images/icons/favea-svg-social-pack.svg')
}

#ef-top ul li {
	float: left;
}

ul.ef-soc-icons li {
	margin: 0!important;
	display: block;
	list-style: none;
	float: left;
	background-image: url('../images/icons/favea-svg-social-pack.png')
}

#menu-topmenu li {
	line-height: 1.1em;
}


#ef-site-description {
	font-size: 0.750em;
}

.top-bar .toggle-topbar.menu-icon {
	right: 0;
}

.top-bar-section li li a {
	text-transform: capitalize;
}

.top-bar-section a {
	position: relative;
}

.top-bar-section > ul > .divider {
	border: 0;
}

.top-bar-section .has-form {
	padding: 0;
	height: auto;
}

.top-bar-section .has-form input {
	border-width: 2px;
}

.top-bar-section ul.has-form li {
	margin-right: 0;
}

.top-bar a.button.ef-search-btn {
	width: 35px;
	height: 35px!important;
	border: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%!important;
	top: 0;
}

.top-bar a.button.ef-search-btn, .top-bar-section ul li > a.button.ef-search-btn:hover {
	background-image: url('../images/magnifier.png');
}

/* Menus */

.top-bar-section .dropdown {
	transition: opacity 0.2s ease-in-out, margin-left 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out, margin-left 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out, margin-left 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out, margin-left 0.2s ease-in-out;
	margin-left: -20px;
	z-index: 499;
	-webkit-opacity: 0;
	   -moz-opacity: 0;
	        opacity: 0;
	filter: alpha(opacity=0);
	-webkit-box-shadow:  0px 0px 0px 1px rgba(0, 0, 0, 0.1);
	        box-shadow:  0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.top-bar-section .has-dropdown:hover > .dropdown, .top-bar-section .has-dropdown:active > .dropdown {
	margin-left: 1px;
	-webkit-opacity: 1;
	   -moz-opacity: 1;
	        opacity: 1;
	filter: alpha(opacity=100);
}

.top-bar-section .dropdown .dropdown {
	margin-left: 0;
}

.top-bar-section li a:not(.button) {
	line-height: 2.500em;
	padding: 0;
	width: auto;
}

.top-bar-section ul > li {
	margin-right: 1.250em;
}

.top-bar-section li li a:not(.button) {
	line-height: 1em;
}

.top-bar-menu li {
	position: relative;
}

.top-bar-menu li:after {
	position: absolute;
	height: 3px;
	left: 0;
	width: 70%;
	bottom: 0;
	display: block;
	content: '';
	background-color: transparent;	
	-webkit-transition: background-color 0.2s ease-out 0s, width 0.2s ease-in-out;
	    -ms-transition: background-color 0.2s ease-out 0s, width 0.2s ease-in-out;
		 -o-transition: background-color 0.2s ease-out 0s, width 0.2s ease-in-out;
			transition: background-color 0.2s ease-out 0s, width 0.2s ease-in-out;
}

.top-bar-menu li:hover:after {
	width: 100%;
}

.top-bar-menu li li:after {
	display: none;
}

.top-bar-section li:hover > .dropdown li a {
	border-bottom: 0;
}

.top-bar-section .has-dropdown > a {
	padding-right: 0!important;
}

.top-bar-section ul ul a:not(.button) {
	padding-right: 2.500em!important;
	padding: 0.917em 1.250em;
	font-size: 0.750em;
	min-width: 10.833em;
}

.top-bar-section ul li > a {
	height: auto;
}

.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
	content: '\002B';
	margin-top: -0.583em;
	top: 50%;
}


/* c. Sliders (other slider syles you can find here: js/rs-plugin/css/favea-style.css) */

.ef-slider-container {
	position: relative;
}

.ef-slider-container:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	content: '';
	height: 11px;
	background-image: url('../images/slider-shad-top.png');
	background-position: left top;
	background-repeat: repeat-x;
}

.ef-slider-container:after {
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	content: '';
	height: 11px;
	background-image: url('../images/slider-shad-bot.png');
	background-position: left bottom;
	background-repeat: repeat-x;
}



/* d. Content */
.ef-boxed-ver #ef-container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.ef-boxed-ver #ef-top .row {
	max-width: none!important;
}

.ef-boxed-ver #ef-top .columns {
	padding: 0!important;
}

.ef-boxed-ver .ef-wrapper {
	margin: 0 auto;
	max-width: 	60em;
	-webkit-box-shadow:  0px 0px 0 5px rgba(0, 0, 0, 0.02);	        
	        box-shadow:  0px 0px 0 5px rgba(0, 0, 0, 0.02);
}

.ef-no-breadcrumbs.ef-has-no-slider #ef-content {
	padding-top: 2.188em;
	border-top-width: 1px;
	border-top-style: dashed;
}

.ef-no-breadcrumbs.ef-has-no-slider.ef-welcome #ef-content {
	padding-top: 0;
	border: 0;
}

.page-template-templateshome-template-php.ef-has-slider #ef-content {
	padding: 0;
	background: none;
}


/* e. Services */

.ef-services article {
	margin-bottom: 1.25em;
}

article.ef-extr-2 .ef-icon, article.ef-extr-2 div.ef-icon {
	float: left;
	background: none;
	border: 0;
	width: auto;
	height: auto;
	line-height: 1em;
}

article.ef-extr-2 .ef-icon:before, article.ef-extr-2 div.ef-icon:before {
	line-height: 1em;
	height: auto;
}

article.ef-extr-2 .ef-icon:after, article.ef-extr-2 div.ef-icon:after {
	display: none;
}

.ef-services article.ef-extr-2:hover > .ef-icon {
	background: none;
}

article.ef-extr-2 .type-extras {
	margin-left: 47px;
	text-align: left;
}

.ef-services p:last-child {
	margin-bottom: 0;
}

/* f. Images */

.ef-proj-img {
	display: block;
	overflow: hidden;
	position: relative;
}

.ef-proj-img img {
	margin: 0 auto;
	position: relative;
	display: block;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.ef-has-lightbox .ef-proj-img:hover img {
	-moz-transform: scale(1.1); /* Firefox */
	-webkit-transform: scale(1.1); /* Safari and Chrome */
	-o-transform: scale(1.1); /* Opera */
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.ef-team .ef-proj-img {
	margin-bottom: 0.938em;
}

.ef-team .ef-proj-img img {
	margin: 0;
}

.ef-latest-works .ef-proj-img, #ef-portfolio .ef-proj-img {
	margin-bottom: 0;
}


/* g. CSS Preloader */

.no-js .ef-loader {
	display: none;
}

.ef-loader, .ef-pass {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-width: 1px;
	border-style: solid;
	z-index: 2;
}

.ef-pass {
	text-align: center;
	border: 0;
	background-color: rgb(110, 110, 110);
	background-color: rgba(110, 110, 110, .95);
}

.ef-pass:before {
	display: inline-block;
	height: 100%;
	font-family: 'entypo1';
	content: '\e805';
	font-size: 3em;
	line-height: 0;
	position: relative;
	top: 50%;
	left: auto;
}

.ef-loader span {
	z-index: 1;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -20px;
	height: 10px;
	width: 40px;
	-webkit-background-size: 30px 30px!important;
	   -moz-background-size: 30px 30px!important;
	        background-size: 30px 30px!important;
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .5)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .5)),
						color-stop(.75, rgba(255, 255, 255, .5)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
	                    transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
	                    transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
	                    transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
	                    transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
	                    transparent 75%, transparent);
	                    
	background-repeat: repeat-x;
	
	-webkit-animation: animate-stripes 1.5s linear infinite;
	   -moz-animation: animate-stripes 1.5s linear infinite;
}

@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 90px 0;}
}


@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 90px 0;}
}




/* h. Breadcrumbs */

.breadcrumbs {
	padding: 3px 0 0;
	background: none;
	border: 0;
	display: inline-block;
}

.breadcrumbs li {
	display: inline-block;
	float: none;
}

.breadcrumbs li:before {
	content: "";
	position: static;
}

.breadcrumbs > *:before {
	margin: 0;
}

.breadcrumbs li:hover a, .breadcrumbs li:focus a {
	text-decoration: none;
}

.breadcrumbs > * {
	font-size: 0.846em;
}

.breadcrumbs li.ef-delimiter {
	margin: 0 0.75em;
}

.ef-breadcrumbs h4 {
	text-transform: uppercase;
	font-weight: bold;
}

.ef-breadcrumbs {
	background-position: left bottom;
	background-repeat: repeat-x;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-top-width: 1px;
	border-top-style: dashed;
}

.ef-bread-inner1, .ef-bread-inner2 {
	position: relative;
}

.ef-bread-inner2 {
	padding: 0.313em 0;
}

.ef-bread-inner1:before, .ef-bread-inner1:after, .ef-bread-inner2:before, .ef-bread-inner2:after {
	display: block;
	content: '';
	height: 0;
	width: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	position: absolute;
	top: -1px;
}

.ef-bread-inner1:after, .ef-bread-inner2:after {
	right: 0;
}

.ef-bread-inner2:before, .ef-bread-inner2:after {
	top: auto;
	bottom: -1px;
}

.no-js .ef-has-slider .ef-breadcrumbs {
	padding: 0.9375em 0;
}

.ef-breadcrumbs small {
	margin-left: 0.5em;
	padding-left: 18px;
	position: relative;
	font-size: 90%;
	font-weight: normal;
	text-transform: none;
	display: inline;
}

.ef-breadcrumbs small:before {
	width: 8px;
	height: 3px;
	content: '';
	position: absolute;
	left: 0;
	top: 0.5em;
}

.ef-breadcrumbs h3 {
	padding-right: 0.625em;
}

.ef-breadcrumbs ul {
	overflow: hidden;
	margin: 0;
}

.ef-breadcrumbs li {
	list-style: none;
	margin: 0;
}

.ef-breadcrumbs li.current {
	padding: 0;
}

.ef-breadcrumbs .ef-icon, .ef-breadcrumbs .ef-icon:before {
	width: auto;
	height: auto;
	line-height: 1em;
	font-weight: normal;
}

.ef-breadcrumbs .ef-icon:before {
	font-size: 1.5em;
}

.ef-breadcrumbs .ef-icon {
	display: inline-block;
	margin: -0.313em 16px -0.313em 0;
	vertical-align: middle;
	background: none;
	border: 0;
}

.ef-has-slider .ef-breadcrumbs {
	margin-bottom: -1px;
}



/* i. Team */

.ef-team .ef-item-title {
	font-size: 0.750em;
	border: 0;
	margin-bottom: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0.250em 0.667em 0.333em;
}

.ef-team-desc {
	padding-right: 0.938em;
}



/* j. Latest Works, Portfolio, Portfolio post */

#ef-addnewitems {
	border-style: dotted;
}

.ef-portfolio-filter li {
	list-style: none;
	display: inline;
	display: inline-block;
	margin: 0 0.5em 0.5em;
	position: relative;
}

.ef-portfolio-filter li a {
	font-weight: 600;
}

.ef-portfolio-filter li a:after, .ef-portfolio-filter li a:before {
	display: inline;
	-webkit-opacity: 0;
	   -moz-opacity: 0;
			opacity: 0;
	filter: alpha(opacity=0);

    -webkit-transition: opacity 0.4s ease 0s, margin 0.4s ease-out 0s;
       -moz-transition: opacity 0.4s ease 0s, margin 0.4s ease-out 0s;
       	-ms-transition: opacity 0.4s ease 0s, margin 0.4s ease-out 0s;
       	 -o-transition: opacity 0.4s ease 0s, margin 0.4s ease-out 0s;
    		transition: opacity 0.4s ease 0s, margin 0.4s ease-out 0s;
}

.ef-portfolio-filter li a:before {
	content: '\0028';
	margin-right: 0;
}

.ef-portfolio-filter li a:after {
	content: '\0029';
	margin-left: 0;
}

.ef-portfolio-filter li.ef-currentclass a:before, .ef-portfolio-filter li.ef-currentclass a:after {
	-webkit-opacity: 1;
	   -moz-opacity: 1;
			opacity: 1;
	filter: alpha(opacity=100);
}

.ef-portfolio-filter li.ef-currentclass a:before {
	margin-right: 1em;
}

.ef-portfolio-filter li.ef-currentclass a:after {
	margin-left: 1em;
}

.ef-portfolio-lnk {
	position: relative;
	z-index: 1;
	font-weight: normal;
}

.ef-portfolio-lnk:after {
	content: '\279E';
}

.ef-carousel .ef-portfolio-item, .ef-team .ef-carousel .ef-carousel-item {
	width: 15.15em;
	float: left;
}

.ef-team {
	width: 100.4%;
}

.ef-latest-works .ef-portfolio-item {
	padding: 0 0 2.813em;
}

.ef-team .ef-carousel-item {
	padding: 0 0.25em 0 0;
}

.ef-latest-list .ef-portfolio-item {
	padding-bottom: 0;
}

.ef-item-inner a, #ef-clients-carousel img {
	display: block;
}

.ef-item-inner, .ef-portfolio-item .post-password-required form, .ef-portfolio-item .post-password-required input {
	margin: 0;
}

.ef-item-inner, .ef-portfolio-item a {
	position: relative;
}

.ef-portfolio-item .post-password-required p {
	display: none;
}

.ef-item-inner a {
	padding: 0.938em 0.625em;
}

.ef-item-title {
	border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 0;
	border-bottom-width: 1px;
}

.ef-portfolio-tags {
	-webkit-border-radius: 0 0 3px 3px;
	   -moz-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
}

.ef-portfolio-item:hover .ef-item-title {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}

.ef-portfolio-tags {
	border-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 0;
	border-bottom-width: 2px;
	position: absolute;
	font-size: 0.750em;
	padding: 0.750em 0.625em;
	top: 0;
	width: 100%;
	height: auto;
}

.no-js .ef-img-overlay {
	display: none;
}

.ef-img-overlay {
	background-color: rgb(110,110,110);
	background-color: rgba(0,0,0,.1);
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	-webkit-transition: opacity 0.3s ease;
		-ms-transition: opacity 0.3s ease;
		 -o-transition: opacity 0.3s ease;
		 	transition: opacity 0.3s ease;

	-webkit-opacity: 0;
	   -moz-opacity: 0;
	        opacity: 0;
	filter: alpha(opacity=0);
}	

.ef-portfolio-item:hover .ef-img-overlay {
	-webkit-opacity: 1;
	   -moz-opacity: 1;
	        opacity: 1;
	filter: alpha(opacity=100);
}

.ef-link-marker {
	background-color: rgba(255,255,255,.3);
	border-width: 1px;
	border-style: dashed;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	background-repeat: no-repeat;
}

.ef-link-marker {
	-webkit-transition: top 0.4s cubic-bezier(.46,.33,.15,.99), bottom 0.4s cubic-bezier(.46,.33,.15,.99), left 0.4s cubic-bezier(.46,.33,.15,.99), right 0.4s cubic-bezier(.46,.33,.15,.99);
		-ms-transition: top 0.4s cubic-bezier(.46,.33,.15,.99), bottom 0.4s cubic-bezier(.46,.33,.15,.99), left 0.4s cubic-bezier(.46,.33,.15,.99), right 0.4s cubic-bezier(.46,.33,.15,.99);
		 -o-transition: top 0.4s cubic-bezier(.46,.33,.15,.99), bottom 0.4s cubic-bezier(.46,.33,.15,.99), left 0.4s cubic-bezier(.46,.33,.15,.99), right 0.4s cubic-bezier(.46,.33,.15,.99);
		 	transition: top 0.4s cubic-bezier(.46,.33,.15,.99), bottom 0.4s cubic-bezier(.46,.33,.15,.99), left 0.4s cubic-bezier(.46,.33,.15,.99), right 0.4s cubic-bezier(.46,.33,.15,.99);
}

.ef-portfolio-tags {
	-webkit-opacity: 0;
	   -moz-opacity: 0;
	        opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.3s ease, top 0.4s cubic-bezier(.46,.33,.15,.99), bottom 0.4s cubic-bezier(.46,.33,.15,.99);
		-ms-transition: opacity 0.3s ease, top 0.4s cubic-bezier(.46,.33,.15,.99), bottom 0.4s cubic-bezier(.46,.33,.15,.99);
		 -o-transition: opacity 0.3s ease, top 0.4s cubic-bezier(.46,.33,.15,.99), bottom 0.4s cubic-bezier(.46,.33,.15,.99);
		 	transition: opacity 0.3s ease, top 0.4s cubic-bezier(.46,.33,.15,.99), bottom 0.4s cubic-bezier(.46,.33,.15,.99);
}

.ef-portfolio-item:hover {
	z-index: 500;
}

.ef-portfolio-item:hover .ef-portfolio-tags, .ef-portfolio-item:hover .ef-link-marker {
	z-index: 100;
	-webkit-opacity: 1;
	   -moz-opacity: 1;
	        opacity: 1;
	filter: alpha(opacity=100);
}

.ef-portfolio-item:hover .ef-link-marker {
	z-index: auto;
	top: 42%;
	left: 42%;
	bottom: 42%;
	right: 42%;
}

.ef-img-overlay:hover .ef-link-marker {
	top: 37%;
	left: 37%;
	bottom: 37%;
	right: 37%;
}

.ef-portfolio-item:hover .ef-portfolio-tags {
	top: 100%;
}

.ef-portfolio-tags p {
	margin-bottom: 0;
	font-size: 1em;
}

.ef-portfolio-tags a {
	display: inline;
	padding: 0;
	z-index: auto;
}

.ef-portfolio-tags:after {
	position: absolute;
	content: '';
	top: -4px;
	left: 50%;
	margin-left: -7px;
	width: 14px;
	height: 4px;
	background-image: url('../images/portfolio-tags-arrow.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

#ef-portfolio .ef-portfolio-wrap {
	width: 100%;
	padding-bottom: 2.500em;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

#ef-portfolio .ef-portfolio-item {
	-webkit-backface-visibility: hidden;
	float: left;
	width: 24.9%;
	padding-bottom: 0;
}

.ef-5-col-portfolio #ef-portfolio .ef-portfolio-item {
	width: 19.92%;
}

.ef-3-col-portfolio #ef-portfolio .ef-portfolio-item {
	width: 33.3%;
}

.no-js .ef-filter-link, .no-js #ef-addnewitems {
	display: none;
}

#ef-addnewitems {
	margin-bottom: 2.188em;
	line-height: 1.538em;
	position: relative;
	font-weight: normal;
}

#ef-addnewitems .ef-loader {
	display: none;
	border: 0;
}

.no-js .ef-carousel-nav {
	display: none;
}

.ef-carousel-nav {
	margin-bottom: 0.625em;
}

.caroufredsel_wrapper * {
	/* enabling hardware acceleration for webkit browsers */
	-webkit-transform: translateZ(0);
}

.ef-carousel-nav a, .post-slider-direct-nav a, .ef-image-navigation a {
	outline: 0;
	font-family: "entypo1";
	text-align: center;
	font-size: 0.8em;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.2em;
	display: inline-block;
	overflow: hidden;
	position: relative;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

.ef-carousel-nav a#ef-prev:before, .ef-carousel-nav a#ef-prev1:before, a.post-slider-prev:before, .ef-image-navigation .ef-previous-image a:before {
	content: '\e800';
}

.ef-carousel-nav a#ef-next:before, .ef-carousel-nav a#ef-next1:before, a.post-slider-next:before, .ef-image-navigation .ef-next-image a:before {
	content: '\e801';
}

/**** Start: Recommended Isotope styles ****/
/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height;
	-moz-transition-property: height;
	-ms-transition-property: height;
	-o-transition-property: height;
	transition-property: height;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}




/*Clients Carousel*/

#ef-clients-carousel {
	padding: 1em 0;
	position: relative;
}

.ef-carousel-mask1 {
	position: relative;
	z-index: 1;
	border-top-width: 1px;
	border-top-style: dashed;
}

.ef-carousel-mask1:before, .ef-carousel-mask1:after, .ef-carousel-mask2:before, .ef-carousel-mask2:after,
.ef-carousel-mask3:before, .ef-carousel-mask3:after, .ef-carousel-mask4:before, .ef-carousel-mask4:after {
	top: -1px;
	left: 0;
}

.ef-link-marker:before, .ef-link-marker:after, .ef-link-marker span:before, .ef-link-marker span:after, .ef-link-marker span span:before, .ef-link-marker span span:after, .ef-link-marker span span span:before, .ef-link-marker span span span:after {
	top: -10px;
	left: -10px;
}

.ef-carousel-mask1:before, .ef-carousel-mask1:after, .ef-carousel-mask2:before, .ef-carousel-mask2:after,
.ef-carousel-mask3:before, .ef-carousel-mask3:after, .ef-carousel-mask4:before, .ef-carousel-mask4:after,
.ef-link-marker:before, .ef-link-marker:after, .ef-link-marker span:before, .ef-link-marker span:after, .ef-link-marker span span:before, .ef-link-marker span span:after, .ef-link-marker span span span:before, .ef-link-marker span span span:after {
	content: "";
	width: 8px;
	height: 2px;
	position: absolute;
}

.ef-carousel-mask3:before, .ef-carousel-mask3:after, .ef-carousel-mask4:before, .ef-carousel-mask4:after,
.ef-link-marker span span:before, .ef-link-marker span span:after, .ef-link-marker span span span:before, .ef-link-marker span span span:after {
	height: 8px;
	width: 2px;
}

.ef-carousel-mask2:before, .ef-carousel-mask2:after, .ef-carousel-mask4:before, .ef-carousel-mask4:after {
	right: 0;
}

.ef-link-marker span:before, .ef-link-marker span:after, .ef-link-marker span span span:before, .ef-link-marker span span span:after {
	right: -10px;
}

.ef-carousel-mask2:before, .ef-carousel-mask2:after, .ef-carousel-mask4:before, .ef-carousel-mask4:after,
.ef-link-marker span:before, .ef-link-marker span:after, .ef-link-marker span span span:before, .ef-link-marker span span span:after {
	left: auto;
}

.ef-carousel-mask1:after, .ef-carousel-mask2:after, .ef-carousel-mask3:after, .ef-carousel-mask4:after {
	bottom: -1px;
}

.ef-link-marker:after, .ef-link-marker span:after, .ef-link-marker span span:after, .ef-link-marker span span span:after {
	bottom: -10px;
}

.ef-carousel-mask1:after, .ef-carousel-mask2:after, .ef-carousel-mask3:after, .ef-carousel-mask4:after,
.ef-link-marker:after, .ef-link-marker span:after, .ef-link-marker span span:after, .ef-link-marker span span span:after {
	top: auto;
}

#ef-clients-carousel .ef-carousel-nav {
	z-index: 1;
	position: absolute;
	height: 0;
	width: 100%;
	top: 50%;
}

#ef-clients-carousel .ef-carousel-nav a {
	margin: -10px 0 0 0;
}

#ef-clients-carousel .ef-carousel-nav a#ef-prev1 {
	float: left;
	margin-left: -8px;
}

#ef-clients-carousel .ef-carousel-nav a#ef-next1 {
	float: right;
	margin-right: -8px;
}

#ef-clients-carousel img {
	float: left;
	margin: 0 1.250em;
}

.ef-carousel-pag {
	display: inline-block!important;
	margin-top: 0.250em;
	position: relative;
	background-image: url('../images/slider-paging-bg.gif');
	background-position: 0 50%;
	background-repeat: repeat-x;
}

.ef-carousel-pag a {
	display: inline-block;
	width: 0.688em;
	height: 0.688em;
	border-width: 2px;
	border-style: solid;
	margin: 0 0.188em;
}

.ef-carousel-pag a:hover {
	border-color: transparent;
}

.ef-carousel-pag a:first-child {
	margin-left: 0;
}

.ef-carousel-pag a:last-child {
	margin-right: 0;
}

.ef-carousel-pag a span {
	display: none;
}

.ef-slider-carousel .clearfix:last-child > p {
	margin-bottom: 0;
}

.ef-slider-carousel {
	overflow: hidden;
}

.ef-slide {
	float: left;
	width: 100%;
}

.ef-slide .ef-blog-s3-img.ef-proj-img {
	margin: 0;
}

.ef-slide article {
	display: block;
	width: 100%;
	overflow: hidden;
	margin-bottom: 0;
}

.ef-latest-thumb, .ef-slider-carousel {
	position: relative;
}

.single .ef-post .ef-latest-thumb, .attachment .ef-latest-thumb, .ef-slider-carousel, .ef-post-carousel {
	margin-bottom: 1.250em;
}

.post-slider-direct-nav, .ef-image-navigation {
	position: absolute;
	right: -1px;
	bottom: 0;
	z-index: 50;
	display: block;
}

.ef-previous-image, .ef-next-image {
	display: block;
}

.post-slider-direct-nav a, .ef-image-navigation a {
	display: block;
	border: 0;
	width: 28px;
	height: 28px;
	line-height: 26px;
}

.ef-image-navigation a {
	margin-bottom: 0;
	text-indent: -9999px;
}

.ef-image-navigation a:before {
	text-indent: 0;
	display: block;
	width: 28px;
	height: 32px;
	margin-top: 2px;
}


/* k. Latest From the Blog, Blog, Blog post + Comments */

.ef-date-comment {
	position: relative;
	z-index: 5;
	display: block;
	float: left;
	left: 1px;
	margin-right: 0.625em;
	margin-left: -28px;
}

.ef-simple-carousel .ef-date-comment, .ef-post .ef-simple-carousel .ef-date-comment, .ef-boxed-ver .ef-slide .ef-date-comment {
	margin-left: 0;
}

.ef-boxed-ver .ef-date-comment {
	margin-left: -10px;
}

.ef-date-comment span {
	vertical-align: top;
	display: inline-block;
}

.ef-date-comment .ef-date {
	font-weight: normal;
	width: 60px;
	height: 60px;
	line-height: 1.1em;
	padding-top: 0.688em;
	margin-bottom: 2px;
	border-width: 0;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
	   		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}

.ef-date span:last-child {
	font-size: 0.625em;
}

.ef-date-comment .ef-comments {
	border-width: 2px;
	border-style: solid;
	font-size: 0.688em;
	font-weight: normal;
	width: 26px;
	height: 26px;
	line-height: 22px;
	margin-left: -15px;
	position: relative;
	z-index: 2;
}

.ef-date-comment .ef-comments:before {
	content: '';
	position: absolute;
	left: 1px;
	bottom: 1px;
	border-width: 0 4px 4px 0;
	border-style: solid;
}

.ef-date-comment:before {
	content: "";
	position: absolute;
	top: 17px;
	right: 17px;
	border-width: 0 8px 8px 0;
	border-style: solid;
	z-index: 1;
}

.ef-slider-carousel {
	margin-bottom: 1.25em;
}

.ef-slide img {
	display: block;
}

.ef-from-blog .ef-style-title {
	margin-bottom: 1em;
}

.ef-from-blog-img {
	display: block;
	float: left;
	overflow: hidden;
}

.ef-simple-carousel .ef-from-blog-img, .ef-post .ef-simple-carousel .ef-from-blog-img {
	width: 6.563em;
}

.ef-post .ef-simple-carousel .ef-from-blog-img {
	margin-left: -1.875em;
}

.ef-from-blog-img, .ef-blog-2 .ef-post .ef-from-blog-img {
	margin: 0.313em 1.250em 1.250em -1.875em;
}

.ef-grid-blog {
	width: 100.6%;
}

.ef-grid-blog .ef-post {
	width: 33.3%;
	float: left;
	padding-right: 0.25em;
}

.ef-grid-blog .ef-post p {
	padding-right: 1.250em;
}

.ef-grid-blog .ef-post .ef-closed-comments.ef-date-comment {
	margin-right: 0.625em;
}

.ef-post {
	margin-bottom: 0.625em;
}

.ef-post .ef-from-blog-img {
	width: 10.625em;
	margin-left: 0;
	margin-bottom: 1.875em;
}

.ef-post-single-nav, .post-edit-link {
	font-size: 0.813em;
}

.ef-more, .ef-read-more {
	white-space: nowrap;
}

.ef-more {
	margin-left: 0.625em;
	display: inline-block;
}

.ef-bloginfo {
	margin-bottom: 0.688em;
}

.ef-bloginfo-inner {
	display: inline;
}

.ef-bloginfo .inline-list {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	padding: 0.438em 0;
	margin-left: 0;
}

.ef-bloginfo ul {
	font-size: 0.688em;
	font-weight: normal;
	margin-bottom: 0;
	position: relative;
}

.ef-bloginfo li {
	white-space: nowrap;
	padding-left: 1.875em;
	margin-left: 0;
	margin-right: 1.563em;
	background-repeat: no-repeat;
	background-position: left top;
}

.ef-bloginfo li.ef-bloginfo-comment {
	margin-right: 0;
}

.ef-bloginfo-date {
	background-image: url('../images/bloginfo-date.png');
}

.ef-bloginfo-author {
	background-image: url('../images/bloginfo-author.png');
}

.ef-bloginfo-cat {
	background-image: url('../images/bloginfo-cat.png');
}

.ef-bloginfo-comment {
	background-image: url('../images/bloginfo-comment.png');
}

.ef-bloginfo-size {
	background-image: url('../images/bloginfo-size.png');
}

.ef-bloginfo-post {
	background-image: url('../images/bloginfo-post.png');
}

.ef-bloginfo a {
	display: inline;
}

.ef-posted-in span {
	margin-right: 0.625em;
}

.ef-sidebar aside {
	padding: 0.2em;
	background-image: url('../images/sidebar-corner.png');
	background-repeat: no-repeat;
	background-position: left top;
}

.ef-sidebar section.widget {
	padding-left: 0;
	padding-right: 0;
	width: 250;
	float: none!important;
	margin-bottom: 1.875em;
}

.ef-sidebar [class*="column"] + [class*="column"]:last-child {
	float: none;
}

.ef-sidebars .ef-sidebar:first-child > aside {
	border-width: 1px;
	border-style: solid;
}

.ef-sidebars .ef-sidebar:first-child:only-child > aside {
	border: 0;
}

.pagination li a {
	line-height: 1.5em;
	padding: 0 0.4375em;
}

.pagination li.current a, .ef-prev-page a, .ef-next-page a {
	border-width: 1px;
	border-style: solid;
}

.ef-post .ef-blog-s3-img {
	margin: 0.938em 0;
}

.ef-grid-blog .ef-post .ef-blog-s3-img {
	float: left;
	width: 100%;
	margin-top: -25px;
	margin-bottom: 0;
}

.ef-grid-blog .ef-bloginfo ul {
	border-top-width: 0;
}

.comment-form input, .comment-form textarea {
	border-width: 2px;
}

.auth {
	margin-bottom: 0.938em;
}

.auth span {
	display: block;
	font-weight: 300;
}

.ef-avatar {
	overflow: hidden;
	display: block;
}

.post-comm {
	margin-left: 78px;
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 20px;
	position: relative;
}

.bypostauthor .post-comm {
	border-left-width: 3px;
	border-left-style: solid;
}

.bypostauthor .post-comm:before {
	left: -4px;
	font-size: 1em;
}

.post-comm:before {
	content: '\00B0';
	position: absolute;
	left: -3px;
	top: 3px;
}

.comment-edit-link, .ef-edit-attachment-link {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 1em;
	background: #fff url('../images/entries1.png') no-repeat 8px center;
	padding: 0.313em 0.625em 0.313em 1.563em;
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	   		box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}

.ef-edit-attachment-link {
	top: 1.250em;
	left: 1.250em;
	right: auto;
}

.ef-comment, .ef-author-info {
	padding: 20px;
	margin-bottom: 1.875em;
}

.ef-author-info {
	border-width: 1px;
	border-style: solid;
}

.ef-author-info .post-comm:before {
	content: none;
}

.ef-author-info .post-comm {
	border-left-width: 3px;
}

.ef-comment .comment-reply-link {
	margin: 0;
}

.comments-list ul.children {
	margin-left: 20px;
}

h3#reply-title small {
	font-size: 0.813em;
}

#cancel-comment-reply-link {
	padding: 0.313em 0.625em;
	margin-left: 1em;
}

ul #respond {
	font-size: 1.231em;
}

ul #respond p {
	font-size: 0.813em;
}

/* l. Map */

.ef-map {
	width: 100%;
	height: 300px;
	margin-bottom: 2.18em;
}

.ef-map-pag {
	z-index: 500;
	text-align: center;
	line-height: 31px;
	top: auto!important;
	right: 3%!important;
	left: 3%!important;
	bottom: 25px!important;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .9);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);	        
	        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.ef-map-pag .ef-place {
	width: auto;
	display: inline-block;
	line-height: 1em;
	font-weight: bold;
	padding: 0 20px;
}

.ef-map-pag .btn {
	display: block;
	float: left;
	cursor: pointer;
	width: 35px;
	height: 35px;
	position: relative;
	border-style: solid;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 0;
}

.ef-map-pag .fwd-btn {
	float: right;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 1px;
}

.ef-map-pag .btn:before {
	position: absolute;
	content: '';
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	margin-top: -5px;
	border-style: solid;
	border-width: 5px;
}

.ef-map-pag .back-btn:before {
	border-color: transparent #909090 transparent transparent;
	margin-left: -7px;
}

.ef-map-pag .fwd-btn:before {
	border-color: transparent transparent transparent #909090;
	margin-left: -2px;
}




/* m. Common Form styles + Contact Form */

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	height: 2.143em;
	line-height: 1em;
	-webkit-appearance: none;
}

p input[type="text"], p  input[type="password"], p  input[type="date"], p  input[type="datetime"], p input[type="datetime-local"], p input[type="month"], p input[type="week"], p input[type="email"], p input[type="number"], p input[type="search"], p input[type="tel"], p input[type="time"], p input[type="url"], p textarea {
	font-size: 1em;
}

textarea {
	min-height: 150px;
	line-height: 1.5em;
	max-width: 100%;
}

form.custom .custom.dropdown {
	font-size: 1em;
	height: 2.143em;
	background: none;
}

form.custom .custom.radio, form.custom .custom.checkbox {
	border-width: 2px;
	width: 18px;
	height: 18px;
}


/* n. Footer */

.ef-footer-wrapper {
	padding-bottom: 1.875em;
	border-top-width: 1px;
	border-top-style: dashed;
}

.ef-widgets-inner {
	position: relative;
	padding-top: 2.188em;
}

.ef-widgets-inner:before, .ef-widgets-inner:after {
	display: block;
	content: '';
	height: 0;
	width: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	position: absolute;
	top: -1px;
}

.ef-widgets-inner:before {
	left: 0;
}

.ef-widgets-inner:after {
	right: 0;
}

#ef-footer .textwidget {
	margin-bottom: 1.25em;
}

#ef-footer h6, .ef-sidebar h6 {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1.250em;
}

#ef-footer .alert-box {
	margin-top: 2.188em;
	margin-bottom: 0;
}

#ef-footer .alert-box p, .ef-sidebar .alert-box p {
	font-size: 1em;
	font-weight: bold;
}


/*----------------------------- 3. END PAGE PART STYLES --------------------*/

/* ---------------------------- 4. ELEMENTS ------------------------------- */

/* a. Buttons */

.button.postfix {
	line-height: 1em;
	height: 2.143em!important;
}

.button, button {
	white-space: nowrap!important;
	font-weight: normal;
	margin-right: 10px;
	border-width: 2px;
	border-style: solid;
	background-image: none;
	height: auto!important;
	text-shadow: none!important;
	-webkit-box-shadow: 0 0 0 0;
		    box-shadow: 0 0 0 0;
}

.button:focus, button:focus {
	outline: 0;
}

.button img {
	vertical-align: middle;
	margin-left: 0.7em;
}

.button, .button.medium.ef-hollow {
	padding-top: 0.625em;
}

button.small, .button.small {
    padding-bottom: 0.692em;
    padding-top: 0.769em;
}

.ef-button.small {
	position: relative;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 0.688em;
	padding-top: 0.545em;
	padding-bottom: 0.727em;
}

.ef-button.small:after {
	position: relative;
	border: none;
	content: "\2261";
	font-size: 1.364em;
	font-weight: normal;
	margin-left: 0.545em;
}

button.tiny, .button.tiny {
	padding-bottom: 0.6em;
}

button.large, .button.large {
	font-size: 1em;
}

/* b. 38 Social Icons */

.ef-s-buttons {
	margin: 0 0.313em 0.313em 0;
}

#ef-top ul.ef-soc-icons {
	white-space: normal;
}

ul.ef-soc-icons a {
	text-indent: -50000px;
	overflow: hidden;
	white-space: normal;
	display: block;
	position: relative;
	width: 35px;
	height: 32px;
	background-image: url('../images/icons/favea-svg-social-pack.svg');
    background-repeat: no-repeat;
    -webkit-background-size: 570px 240px;
    -moz-background-size: 570px 240px;
    background-size: 570px 240px;
}

ul.ef-soc-icons a:focus {
	outline: 0;
}

ul.ef-soc-icons a span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	height: 0;
	-webkit-transition: height 0.2s ease-in-out;
		-ms-transition: height 0.2s ease-in-out;
		 -o-transition: height 0.2s ease-in-out;
		 	transition: height 0.2s ease-in-out;
}

ul.ef-soc-icons a:hover span {
	height: 3px;
}

.ef_twt {
	background-position: -20px -20px;
}

.ef_twt span {
	background: #2cbbea;
}

.ef_fb {
	background-position: -75px -20px;
}

.ef_fb span {
	background: #5481de;
}

.ef_in {
	background-position: -130px -20px;
}

.ef_in span {
	background: #459ee9;
}

.ef_pin {
	background-position: -185px -20px;
}

.ef_pin span {
	background: #e84f61;
}

.ef_drb {
	background-position: -240px -20px;
}

.ef_drb span {
	background: #ee679b;
}

.ef_tumb {
	background-position: -295px -20px;
}

.ef_tumb span {
	background: #4887c2;
}

.ef_flick {
	background-position: -350px -20px;
}

.ef_flick span {
	background: #f23a94;
}

.ef_vim {
	background-position: -405px -20px;
}

.ef_vim span {
	background: #74c3dd;
}

.ef_delic {
	background-position: -460px -20px;
}

.ef_delic span {
	background: #4a79ff;
}

.ef_goog {
	background-position: -515px -20px;
}

.ef_goog span {
	background: #06ad18;
}

.ef_forr {
	background-position: -20px -75px;
}

.ef_forr span {
	background: #6ea863;
}

.ef_hi5 {
	background-position: -75px -75px;
}

.ef_hi5 span {
	background: #f6a502;
}

.ef_last {
	background-position: -130px -75px;
}

.ef_last span {
	background: #e3332a;
}

.ef_space {
	background-position: -185px -75px;
}

.ef_space span {
	background: #3c6ccc;
}

.ef_newsv {
	background-position: -240px -75px;
}

.ef_newsv span {
	background: #229150;
}

.ef_pica {
	background-position: -295px -75px;
}

.ef_pica span {
	background: #b163c8;
}

.ef_tech {
	background-position: -350px -75px;
}

.ef_tech span {
	background: #3ac13a;
}

.ef_rss {
	background-position: -405px -75px;
}

.ef_rss span {
	background: #f18d3c;
}

.ef_rdio {
	background-position: -460px -75px;
}

.ef_rdio span {
	background: #2c7ec7;
}

.ef_share {
	background-position: -515px -75px;
}

.ef_share span {
	background: #359949;
}

.ef_skyp {
	background-position: -20px -130px;
}

.ef_skyp span {
	background: #00adf1;
}

.ef_slid {
	background-position: -75px -130px;
}

.ef_slid span {
	background: #ef8122;
}

.ef_squid {
	background-position: -130px -130px;
}

.ef_squid span {
	background: #f87f27;
}

.ef_stum {
	background-position: -185px -130px;
}

.ef_stum span {
	background: #f05c38;
}

.ef_what {
	background-position: -240px -130px;
}

.ef_what span {
	background: #3ebe2b;
}

.ef_wp {
	background-position: -295px -130px;
}

.ef_wp span {
	background: #3078a9;
}

.ef_ytb {
	background-position: -350px -130px;
}

.ef_ytb span {
	background: #df3434;
}

.ef_digg {
	background-position: -405px -130px;
}

.ef_digg span {
	background: #326ba0;
}

.ef_beh {
	background-position: -460px -130px;
}

.ef_beh span {
	background: #2d9ad2;
}

.ef_yah {
	background-position: -515px -130px;
}

.ef_yah span {
	background: #883890;
}

.ef_blogg {
	background-position: -20px -185px;
}

.ef_blogg span {
	background: #f67928;
}

.ef_hype {
	background-position: -75px -185px;
}

.ef_hype span {
	background: #f13d3d;
}

.ef_groove {
	background-position: -130px -185px;
}

.ef_groove span {
	background: #498eba;
}

.ef_sound {
	background-position: -185px -185px;
}

.ef_sound span {
	background: #f0762c;
}

.ef_insta {
	background-position: -240px -185px;
}

.ef_insta span {
	background: #c2784e;
}

.ef_vk {
	background-position: -295px -185px;
}

.ef_vk span {
	background: #5f84ab;
}

.ef_mail {
	background-position: -350px -185px;
}

.ef_mail span {
	background: #498eba;
}

.ef_phone {
	background-position: -405px -185px;
}

.ef_phone span {
	background: #883890;
}



/* c. Panels */

.panel.callout {
	border: 0;
}



/* d. Alert boxes */

.ef-form-alert {
	display: none;
	border: 0;
}

.alert-box {
	font-size: 0.813em;
	padding-left: 1.125em;
	padding-right: 2.143em;
	border: 0;
	line-height: 1.2em;
}

.alert-box * {
	font-size: 1em;
}

.alert-box .close, .alert-box .close:hover, .alert-box .close:focus {
	-webkit-opacity: 1;
	   -moz-opacity: 1;
	        opacity: 1;
	filter: alpha(opacity=100);
}

.alert-box .close {
	top: 0.571em;
	box-sizing: border-box;
}

.alert-box p:last-child {
	margin-bottom: 0;
}


/* e. Highlights */

kbd {
	border-color: rgba(0, 0, 0, .1);
	padding: 0 0.385em 0.154em;
}



/* f. Tabs */

.ef-tabs-nav a {
	outline: 0;
}



/* g. Lists */

.ef-list > li {
	margin-left: 1.125em;
	margin-bottom: 0.250em;
}



/* h. Toggle Boxes */

.ef-faq .ui-accordion-header {
	line-height: 1em;
	margin-bottom: 0.938em;
}

.ef-faq.ef-style-accordion .ui-accordion-header .ui-accordion-header-icon {
	border-width: 4px;
	position: relative;
	top: 0.313em;
	left: 0;
	margin-right: 0.313em;
}

.ef-faq.ef-style-accordion .ui-accordion-header-icon.ui-icon-triangle-1-e {
	border-top-color: transparent;	
	border-right-color: transparent;
	border-bottom-color: transparent;	
}

.ef-faq.ef-style-accordion .ui-accordion-header-icon.ui-icon-triangle-1-s {
	top: 0.438em;
	border-left-color: transparent!important;	
	border-right-color: transparent!important;
	border-bottom-color: transparent!important;
}

.ef-style-accordion.ef-faq .ui-accordion-content {
	padding-top: 0;
}


/* ---------------------------- 4. END ELEMENTS --------------------------- */

/* ---------------------------- 5. WIDGETS -------------------------------- */

.widget_recent_comments #recentcomments li, .widget_text li, .widget_contact li, .ef-twitter-widget li, .widget_categories ul li, .widget_links ul li, .widget_meta ul li, .ef-twitter-widget1 ul li, .comments-list li, .widget_pages li, .widget_recent_entries li, .widget_archive li, .widget_nav_menu li {
	margin-bottom: 0.250em;
	list-style: none;
}

.widget_recent_entries li .post-date {
	margin-left: 5px;
	padding-left: 20px;
	background: url('../images/bloginfo-date.png') no-repeat left 2px;
}

.widget_categories li, .widget_pages li {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	padding-bottom: 0.357em;
}

.widget_categories li:last-child, .widget_pages li:last-child {
	border-bottom: 0;
}

.widget .children {
	padding-top: 0.571em;
}

.widget_recent_comments li a:last-child:before {
	margin: 0 0.500em 0 0.357em;
}

.widget_categories li a:before, .widget_archive li a:before, .widget_recent_entries li a:before {
	margin-right: 0.714em;
}

.widget_categories li a:before {
	content: '\21E2';
}

.widget_pages li li a:before, .widget_nav_menu li li a:before {
	content: '\2212';
}

.widget_pages li a:before {
	content: '\21E2';
	margin-right: 0.714em;
}

.widget_archive li a:before {
	content: '\2212';
}

.widget_recent_entries li a:before, .widget_recent_comments li a:last-child:before {
	content: '\272B';
}

.widget_search #searchform, .widget_search input {
	margin-bottom: 0;
	margin-top: 10px;
	padding-top: 5px;
}

.widget_text .textwidget, .widget_calendar table {
	font-size: 0.813em;
	line-height: 1.5em;
}

.widget_contact {
	background: url('../images/widget-contact-bg.gif') no-repeat right bottom;
}

.widget_text ul {
	font-size: 1em;
	line-height: 1.5em;
}

.widget_text .textwidget p {
	font-size: 1em;
}

#ef-footer h6 span, .ef-sidebar h6 span {
	display: inline-block;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	margin-left: 0.938em;
}

.widget_tag_cloud ul {
	padding-left: 5px;
}

.widget_tag_cloud h6 span {
	background: url("../images/bloginfo-tag.png") no-repeat left -1px;
}

.widget_recent_entries h6 span {
	background: url('../images/bloginfo-post.png') no-repeat left -2px;
}

.widget_recent_comments h6 span {
	background: url('../images/widget-icn-comments.png') no-repeat left top;
}

.widget_contact h6 span {
	background: url('../images/widget-icn-contact.png') no-repeat left top;
}

.widget_categories h6 span {
	background: url("../images/bloginfo-cat.png") no-repeat left -1px;
}

.widget_links h6 span, .widget_pages h6 span {
	background: url('../images/widget-icn-links.png') no-repeat left -1px;
}

.widget_twitter h6 span {
	background: url('../images/widget-icn-twt.png') no-repeat left -1px;
}

.widget_flickr h6 span {
	background: url('../images/widget-icn-flickr.png') no-repeat left -1px;
}

.widget_contact li {
	padding-left: 1.875em;
	background-position: 0 0.250em;
	background-repeat: no-repeat;
}

.widget_contact li.cont-phone {
	background-image: url('../images/cont-phone.png');
}

.widget_contact li.cont-email {
	background-image: url('../images/cont-email.png');
}

.widget_contact li.cont-adress {
	background-image: url('../images/cont-addr.png');
}

.tagcloud li a {
	font-size: 1em!important;
	padding: 0.5em 1em 0.643em;
	display: block;
	line-height: 1em;
	white-space: nowrap;
}

.tagcloud li a:before {
	content: '';
	width: 3px;
	height: 3px;
	display: block;
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -2px;
	z-index: 1;
}

.tagcloud li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

.tagcloud li {
	position: relative;
	border-width: 1px;
	border-style: solid;
	margin: 0 0.714em 0.5em 0;
}

.tagcloud li:hover {
	z-index: 1;
}

.tagcloud li.ef-taghead {
	font-size: 1em;
	border: 0;
	margin-bottom: 0;
	margin-right: 1em;
	padding-top: 0.5em;
	line-height: 1em;
}

.tagcloud li.ef-taghead:before, .tagcloud li.ef-taghead:after {
	display: none;
}

.tagcloud li:before {
	border-width: 1px;
	border-style: solid;
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	display: block;
	left: -10px;
	top: 50%;
	margin-top: -10px;
}

.tagcloud li:after {
	position: absolute;
	content: '';
	height: 20px;
	width: 10px;
	left: 0;
	top: 50%;
	margin-top: -10px;
	display: block;
}

.ef-posted-in li {
	margin-right: 1.25em;
}

.no-js .ef-twitter-widget {
	display: none;
}

.ef-twitter-widget {
	padding: 1.375em 0;
}

.ef-twitter ul.tweet_list {
	margin-bottom: 0;
}

.ef-twt-inner {
	padding-top: 0.188em;
}

.ef-twitter-widget1 ul li {
	margin-bottom: 0.938em;
}

.tweet_action {
	text-transform: uppercase;
	font-size: 0.846em;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}

.tweet_time a {
	font-weight: 300;
}

.ef-birdy {
	width: 33px;
	height: 26px;
	background-image: url('../images/twitter-birdy.png');
	background-repeat: no-repeat;
	background-position: left top;
	margin-right: 0.938em;
}

.ef-twitter-widget:hover .ef-birdy {
	background-position: right top;
	background-color: #44B8F2;
}

#ef-footer-bottom nav ul, #ef-footer-bottom nav li, #ef-footer-bottom p {
	margin-bottom: 0;
}

#ef-footer-bottom {
	padding: 0.625em 0;
	border-top-width: 1px;
	border-top-style: solid;
}

#ef-footer-bottom nav li {
	display: inline;
	margin: 0 0.500em;
	list-style: none;
}

.widget_calendar tbody a {
	font-weight: bold;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar caption {
	padding: 0.313em 0;
	border-width: 1px;
	border-style: solid;
	border-bottom-width: 0;
}

.widget_calendar table tr th, .widget_calendar table tr td {
	padding: 0.625em 0;
	text-align: center;
}

#today {
	border-width: 1px;
	border-style: solid;
}

.widget_calendar td#next {
	border-left-width: 1px;
	border-left-style: solid;
}

.widget_calendar td#prev {
	border-right-width: 1px;
	border-right-style: solid;
}

.widget_calendar table tfoot {
	border-top-width: 1px;
	border-top-style: solid;
}

/* ---------------------------- 5. END WIDGETS ---------------------------- */

/* ---------------------------- 6. Misc styles (WP and third-party plugins) */

/* to top */
#to-top {
	text-align: center;
	display: none;
	-webkit-border-top-left-radius: 3px;
	    -moz-border-radius-topleft: 3px;
	   	    border-top-left-radius: 3px;
	z-index: 10000;
	cursor: pointer;
	position: fixed;
	right: 0;
	top: auto;
	left: auto;
	bottom: 0;
	width: 40px;
	height: 2.313em;
	line-height: 2.313em
}

#to-top:before {
	content: '\0394';
}

blockquote p {
	line-height: 1.5em;
}


/* Contact Form 7 */

.wpcf7 input, .wpcf7 textarea {
	border-width: 2px;
}

.wpcf7-submit {
	white-space: nowrap!important;
	font-weight: normal;
	margin-right: 10px;
	border-width: 2px;
	border-style: solid;
	background-image: none;
	height: auto!important;
	font-size: 1em;
	padding: 0.4375em 0.875em 0.5em;
}

.wpcf7-submit:hover {
	background-color: transparent;
}

span.wpcf7-not-valid-tip {
	position: static;
	margin-top: -1.2em;
	display: block;
	padding: 5px 10px;
	width: auto;
	border-width: 2px;
	border-color: #f17a7a;
}

.wpcf7-form-control-wrap {
	padding-top: 10px;
	display: block;
}

.custom.dropdown.wpcf7-select {
	border-width: 2px;
}

div.wpcf7-response-output {
	padding: 5px 10px;
	margin: 10px 0 1.25em;
	font-size: 0.8em;
}

div.wpcf7-response-output.wpcf7-mail-sent-ok {
	border-color: #6fd354;
}

.hidden-field {
	display: none;
}


/* qTranslate styles */

#ef-top .qtrans_language_chooser {
	display: block;
	overflow: hidden;
	float: left;
	margin-right: 0.688em;
}

.ef-boxed-ver #ef-top .qtrans_language_chooser {
	margin-left: 0.688em;
}

.qtrans_language_chooser li.active {
	border-color: #ababab;
}

.qtrans_language_chooser li {
	padding: 1px;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		    border-radius: 2px;
}

#ef-top .qtrans_language_chooser {
	margin-top: -2px;
}

#ef-top .qtrans_language_chooser li {
	float: left;
	margin-right: 3px;
}

#ef-top .qtrans_language_chooser .qtrans_flag {
	float: none;
	margin: 0;
}

.widget_qtranslate option {
	margin-bottom: 0.313em;
	line-height: 1em;
}

.qtrans_language_chooser {
	overflow: hidden;
}

.qtrans_language_chooser li {
	list-style: none;
}

.qtrans_language_chooser .qtrans_flag {
	float: left;
	margin-right: 3px;
}

/*WPML*/

#ef-top #lang_sel {
	margin-bottom: -11px;
	margin-top: -9px;
	margin-right: 0.688em;
	z-index: 1;
	float: left;
}

#ef-top .lang_sel_sel {
	border-top-width: 0; 
	border-bottom-width: 0; 
}

.ef-boxed-ver #ef-top .lang_sel_sel {
	border-left-width: 0;
}

#lang_sel {
	height: 35px;
}

#lang_sel a.lang_sel_sel {
	background-image: none;
}

#lang_sel a.lang_sel_sel:after {
	content: '\2193';
	position: absolute;
	right: 10px;
	margin-top: -2px;
}

#lang_sel a, #lang_sel ul ul a:visited, #lang_sel a:visited, #lang_sel ul ul a, #lang_sel ul ul a:visited {
	line-height: 35px;
}

#lang_sel ul ul {
	top: 33px;
}

#ef-top #lang_sel ul ul {
	width: 100%;
	min-width: 160px;
}

#lang_sel ul ul a {
	padding-top: 0;
	padding-bottom: 0;
}

#ef-top #lang_sel li {
	text-align: left!important;
	width: auto;
	min-width: 160px;
}

/* Rotating Tweets */

.rtw_info {
	margin-bottom: 15px;
}

/* WP */

.is-404 {
	font-weight: 800;
	font-size: 6.250em;
}

img.attachment-thumbnail {
	border: 0!important;
}

.ef-slide .wp-caption {
	width: auto!important;
}

.wp-caption, .gallery-item {
	position: relative;
}

.ef-slide .wp-caption-text {
	left: 0;
	bottom: 0;
}

.wp-caption-text {
	position: absolute;
	margin-bottom: 0;
	z-index: 5;
	left: 0.625em;
	bottom: 0.750em;
	padding: 0.25em 0.667em 0.333em;
	font-size: 0.875em;
}

.sticky {
	margin-bottom: 1.250em;
	padding: 1em;
	border-width: 3px;
	border-style: solid;
	background-image: url('../images/sticky.png');
	background-position: right top;
	background-repeat: no-repeat;
}

.sticky .ef-date-comment {
	margin-left: -10px;
}

.sticky.fixed {
	position: static!important;
	z-index: auto;
	top: auto;
	left: auto;
	right: auto;
	width: auto;
}

.form-allowed-tags {
	margin-top: 1.25em;
}

.admin-bar .tipsy {
	margin-top: -28px!important;
}


#iframe_enquiry_form {
	width: 100% !important;
	height: 600px;
	margin-right: 10px !important;
	
}

.addthis_toolbox addthis_default_style {
	padding-left: 50px !important;	
}

.ef-icon.ef-inc-167 {
	color: #03C;	
	border-color: #03C;
}

.bigbluebutton {
	/*
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #83c41a;
	*/
	background: #ffffff url('images/JB-green-button_56.png') no-repeat left top;
	display:inline-block;
	color:#ffffff !important;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:100px;
	line-height:20px;
	width:172px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
	padding-top: 20px;
}@media (min-width: 1024px) {
  .bigbluebutton {
	line-height:25px;
    width:200px;
    background: #ffffff url('images/JB-green-button_72.png') no-repeat left top;
  }
}
.bigbluebutton:hover {
	/*
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
	*/
	color:#ffffff !important;
}
.bigbluebutton:active {
	/*
	position:relative;
	top:1px;
	*/
	color:#ffffff !important;
}

a.enquire_strip {
	color: white !important;
	border-bottom: 1px solid white;
}
a.enquire_strip:hover {
	color: white;
	border-bottom: 2px solid white;
}

ul.jbsystem {
	list-style: none;
}
ul.jbsystem li.stepone {
	width: 186px;
	height: 189px;
	padding: 10px 37px 0px 8px;
	background: #ffffff url('images/step1.png') no-repeat left top;
	float: left;
	text-align: center;
	font-size: 13px;
	line-height: 1.4;
}
ul.jbsystem li.steptwo {
	width: 186px;
	height: 189px;
	padding: 10px 37px 0px 8px;
	background: #ffffff url('images/step2.png') no-repeat left top;
	float: left;
	text-align: center;
	font-size: 13px;
	line-height: 1.4;
}
ul.jbsystem li.stepthree {
	width: 186px;
	height: 179px;
	padding: 10px 37px 0px 8px;
	background: #ffffff url('images/step3.png') no-repeat left top;
	float: left;
	text-align: center;
	font-size: 13px;
	line-height: 1.4;
}
ul.jbsystem li.stepfour {
	width: 158px;
	height: 179px;
	padding: 10px 7px 0px 8px;
	background: #ffffff url('images/step4.png') no-repeat left top;
	float: left;
	text-align: center;
	font-size: 13px;
	line-height: 1.4;
}
ul.jbsystem span.steptitle {
	color: white;
	display: inline-block;
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 1em;
}

div.ef-faq h4 span.ef-uiaccordion-head-inner {
	font-size: 1em !important;
}

div.ef-faq div div.ef-uiaccordion-content-inner {
	font-size: 0.9em !important;
}

large-9 columns { width: 700px; !important }

aside .ef-radius ef-bottom-1_5 clearfix { width: 320px; !important
		heigth: 1100px; !important
} 

.ef-radius ef-bottom-1_5 clearfix { height: 700px; width: 300px; }


.home enquire {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:26px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:-3px 2px 0px #86ae47;
}
.home enquire:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
.home enquire:active {
	position:relative;
	top:1px;
}

.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #81ac27));
	background:-moz-linear-gradient(top, #b8e356 5%, #81ac27 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #81ac27 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #81ac27 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #81ac27 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #81ac27 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bolder;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:-2px 1px 0px #33352f;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
.myButton:active {
	position:relative;
	top:1px;
}

large-12 { width: 650px; !important }

aside .ef-radius ef-bottom-1_5 clearfix { width: 350px; !important
		heigth: 1100px; !important
} 

.ef-radius ef-bottom-1_5 clearfix { height: 700px; width: 320px; }

#ef-welcome {
padding: 1.563em 0;
background-image: url('../images/portfolio-tags-arrow.png');
background-repeat: no-repeat;
background-position: center top;
margin-top: -70px !important;
}

