@import url(https://fonts.googleapis.com/css?family=OpenSans);
#apiEnquiryForm {
	margin:0px;
	font-family: 'Open Sans', OpenSans, sans-serif;
	font-size:12px;
	padding:15px;
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
	border-radius:5px;
	background: #f6921e !important;
	color: #000000;
}

#top label {
	font-size: 16px !important;
}

#apiEnquiryForm * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


#apiEnquiryForm label {
	display: block;
}

#apiEnquiryForm label.radio {
	display: inline;
}

#apiEnquiryForm input[type=text] , #apiEnquiryForm select , #apiEnquiryForm textarea  {
	width:100%;
	padding:5px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #616161;
	background: #fff;
	font-size: 16px;
}

#apiEnquiryForm input.postCode{
	width:65%;
}

#apiEnquiryForm select.landLineNumberAreaCode{
	width:25%;
}

#apiEnquiryForm input.landLineNumber{
	width:70%;
	float:right;
}

#apiEnquiryForm select.state{
	width:30%;
}

#apiEnquiryForm textarea {
	height:50px;
}

#apiEnquiryForm input[type=button] {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C5EDFF), color-stop(1, #035477) );
	background:-moz-linear-gradient( center top, #C5EDFF 5%, #035477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C5EDFF', endColorstr='#035477');
	background-color:#035477;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
   	color: #ffffff !important;
   	font-size: 14px;
   	height: 43px;
   	line-height: 43px;
   	padding: 0px 66px;
   	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
   	box-sizing: content-box;
   	cursor: pointer;
   	outline: 0 none;
   	overflow: hidden;
   	position: relative;
   	text-align: center;
   	text-transform: uppercase;
	border: 1px;
	box-shadow: 1px #AFAFAF;
}
#apiEnquiryForm input[type=button]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #035477), color-stop(1, #C5EDFF) );
	background:-moz-linear-gradient( center top, #035477 5%, #C5EDFF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#035477', endColorstr='#C5EDFF');
	background-color:#35477;
}
#apiEnquiryForm input[type=button]:active {
	position:relative;
	top:1px;
}

/*
#alcapiformsumbit input[type=button] {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:85px;
	line-height:85px;
	width:186px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7cacde;
}
#alcapiformsumbit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}
#alcapiformsumbit:active {
	position:relative;
	top:1px;
}
*/

#apiEnquiryForm input[type=button] {



#apiEnquiryForm p.api-post-failed {
	color: red;
}

#apiEnquiryForm p.api-post-success {
}

@media (max-width: 220px) {
	#apiEnquiryForm select.state {
		width:40% !important;
	}	
	#apiEnquiryForm input.postCode {
		width:55% !important;
	}
	#apiEnquiryForm select.landLineNumberAreaCode {
		width:30% !important;
	}
	#apiEnquiryForm input.landLineNumber {
		width:65% !important;
	}

}

@media (max-width: 166px) {
	#apiEnquiryForm select.landLineNumberAreaCode {
		width:100% !important;
	}	
	#apiEnquiryForm input.landLineNumber {
		float:none !important;
		width:100% !important;
	}
	#apiEnquiryForm select.state {
		width:30% !important;
	}
	#apiEnquiryForm input.postCode {
		width:100% !important;
	}	
}