@import url(https://fonts.googleapis.com/css?family=Raleway);
#apiEnquiryForm {
	margin:0px;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	padding:15px;
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
	border-radius:5px;
	background:#76b7a8;
	color: #000000;
}

#apiEnquiryForm * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


#apiEnquiryForm label {
	display: block;
	color: #000000;
}

#apiEnquiryForm label.radio {
	display: inline;
}

#apiEnquiryForm input[type=text] , #apiEnquiryForm select , #apiEnquiryForm textarea  {
	width:100%;
	padding:5px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #616161;
	background: #fff;
	font-size: 12px;
}

#apiEnquiryForm input.postCode{
	width:65%;
}

#apiEnquiryForm select.landLineNumberAreaCode{
	width:25%;
}

#apiEnquiryForm input.landLineNumber{
	width:70%;
	float:right;
}

#apiEnquiryForm select.state{
	width:30%;
}

#apiEnquiryForm textarea {
	height:50px;
}

#apiEnquiryForm input[type=button] {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffaf4b), color-stop(1,  #ff920a) );
	background:-moz-linear-gradient( center top, #ffaf4b 5%,  #ff920a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaf4b', endColorstr=' #ff920a');
	background-color:#6e9a1f;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
   	color: #ffffff !important;
   	font-size: 14px;
   	height: 43px;
   	line-height: 43px;
   	padding: 0px 66px;
   	border: 1px solid #f79138;
   	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
   	box-sizing: content-box;
   	cursor: pointer;
   	font-weight: bold;
   	outline: 0 none;
   	overflow: hidden;
   	position: relative;
   	text-align: center;
   	text-shadow: 0 1px 0 #fff;
   	text-transform: uppercase;
}
#apiEnquiryForm input[type=button]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff920a), color-stop(1, #ffaf4b) );
	background:-moz-linear-gradient( center top, #ff920a 5%, #ffaf4b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff920a', endColorstr='#ffaf4b');
	background-color:#468ccf;
}
#apiEnquiryForm input[type=button]:active {
	position:relative;
	top:1px;
}

/*
#apiEnquiryForm input[type=button] {
	background: #f79138; 
	background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); 
	background: -webkit-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); 
	background: -o-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); 
	background: -ms-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); 
	background: linear-gradient(to bottom, #ffaf4b 0%,#ff920a 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); 
	background: linear-gradient(to top, #aad75b, #d1e990) repeat scroll 0 0 #d1e990;
   	color: #fff;
   	font-size: 14px;
   	height: 43px;
   	line-height: 43px;
   	padding: 0px 66px;
   	border: 1px solid rgba(0, 0, 0, 0);
   	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
   	box-sizing: content-box;
   	cursor: pointer;
   	font-weight: bold;
   	outline: 0 none;
   	overflow: hidden;
   	position: relative;
  	text-align: center;
   	text-shadow: 0 1px 0 #fff;
   	text-transform: uppercase;
}
*/

#apiEnquiryForm p.api-post-failed {
	color: red;
}

#apiEnquiryForm p.api-post-success {
}

@media (max-width: 220px) {
	#apiEnquiryForm select.state {
		width:40% !important;
	}	
	#apiEnquiryForm input.postCode {
		width:55% !important;
	}
	#apiEnquiryForm select.landLineNumberAreaCode {
		width:30% !important;
	}
	#apiEnquiryForm input.landLineNumber {
		width:65% !important;
	}

}

@media (max-width: 166px) {
	#apiEnquiryForm select.landLineNumberAreaCode {
		width:100% !important;
	}	
	#apiEnquiryForm input.landLineNumber {
		float:none !important;
		width:100% !important;
	}
	#apiEnquiryForm select.state {
		width:100% !important;
	}
	#apiEnquiryForm input.postCode {
		width:100% !important;
	}	
}