
.tp-bullets.simplebullets.navbar {
	background: #fff;
	border: 0;
	height: 35px;
	padding: 0 20px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}

.tp-bullets.simplebullets .bullet, .tp-bullets.simplebullets.navbar .bullet {
	background-image: none;
	border-width: 3px;
	border-style: solid;
	width: 12px;
	height: 12px;
	margin-top: 11px;
	margin-right: 12px;
}

.tp-bullets.simplebullets .bullet, .tp-bullets.simplebullets.navbar .bullet, .tparrows {
	-webkit-border-radius: 1000px;
	   -moz-border-radius: 1000px;
			border-radius: 1000px;
}

.ef-welcome .tp-bullets.simplebullets.navbar .bullet.selected, .tp-bullets.simplebullets.navbar-old .bullet {
	background: transparent;
}

.tp-bullets.simplebullets.round {
	padding: 0 10px;
}

.tp-bullets.simplebullets.round .bullet {
	background-image: none;
	margin-left: 5px;
	margin-right: 5px;
	width: 15px;
	height: 15px;
}

.tp-bullets.simplebullets.round-old .bullet, .tp-bullets.simplebullets.square-old .bullet {
	width: 23px;
	height: 23px;
	margin-left: 3px;
	margin-right: 3px;
	border: 0;
}

.tp-bullets.simplebullets.square-old .bullet {
	height: 20px;
}

.tp-bannershadow.tp-shadow1 {
	background-image: url('img/shadow1.png');
}

.tp-bannershadow.tp-shadow2 {
	background-image: url('img/shadow2.png');
}

.tp-bannershadow.tp-shadow3 {
	background-image: url('img/shadow3.png');
}

.tp-leftarrow.navbar, .tp-rightarrow.navbar {
	margin-top: 10px;
}

.tp-leftarrow.round, .tp-rightarrow.round {
	margin-top: -10px;
}

.tp-leftarrow, .tp-leftarrow.round, .tp-leftarrow.navbar-old {
	margin-right: 10px;
}

.tp-rightarrow, .tp-rightarrow.navbar-old {
	margin-left: 10px;
}

.tp-leftarrow.navbar {
	background-image: url('img/small_left_boxed1.png');
}

.tp-rightarrow.navbar {
	background-image: url('img/small_right_boxed1.png');
}

.ef-welcome .tp-leftarrow.navbar {
	background-image: url('img/small_left_boxed.png');
}

.ef-welcome .tp-rightarrow.navbar {
	background-image: url('img/small_right_boxed.png');
}

.tp-leftarrow.round {
	background-image: url('img/small_left.png');
}

.tp-rightarrow.round {
	background-image: url('img/small_right.png');
}

.tp-leftarrow.navbar-old {
	background-image: url('img/arrowleft.png');
}

.tp-rightarrow.navbar-old {
	background-image: url('img/arrowright.png');
}

.tp-button {
	border-width: 2px;
	border-style: solid;
	background-image: none;
	text-shadow: 0 0 0 transparent!important;
	box-shadow: 0 0 0 3px rgba(0,0,0,0.05)!important;
    padding: 5px 15px 7px;
}

.tp-button.orange {
	border-color: #FF7700;
}

.tp-button.orange:hover {
	background-color: rgba(255, 119, 0, 0.4);
}

.tp-button.red {
	border-color: #CB1D1D;
}

.tp-button.red:hover {
	background-color: rgba(203, 29, 29, 0.4);
}

.tp-button.green {
	border-color: #21A117;
}

.tp-button.green:hover {
	background-color: rgba(33, 161, 23, 0.4);
}

.tp-button.blue {
	border-color: #1D78CB;
}

.tp-button.blue:hover {
	background-color: rgba(29, 120, 203, 0.4);
}

.tp-button.darkgrey {
	border-color: #555555;
}

.tp-button.darkgrey:hover {
	background-color: rgba(85, 85, 85, 0.4);
}

.tp-button.lightgrey {
	border-color: #888888;
}

.tp-button.lightgrey:hover {
	background-color: rgba(136, 136, 136, 0.4);
}

.tp-leftarrow.default, .tp-rightarrow.default {
	width: 35px;
	height: 35px;
	line-height: 1em;
	background-image: none;
	font-family: 'entypo1';
	font-size: 1.5em;
}

.tp-leftarrow.default:before, .tp-rightarrow.default:before {
	display: block;
	line-height: 35px;
	text-align: center;
}

.tp-leftarrow.default:before {
	content: '\e800';
}

.tp-rightarrow.default:before {
	content: '\e801';
}