/*
 * Adds styling for additional visual composer elements in the backend
 *
 * Created by WPExplorer.com for the Total WordPress Theme
 * Copyright 2014
 */
.wpb_element_label,
.wpb-elements-list-modal .wpb-content-layouts a { -webkit-font-smoothing: antialiased; }
.vc_element-icon.vcex-blog-grid { background-image: url("icons/blog-grid.png"); }
.vc_element-icon.vcex-blog-carousel { background-image: url("icons/blog-carousel.png"); }
.vc_element-icon.vcex-bullets { background-image: url("icons/bullets.png"); }
.vc_element-icon.vcex-total-button { background-image: url("icons/total-button.png"); }
.vc_element-icon.vcex-callout { background-image: url("icons/callout.png"); }
.vc_element-icon.vcex-divider { background-image: url("icons/divider.png"); }
.vc_element-icon.vcex-icon-box { background-image: url("icons/icon-box.png"); }
.vc_element-icon.vcex-font-icon { background-image: url("icons/font-icon.png"); }
.vc_element-icon.vcex-image-carousel { background-image: url("icons/image-carousel.png"); }
.vc_element-icon.vcex-image-flexslider { background-image: url("icons/image-flexslider.png"); }
.vc_element-icon.vcex-image-gallery-slider { background-image: url("icons/image-gallery-slider.png"); }
.vc_element-icon.vcex-image-grid { background-image: url("icons/image-grid.png"); }
.vc_element-icon.vcex-image-swap { background-image: url("icons/image-swap.png"); }
.vc_element-icon.vcex-list-item { background-image: url("icons/list-item.png"); }
.vc_element-icon.vcex-login-form { background-image: url("icons/login-form.png"); }
.vc_element-icon.vcex-milestone { background-image: url("icons/milestone.png"); }
.vc_element-icon.vcex-newsletter { background-image: url("icons/newsletter.png"); }
.vc_element-icon.vcex-portfolio-carousel { background-image: url("icons/portfolio-grid.png"); }
.vc_element-icon.vcex-portfolio-grid { background-image: url("icons/portfolio-carousel.png"); }
.vc_element-icon.vcex-post-type-grid { background-image: url("icons/post-type-grid.png"); }
.vc_element-icon.vcex-post-type-slider { background-image: url("icons/post-type-slider.png"); }
.vc_element-icon.vcex-pricing { background-image: url("icons/pricing.png"); }
.vc_element-icon.vcex-recent-news { background-image: url("icons/recent-news.png"); }
.vc_element-icon.vcex-spacing { background-image: url("icons/spacing.png"); }
.vc_element-icon.vcex-staff-carousel { background-image: url("icons/staff-carousel.png"); }
.vc_element-icon.vcex-staff-grid { background-image: url("icons/staff-grid.png"); }
.vc_element-icon.vcex-staff-social { background-image: url("icons/staff-social.png"); }
.vc_element-icon.vcex-teaser { background-image: url("icons/teaser.png"); }
.vc_element-icon.vcex-testimonials-grid { background-image: url("icons/testimonials-grid.png"); }
.vc_element-icon.vcex-testimonials-slider { background-image: url("icons/testimonials-slider.png"); }
.vc_element-icon.vcex-woocommerce-carousel { background-image: url("icons/woocommerce-carousel.png"); }
.vc_element-icon.vcex-layerslider { background-image: url("icons/layerslider.png"); }
.vc_element-icon.vcex-skill-bar { background-image: url("icons/skill-bar.png"); }
.vc_element-icon.vcex-navbar { background-image: url("icons/navbar.png"); }
.vc_element-icon.vcex-feature-box { background-image: url("icons/feature-box.png"); }