#ADPMask {
  opacity: .4;
  filter: alpha(opacity=40);
  background-color: #444444;
} 

#ADPMask_opera {
  opacity: .8;
  background-image: url('../images/ADPMask.png');
  background-repeat: repeat; 
  background-color:transparent;
}

.tag {
  visibility:hidden;
  display:none;
}

#advfloater{
  position:absolute;
  top:120px;
  left:50px;
  z-index: 11000;
}

#advwrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

#aevfloater{
  position:absolute;
  width: 100%;
  height: 100%;
}

#aevwrapper{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

#extfloater{
  position:relative;
  width: 100%;
  height: 100%;
  z-index: 11000;
 
}

#advcentered {
	position:absolute;
	top: 50%;
	left: 50%;
	width:64px;
	height:64px;
	margin-top: -32px; /*set to a negative number 1/2 of your height*/
	margin-left: -32px; /*set to a negative number 1/2 of your width*/
}

#advbox{
	position:relative;
	background: #444;
	width: 121px;
	height:300px;
	border: 1px solid black;
}

#tplayervideo1_adpTitle{
	font: bold 9pt Tahoma;
	text-align: left;  
}
