﻿body{
	//background-image: url(../images/background.jpg); 	
	//background-repeat: repeat-x;	
	//background-attachment: fixed;
}

#aevfloater{
  position:absolute;
  width: 100%;
  height: 100%;
}

#aevwrapper{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.videobox{
	position:absolute;
	visibility: hidden;
}
	
.playerbox{
	position:absolute;
	width: 100%;
	top:328px;
	left:160px;
	visibility: hidden;	
}

.cbar{
	width: 240px;
	height:32px;
	overflow: hidden;
	visibility: hidden;
}

/* play button */
.play {
	position:absolute;
	width: 10px;
	height: 10px;
	left:10px;
	top:4px;
	visibility: hidden;
}

/* pause button */
.pause{
	position:absolute;
	width: 10px;
	height: 10px;
	left:25px;
	top:4px;
	visibility: hidden;
}

/* stop button */
.stop{
	position:absolute;
	width: 10px;
	height: 10px;
	left:40px;
	top:4px;
	visibility: hidden;
}

/* volume button */
.volume{
	position:absolute;
	width: 10px;
	height: 10px;
	right:30px;
	top:4px;
	visibility: hidden;
}

/* info button */
.info{
	position:absolute;
	width: 10px;
	height: 10px;
	right:20px;
	top:4px;
	visibility: hidden;
}

/* buffer bar */
.buffer{
	position:absolute;
	height: 12px;
	left:10px;
	top: 16px;
	visibility: hidden;
	z-index:1;
}

/* scrubber bar */
.scrubber{
	position:absolute;
	width: 20px;
	height: 8px;
	left:0px;
	top: 2px;
	visibility: hidden;
	z-index:10;

/*	
    -webkit-transition-property: left;

    -webkit-transition-duration: 2s;

    -webkit-transition-timing-function: default;	
*/	
}

/* progress bar */
.progress{
	width: 3px;
	height: 8px;
	position:absolute;
	left:12px;
	top: 18px;
	visibility: hidden;
}





