	/* body */
	#tinymce{
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		line-height:20px;
		position:relative;  
	}

/* ----------------------------------------------------
	RT-THEMES CSS FRAMEWORK
------------------------------------------------------- */
	.boxes{
		width: 680px;
		overflow:hidden; 
		clear:both;
	}
	
	
	br.clear{
		clear: both;
		display: inline-block;
		overflow: hidden;
		font-size:0;
		color:#fff;
		width: 100%  !important;  
	}


	/* columns common style */
	.box{
		margin:0 0 10px 10px;
		padding:5px;
		display:inline; 
		float:left;
		border:1px dotted silver;
	}	  
	
	/*
	columns
	*/
 
	
	/* two  */
	.box.two{
		width:45%; 
	}
	
	/* three*/
	.box.three{
		width:30%;
	}
	
	/* Four*/
	.box.four{
		width:22%; 
	}
	
	/* Five*/
	.box.five{
		width:17%; 
	}    
	
	/* 2:3 column*/
	.box.two-three{
		width:63%; 
	}
	
	/* 3:4 column */
	.box.three-four{
		width:66%; 
	}
	
	/* 4:5 column */
	.box.four-five{
		width:68%; 
	}
	
	/*
	columns for sub pages
	*/
	 
	/*
	columns for sub pages with sidebar
	*/
	
	/* two  */
	.box.two{
		width:320px;
	}
	
	/* three */
	.box.three{
		width:206px;
	}
	
	/* Four */
	.box.four{
		width:150px; 
	}
	
	/* Five */
	.box.five{
		width:116px; 
	}
	
	/* 2:3 column */
	box.two-three{
		width:434px; 
	}
	
	/* 3:4 column */
	.box.three-four{
		width:490px; 
	}
	
	/* 4:5 column */
	.box.four-five{
		width:524px; 
	} 
	
	
	/* first and last column fix*/
	.box.first{
		margin-left:0px !important;
	}
	
	.box.last{
		margin-right:0px !important;
		padding-right:0px !important;
	}
/* ----------------------------------------------------
	LINKS
------------------------------------------------------- */
	
	a{
	color:#339900;
	}

/* ----------------------------------------------------
	HEADINGS
------------------------------------------------------- */

	h1,h2,h3,h4,h5,h6{ 
		letter-spacing:0px;
		font-weight:normal;
		position: relative;
		padding: 0 0 10px 0;         
		font-weight:normal;
		margin:0;
	}
	
	h1{
		font-size: 34px;
		line-height:54px;
	}
	
	h2{
		font-size: 28px;
		line-height:36px;		
	}
	
	h3{
		font-size: 24px;
		line-height:32px;
	}
	
	h4{
		font-size: 20px;
		line-height:30px;			
	}
	
	h5{
		font-size: 18px;
		line-height:27px;		
	}
	
	h6{
		font-size: 16px; 
		line-height:22px;	
	}
	
	/*	heading colors and links  */
	h1 a, h2 a{ 
		text-decoration:none; 
	}
	
	h3, h4,h5,h6, h3 a, h4 a, h5 a, h6 a{ 
		text-decoration:none; 
	}
	
	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{ 
	}

/* ----------------------------------------------------
	HEADINGS
------------------------------------------------------- */

	h1,h2,h3,h4,h5,h6{ 
		color:#ff6600;
	}
	
	/*	heading colors and links  */
	h1 a, h2 a{ 
		color:#ff6600;
	}
	
	h3, h4,h5,h6, h3 a, h4 a, h5 a, h6 a{ 
		color:#ff6600;
	}
	
	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{
		color:#ff0000;
	}	


/* ----------------------------------------------------
	TEXT ELEMENTS
------------------------------------------------------- */

	/* Standart blockquote */
	blockquote {
		font-size:15px;
		line-height: 21px;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-weight:normal;
		font-style:italic;	   
		position:relative;  
		width:auto;
		margin:0px 0; 
	}
	
	
	blockquote em, blockquote i, blockquote cite {
		font-style:normal;
	}
	
	blockquote p{
		padding:10px 10px 0 50px;
		margin:0 0 10px 0;
	}	
	
	/* Sidebar blockquote */
	.sidebar blockquote {
		font-size:12.5px;
		line-height: 18px; 
		margin:0 0 30px 0;
		position:relative;
	}
	
	.sidebar blockquote p{
		padding:10px 0 0 0;
		margin:0 0 10px 1px;
	}	    

	/* pull quote */
	blockquote.pullquote {
		width:300px;  
	}
	
	blockquote.pullquote p{
		padding:20px 20px 10px 50px;
	}
	
	blockquote.alignleft{
		float:left;
		margin: 6px 20px 6px 0;
		display: inline; 
	}
	
	blockquote.alignright{
		float:right;
		margin: 6px 0 6px 20px;
	}
	
	pre {
		line-height:18px;
		margin-bottom:18px;
	}
	
	code {
		display:block;
		margin:0 0 20px 0;
		padding:0 10px;
		font-weight:normal;
		font-size:12px;
		font-family:"Courier New", Courier, Consolas, Monospace;
		line-height:18px;
		overflow:auto; 
		white-space:pre;
	}
	
	ins {
		text-decoration:none;
	}
	
	sup {
		bottom: 1ex;
	}
	
	sub {
		top: .5ex;
	}
	
	/* paragraph */
	p {
		padding:0 0 20px 0;
		margin:0;
	}
	
	/* dropcaps */    
	span.dropcap{ 
		font-size:22px;
		height:39px;
		width:39px;
		display:block;
		float:left;
		line-height:34px;
		margin:0 8px -3px 0;
		text-align:center; 
	}
	
	span.dropcap.style2{
		font-size:42px;
		background:none !important;  
		width:auto !important;
		height:auto !important;
	}    
	
	/*
	Highlighted Texts
	*/
	
	/*blue*/
	span.htext{ 
		padding:3px 4px; 	        
	}
	
	/*yellow*/
	span.yellow{ 
		padding:3px 4px;       
	}
	
	/*black*/
	span.black{ 
		padding:3px 4px;      
	}
	
	/*red*/
	span.red{ 
		padding:3px 4px; 	        
	}

/* ----------------------------------------------------
	TEXT ELEMENTS
------------------------------------------------------- */
	
	/* Standart blockquote */
	blockquote {
		color:#909090;
		text-shadow: 1px 1px 0px  #fff;
		background:url(images/blockquote.png) left 0 no-repeat;
	}
	
	/* Sidebar blockquote */
	.sidebar blockquote {
		background:url(images/blockquote-small.png) left 0 no-repeat;
	}
	
	code {
		background:#EDEDED url(images/code.gif);
		border:1px solid #EDEDED;
	}
	
	/* dropcaps */    
	span.dropcap{
		background:url(images/dropcap.png) left top no-repeat;
		color:#fff; 
	}
	
	span.dropcap.style2{
		color:#585858 !important;
	}    
	
	/*
	Highlighted Texts
	*/
	
	/*blue*/
	span.htext{ 
		color:#fff;
		background:#269bc6; 	        
	}
	
	/*yellow*/
	span.yellow{ 
		color:#000;
		background:#ffbf00;        
	}
	
	/*black*/
	span.black{ 
		color:#fff;
		background:#000;         
	}
	
	/*red*/
	span.red{ 
		color:#fff;
		background:#C10101; 	        
	}
	
	
/* ----------------------------------------------------
	IMAGES
------------------------------------------------------- */

	/* image alignments */
	img.aligncenter{
		display:block;
		text-align:center;
		display: block;
		margin:0 auto 20px auto;
		padding:0px;
		border:0px;
		background:none;
	}
	
	img.alignleft{
		float:left;
		margin: 6px 20px 6px 0;
		display: inline;
		border:0px;
		background:none;
		padding:0;
		display:block;
	}
	
	img.alignright{
		padding:0;
		float:right;
		margin: 6px 0 6px 20px;
		border:0px;
		display:block;
		background:none;
	}


/* ----------------------------------------------------
	FRAMES, BORDERS, CAPTIONS
------------------------------------------------------- */


	/* frame and captions common */
	.frame, .wp-caption{
		padding:6px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px; 
		display:inline-block;
		position:relative;
		margin-left:1px; 
		font-family:Georgia, "Times New Roman", Times, serif;
		font-style:italic; 
		text-align:center;
	} 
	
	.sidebar .frame{
		position:relative;
		padding:10px;
		margin:0 0 10px -12px;
	}
	
	/* Image Caption Texts */
	.wp-caption-text{
		clear:both;
		display:block;
		padding:8px 0 0 0 !important;
	}
	
	.frame.block{
		display:inline-block !important;
	}

	/* fixed small frame */
	span.frame.small{
		width:300px;
		padding:20px;
	}

	span.frame.fullborder{
		margin:0 0 20px 0;
		padding:20px;
	}	
	
	/* aligns */
	span.frame.alignleft, .wp-caption.alignleft{
		float:left !important;
		margin: 6px 20px 6px 2px;
		display: inline !important;
		position:relative;
	}
	
	span.frame.alignright, .wp-caption.alignright{
		float:right !important;
		margin: 6px 2px 6px 20px;
		display: inline !important;
		position:relative;
	}
	
	.frame img, .wp-caption img{ 
		display:block;
		float:left;
	} 
	
	.aligncenter .frame{ 
		margin:2px 0 0 0 !important;
	}
	

/* ----------------------------------------------------
	FRAMES, BORDERS, CAPTIONS
------------------------------------------------------- */


	/* frame and captions common */
	.frame, .wp-caption{
		background:#fff;
		-moz-box-shadow: 0 0 2px #E6E6E6;
		-webkit-box-shadow: 0 0 2px #E6E6E6;
		box-shadow: 0 0 2px #E6E6E6;
		border:1px solid #F0F0F0; 
		text-shadow: 1px 1px 0px #fff;
		color:#999;
	} 
	
	.frame img, .wp-caption img{
		border:1px solid #fff; 
	}
	
	
/* ----------------------------------------------------
	PAGE ELEMENTS
------------------------------------------------------- */

	/* line */
	.line{ 
		margin:0 0 20px 0;
		clear:both;
	}
	
	/*top link*/
	span.top{
		font-size:10px;
		float:right;
		position:relative;
		right:0;
		top:-10px;
		padding-left:10px; 
		text-decoration:none; 
		letter-spacing:1px;  
	}
	
	span.top:hover{ 
		text-decoration:none; 
	}
/* ----------------------------------------------------
	PAGE ELEMENTS
------------------------------------------------------- */

	/* line */
	.line{
		border-bottom:1px solid #F3F3F3;
	}
	
	/*top link*/
	span.top{
		background:#fff;
		color:#B0B0B0;
	}
	
	span.top:hover{ 
		color:#000;
	}		
	
	
/* ----------------------------------------------------
	LISTS
------------------------------------------------------- */

	/* content lists */
	ul, ol{
		list-style: disc;
		margin:0 0 20px 17px;
	}
	
	ul ul, ol ol{
		list-style: circle;
		padding:0 10px;
		margin:0 0 10px 0;
	}

	ul ul ul, ol ol ol{
		list-style: square;
		padding:0 10px;
		margin:0 0 10px 0;
	}	

	ol{
		list-style: decimal;
	}
	
	ol ol{
		list-style: lower-latin;
	}

	ol ol ol{
		list-style: lower-roman;
	}	
		
	ul ul li, ol ol li{ 
		margin:5px 0 5px 15px;
	}
	
	dl{
		margin:0 0 20px 0;
	}
	
	dd{
		margin:5px 0 5px 15px; 
		font-family:Georgia, "Times New Roman", Times, serif;
		font-style:italic;		
	}
 
	.lined li{
		padding:5px 0;
	}

	/* list with stars */
	.star{ 
		margin:0 0 20px 22px;
	}
	
	/* list with check image */
	.check{ 
		margin:0 0 20px 22px;		
	}   	

/* ----------------------------------------------------
	LISTS
------------------------------------------------------- */
	
	dd{
		color:#8B8B8B;
	}
 

	/* list with stars */
	.star{
		list-style-image:url(images/star.png) !important;
	}
	
	/* list with check image */
	.check{
		list-style-image:url(images/check.gif) !important;
	}

/* ----------------------------------------------------
	BUTTONS
------------------------------------------------------- */

	/* small button */
	a.small_button{ 
		height:22px  !important;
		display:inline-block;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		margin:0;
		position:relative;
		z-index:10;
		line-height:20px;
		text-decoration:none  !important; 
		padding:1px 15px 0 15px !important;
		font-size:11px  !important; 
	}
	
	.small_button span{
		position:relative;
		z-index:12;
	}
	
	/* big button */
	a.big_button{ 
		height:48px  !important;
		display:inline-block;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		margin:0   !important;
		position:relative;
		z-index:10;
		line-height:46px;
		text-decoration:none  !important; 
		padding:1px 22px 0 22px !important;
		font-size:18px  !important; 
	}  
	
	a.big_button span{
		position:relative;
		z-index:11; 
	}  
	
	/* medium button */
	a.medium_button{ 
		height:30px  !important;
		display:inline-block;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		margin:10px 0 0 0   !important;
		position:relative;
		z-index:10;
		text-decoration:none  !important;
		font-size:12px  !important; 
		padding:1px 15px 0 15px !important; 
		line-height:28px;
		font-style: normal !important;		
	}     
	
	.medium_button span{
		position:relative;
		z-index:12;
	}
	
	.desc a.medium_button{
		margin:20px 0 0 0 !important;
	}
	
	/* link button */    
	a.link_button{
		font-style: italic; 
		text-decoration:none;
		padding:0;
		display:inline-block;
	}
	
	a.link_button:hover{
		text-decoration:underline;
	}	 
	
	/* order button */
	a.order_button{
		display:block;
		outline:none;
		text-align:center; 
		height:50px;
		width:298px;
		display:inline-block; 
		line-height:50px;
		text-decoration:none; 
		margin:0 0 20px 0;
		font-size:18px; 
	}
	
	a.order_button:hover{ 
	}


/* ----------------------------------------------------
	BUTTONS
------------------------------------------------------- */

	/*--------- BLUE -------- */
	
	/* small button */
	a.small_button.blue{
		background: url(images/style1/button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}
	
	
	/* big button */
	a.big_button.blue{
		background: url(images/style1/big_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
		border:1px solid #6099ac;
	}  
	
	/* medium button */
	a.medium_button.blue{
		background: url(images/style1/medium_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}     
	
	/* order button */
	a.order_button.blue{
		background: url(images/style1/order-button.png) center -2px no-repeat;
		color:#fff;
		text-shadow:0 1px 1px #424242;
	}
	
	a.order_button.blue:hover{
		background: url(images/style1/order-button.png) center -54px no-repeat;
		text-shadow:0 1px 1px #303030;
	}
	

	/*--------- RED -------- */

	/* small button */
	a.small_button.red{
		background: url(images/style2/button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}
	
	
	/* big button */
	a.big_button.red{
		background: url(images/style2/big_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
		border:1px solid #7A0F1C;
	}  
	
	/* medium button */
	a.medium_button.red{
		background: url(images/style2/medium_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}     
	
	/* order button */
	a.order_button.red{
		background: url(images/style2/order-button.png) center -2px no-repeat;
		color:#fff;
		text-shadow:0 1px 1px #424242;
	}
	
	a.order_button.red:hover{
		background: url(images/style2/order-button.png) center -54px no-repeat;
		text-shadow:0 1px 1px #303030;
	}

	
	/*--------- SILVER -------- */

	/* small button */
	a.small_button.silver{
		background: url(images/style3/button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}
	
	
	/* big button */
	a.big_button.silver{
		background: url(images/style3/big_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
		border:1px solid #7A7A7A;
	}  
	
	/* medium button */
	a.medium_button.silver{
		background: url(images/style3/medium_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}     
	
	/* order button */
	a.order_button.silver{
		background: url(images/style3/order-button.png) center -2px no-repeat;
		color:#fff;
		text-shadow:0 1px 1px #424242;
	}
	
	a.order_button.silver:hover{
		background: url(images/style3/order-button.png) center -54px no-repeat;
		text-shadow:0 1px 1px #303030;
	}	 

	/*--------- GREEN -------- */

	/* small button */
	a.small_button.green{
		background: url(images/style4/button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}
	
	/* big button */
	a.big_button.green{
		background: url(images/style4/big_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
		border:1px solid #6F7A6E;
	}  
	
	/* medium button */
	a.medium_button.green{
		background: url(images/style4/medium_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}     
	
	/* order button */
	a.order_button.green{
		background: url(images/style4/order-button.png) center -2px no-repeat;
		color:#fff;
		text-shadow:0 1px 1px #424242;
	}
	
	a.order_button.green:hover{
		background: url(images/style4/order-button.png) center -54px no-repeat;
		text-shadow:0 1px 1px #303030;
	}

	/*--------- GOLDEN -------- */

	/* small button */
	a.small_button.golden{
		background: url(images/style5/button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}

	/* big button */
	a.big_button.golden{
		background: url(images/style5/big_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
		border:1px solid #7A6A52;
	}  
	
	/* medium button */
	a.medium_button.golden{
		background: url(images/style5/medium_button_background.png);
		color:#fff !important;
		text-shadow:0 1px #424242 !important;
	}     
	
	/* order button */
	a.order_button.golden{
		background: url(images/style5/order-button.png) center -2px no-repeat;
		color:#fff;
		text-shadow:0 1px 1px #424242;
	}
	
	a.order_button.golden:hover{
		background: url(images/style5/order-button.png) center -54px no-repeat;
		text-shadow:0 1px 1px #303030;
	}



/* ----------------------------------------------------
	SHORTCODE
------------------------------------------------------- */
	.shortcode{
		background:#FFFEEC;
		border:1px dashed #DCDBCC;
		color:#97A1A1;
		padding:20px;
	}
	
	
table{
	border-right:1px solid #ff6600;
	border-top:1px solid #ff6600;        
}

table th {
	background:#e1e5e9; 
	border-bottom:1px solid #ff6600;
	border-left:1px solid #ff6600;
	background:#fff;        
}

table td {
	border-bottom:1px solid #ff6600;
	border-left:1px solid #ff6600;	        
}	