/**
 * Theme Name: Total
 * Description: Flat Skin CSS
 * Author: WPExplorer
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS
----------------------------------------------------------------
1.0 - General
2.0 - Header
3.0 - Navigation
    3.1 - Navigation Style One
    3.2 - Navigation Style Two
    3.3 - Navigation Style Three
4.0 - Mobile Menu
5.0 - Buttons And Forms
6.0 - Blog
7.0 - Sidebar
8.0 - Pagination
9.0 - Visual Composer
10.0 - Portfolio
11.0 - Staff
12.0 - Footer
13.0 - WooCommerce
/*--------------------------------------------------------------
1.0 - General
--------------------------------------------------------------*/
body { color: #777 }
body a { color: #1bbc9b }
body a:hover { text-decoration: none; color: #000; }
.boxed-main-layout { background-color: #edf2f5 }
#site-scroll-top { background: #1bbc9b; color: #fff; border-color: #1bbc9b; }
#site-scroll-top:hover,
#site-scroll-top:active { background: #158f76; border-color: #158f76; }
h2 a:hover,
h3 a:hover,
h4 a:hover,
.related-post-title:hover { color: #ff4800 !important; text-decoration: none; }
.search-entry { padding-bottom: 30px; margin-bottom: 30px; }
#comments .comments-title,
.theme-heading { font-size: 16px; font-weight: 400; background: none; border-bottom: 1px solid #eee; padding-bottom: 4px; }
.theme-heading span { background: none }
/*--------------------------------------------------------------
2.0 - Header
--------------------------------------------------------------*/
#top-bar-wrap { border: none; color: #8b8b8b; background: #181e26; margin-bottom: 0; }
#top-bar-content strong { color: #fff; font-weight: 400; }
#top-bar-social a { color: #4d6079 }
#top-bar-social a:hover { color: #1bbc9b }
#site-header,
#searchform-header-replace { background: #252d3b; color: #fff; border: none; }
.is-sticky #site-header { background: #252d3b }
#site-logo a { color: #fff }
.header-two-aside { color: #fff }
#searchform-header-replace input,
#searchform-header-replace-close { color: #fff }
#searchform-header-replace-close:hover { color: #ff4800 }
.background-image-page-header { border: none }
.password-protection-box,
.page-header { background: #edf2f9; border-color: #dee3eb; }
.page-header-title { font-size: 24px; font-weight: 400; }
.is-sticky #site-header { border: none }
.site-breadcrumbs,
.site-breadcrumbs p { color: #9aa3b5 }
.site-breadcrumbs a { color: #444 }
/*--------------------------------------------------------------
3.0 - Navigation
--------------------------------------------------------------*/
body #site-navigation-wrap.nav-dropdown-top-border .dropdown-menu > li > ul,
#current-shop-items-dropdown { border-top-color: #1bbc9b }
.is-sticky .fixed-nav { border-bottom: none; background: #179e83; }
/*--------------------------------------------------------------
3.1 - Navigation One
--------------------------------------------------------------*/
.navbar-style-one .dropdown-menu > li > a { color: #788397 }
.navbar-style-one .dropdown-menu > li.sfHover > a,
.navbar-style-one .dropdown-menu > li > a:hover,
.navbar-style-one .dropdown-menu > .current-menu-item > a { color: #1bbc9b; font-weight: inherit; }
.navbar-style-one .dropdown-menu > .current-menu-item > a:after { display: none }
.search-toggle-li a { border-color: transparent !important }
.header-one .dropdown-menu ul { border-color: #eee }
.header-one .dropdown-menu ul li a { border-color: #eee }
.header-one .dropdown-menu ul li a:hover { color: #000 }
#searchform-dropdown { border-top-color: #1bbc9b }
/*--------------------------------------------------------------
3.2 - Navigation Two
--------------------------------------------------------------*/
.navbar-style-two { background: #179e83; border: none; border: none; }
.navbar-style-two .dropdown-menu > li > a { color: #fff }
.navbar-style-two .dropdown-menu > li { border-right: 1px solid #158f76 }
body .navbar-style-two li.woo-menu-icon { border-color: #158f76 }
.navbar-style-two .dropdown-menu > li > a:hover,
.navbar-style-two .dropdown-menu > .current-menu-item > a { color: #fff; background: #19ad8e; }
.navbar-style-two .dropdown-menu { border-color: #158f76 }
/*--------------------------------------------------------------
3.3 - Navigation Three
--------------------------------------------------------------*/
.navbar-style-three { background: #179e83; border: none; border: none; }
.navbar-style-three .dropdown-menu > li > a { color: #fff }
.navbar-style-three .dropdown-menu > li > a:hover,
.navbar-style-three .dropdown-menu > .current-menu-item > a { color: #fff; background: #19ad8e; }
.navbar-style-three .dropdown-menu ul a:hover { color: #000 }
/*--------------------------------------------------------------
4.0 - Mobile Menu
--------------------------------------------------------------*/
#mobile-menu a { border: none; background: #1bbc9b; color: #fff; }
#mobile-menu a:hover,
#mobile-menu a:active { background: #158f76; color: #fff; }
#sidr-main { color: #8b8b8b; background: #181e26; }
#sidr-main a { color: #8b8b8b }
#sidr-main a:hover { color: #1bbc9b }
#sidr-main li,
#sidr-main ul { border-color: rgba(255,255,255,0.05) !important }
ul.sidr-class-sub-menu li.sidr-class-menu-item:last-child { border-color: transparent !important }
/*--------------------------------------------------------------
5.0 - Buttons And Forms
--------------------------------------------------------------*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea,
td.actions .coupon .input-text,
.searchform input { border: 2px solid #e0e9f5; background: #fff; }
.searchform input { background-image: none }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus,
td.actions .coupon .input-text:focus,
.searchform input:focus { border-color: #adc4e4; background-color: #fff; }
.edit-post-link a,
#commentform #submit,
.wpcf7 .wpcf7-submit,
.theme-button,
.readmore-link,
#current-shop-items-overlay .buttons a,
.woocommerce .button,
input[type="submit"],
button,
#footer-callout .theme-button,
.wpex-carousel .owl-prev,
.wpex-carousel .owl-next { background: #1bbc9b; color: #fff !important; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-bottom: 3px solid rgba(0,0,0,0.15); }
.theme-button a { color: #fff; text-decoration: none !important; }
p.theme-button { margin-bottom: 20px }
p.theme-button a:hover { color: #fff }
.blog-entry-readmore span { display: none }
.vcex-readmore-rarr,
.readmore-rarr { display: none }
#comments .comment-reply-link { color: #555; padding: 0; display: inline; margin: 0; }
#comments .comment-reply-link:hover { color: #000 }
/*theme button hover*/
.edit-post-link a:hover,
#commentform #submit:hover,
.wpcf7 .wpcf7-submit:hover,
.theme-button:hover,
.readmore-link:hover,
#current-shop-items-overlay .buttons a:hover,
.woocommerce .button:hover,
input[type="submit"]:hover,
button:hover,
#footer-callout .theme-button:hover,
.wpex-carousel .owl-prev:hover,
.wpex-carousel .owl-next:hover { color: #fff; text-decoration: none; background: #179e83; opacity: 1; -moz-opacity: 1; -webkit-opacity: 1; }
body #header-two-search #header-two-search-submit { background-color: #31b383; border: none; }
/*theme button active*/
.edit-post-link a:active,
#commentform #submit:active,
.wpcf7 .wpcf7-submit:active,
.theme-button:active,
.readmore-link:active,
#current-shop-items-overlay .buttons a:active,
.woocommerce .button:active,
input[type="submit"]:active,
button:active,
#footer-callout .theme-button:active,
.wpex-carousel .owl-prev:active,
.wpex-carousel .owl-next:active { border-color: transparent }
/*make some buttons smaller*/
.readmore-link,
#current-shop-items-dropdown .buttons a,
#current-shop-items-overlay .buttons a,
.product-entry-details .button,
.woocommerce #sidebar .button,
.vcex-readmore,
table.my_account_orders .order-actions .button.view { font-size: 12px; height: 30px; line-height: 30px; padding: 0 12px; }
/*cf7*/
div.wpcf7-validation-errors { border-width: 2px }
/*--------------------------------------------------------------
6.0 - Blog
--------------------------------------------------------------*/
.meta a:hover { color: #ff4800 !important }
.single-post #single-post-next-prev { display: none }
.single-post .meta { border-color: #eee }
.author-bio { background: #f5f5f5; border: 1px solid #eee; }
.related-post-content { background: #f5f5f5; border: 1px solid #eee; }
.related-posts img:hover { opacity: 0.75 }
.blog-entry.thumbnail-entry-style .meta { margin-top: 20px }
/*masonry blog*/
.blog-entry.grid-entry-style .blog-entry-content { background: #f5f5f5; border-color: #eee; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.blog-entry.grid-entry-style .blog-entry-title { margin-bottom: 10px }
.blog-entry.grid-entry-style .meta { display: none }
.blog-entry.grid-entry-style .meta { margin-bottom: 0; font-size: 11px; text-transform: uppercase; }
.blog-entry.grid-entry-style .blog-entry-excerpt { margin-top: 10px }
/*related*/
.related-post-content { background: none; padding: 0; border: none; }
.related-post-title { margin-top: 15px }
.related-posts-title { font-size: 16px; font-weight: 400; }
/*author bio*/
.author-bio { background: #edf2f9; border: 1px solid #dee3eb; }
.author-bio-avatar img { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
/*comments*/
.comment-author { padding: 0; border: none; }
.comment-author img { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.comment-details { border-bottom: 1px solid #eee }
/*--------------------------------------------------------------
7.0 - Sidebar
--------------------------------------------------------------*/
#sidebar a { color: #888 }
#sidebar a:hover { color: #ff4800; text-decoration: none; }
/*widgets*/
#main .tagcloud a { color: #444; padding: 8px 12px; margin: 0 7px 7px 0; border: none; background: #edf2f9; transition: all 0.15s ease; -webkit-transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; border-radius: 3px; border-bottom: 2px solid rgba(0,0,0,0.1); }
#main .tagcloud a:hover { background: #1bbc9b; color: #fff; }
/*--------------------------------------------------------------
8.0 - Pagination
--------------------------------------------------------------*/
nav.woocommerce-pagination ul li a,
nav.woocommerce-pagination ul li span,
.page-numbers a,
.page-numbers span { border: none; color: #444; font-size: 12px; height: auto; padding: 2px 12px; background: #edf2f9; transition: all 0.15s ease; -webkit-transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; border-radius: 3px; border-bottom: 2px solid rgba(0,0,0,0.1); }
.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover { background: #1bbc9b; color: #fff; border-bottom: 2px solid rgba(0,0,0,0.3); }
/*--------------------------------------------------------------
9.0 - Visual Composer
--------------------------------------------------------------*/
/*tabs*/
.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a { border-color: #252d3b }
.wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a,
.wpb_tour.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a,
.wpb_tour.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a { background: #252d3b; color: #fff; }
/*toggles & accordion*/
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header:hover a { color: #000 !important }
.wpb_toggle_title_active,
#content h4.wpb_toggle_title_active,
#content h4.wpb_toggle_title_active:hover,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header:hover { background: #252d3b; border-color: transparent; color: #fff; }
#content h4.wpb_toggle_title_active:before,
#content h4.wpb_toggle_title_active:hover:before,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a:before,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a:hover:before { color: #fff }
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header:hover a { color: #fff !important }
/*pricing tables*/
.vcex-pricing .vcex-pricing-header h5 { background: #252525; color: #fff; border-color: transparent; }
.vcex-pricing.featured .vcex-pricing-header h5 { background: #1bbc9b; border-color: transparent; }
.vcex-pricing .vcex-pricing-ammount { color: #2ea579 }
/*filter*/
.vcex-filter-links { margin-bottom: 20px !important }
.vcex-filter-links a { color: #444; padding: 6px 14px; font-size: 12px; font-weight: 400; background: #edf2f9; border-radius: 3px; border: none; border-bottom: 2px solid rgba(0,0,0,0.1); }
.vcex-filter-links a:hover,
.vcex-filter-links li.active a { background: #1bbc9b; color: #fff; border-bottom: 2px solid rgba(0,0,0,0.3); }
/*icon boxes and teasers*/
.vcex-icon-box-four.vcex-icon-box-with-link:hover,
.vcex-icon-box-five.vcex-icon-box-with-link:hover { background: #ff4800 }
/*other vc modules*/
body .vc_text_separator_two span { border-bottom-color: #000 }
.vcex-callout { background: #edf2f9; border: 1px solid #dee3eb; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; text-shadow: none; color: #788397; }
.vcex-callout-caption { text-shadow: none }
.vcex-recent-news-date span.month { background: #252d3b }
/*navbar*/
.vcex-navbar.style-buttons a { color: #444; padding: 6px 14px; font-size: 12px; border: none; background: #f5f5f5; border-radius: 3px; }
.vcex-navbar.style-buttons a:hover,
.vcex-navbar.style-buttons a.active { background: #35c08d; color: #fff; }
/*filter*/
.vcex-navbar.style-buttons a { color: #444; padding: 6px 14px; font-size: 12px; font-weight: 400; background: #edf2f9; border-radius: 3px; border: none; border-bottom: 2px solid rgba(0,0,0,0.1); }
.vcex-navbar.style-buttons a:hover,
.vcex-navbar.style-buttons a.active { background: #1bbc9b; color: #fff; border-bottom: 2px solid rgba(0,0,0,0.3); }
/*--------------------------------------------------------------
10.0 - Portfolio
--------------------------------------------------------------*/
.portfolio-entry-title { margin: 20px 0 0; font-size: 16px; font-weight: 400; }
.portfolio-entry-details { background: none; border: none; padding: 0; }
.portfolio-entry-excerpt { margin-top: 15px }
/*--------------------------------------------------------------
11.0 - Staff
--------------------------------------------------------------*/
.staff-entry-title { margin: 20px 0 0; font-size: 16px; font-weight: 400; }
.staff-entry-excerpt { margin-top: 15px }
.staff-social { margin-top: 20px }
.staff-social a { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border: none; background: #edf2f9; color: #99a6bf; }
.staff-social a:hover { background: #1bbc9b; color: #fff !important; }
.staff-entry-position { background: #182c48 }
.staff-entry-position span { color: #fff }
.staff-entry-media:hover .staff-entry-position { opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; }
/*--------------------------------------------------------------
12.0 - Footer
--------------------------------------------------------------*/
/*footer callout*/
#footer-callout-wrap { background: #edf2f9; border-color: #dee3eb; }
#footer-callout { color: #788397 }
/*main footer*/
#footer { background: #181e26 }
/*footer typography*/
#footer,
#footer p { color: #536884 }
#footer a { color: #1bbc9b }
#footer a:hover { color: #fff }
#footer a:active { color: #1bbc9b }
#footer li { border-color: #252e3b }
#footer li a:before { color: #1bbc9b }
.site-footer a,
.site-footer strong { color: #748aa7 }
.site-footer strong { font-weight: bold; font-weight: 600; }
/*footer bottom*/
#footer-bottom { background: #0b0e11; color: #46586f; }
#footer-bottom a { color: #fff }
#footer-bottom a:hover,
#footer-bottom a:active { color: #1bbc9b }
/*--------------------------------------------------------------
13.0 - WooCommerce
--------------------------------------------------------------*/
#current-shop-items-overlay ul.product_list_widget li a:hover { text-decoration: underline }
#current-shop-items-overlay .total .amount { background: #67738a !important; color: #fff; }
#current-shop-items-overlay .product_list_widget .amount,
td.product-price span.amount,
td.product-subtotal span.amount,
#order_review span.amount,
div.product p.price,
.product_list_widget .amount,
.cart-collaterals .cart_totals .amount { color: #2ea579 }
div.product .woocommerce-tabs ul.tabs li.active a { border-color: #1bbc9b; color: #1bbc9b; }
.woocommerce-message,
.woocommerce-error,
.woocommerce-info { background: none; border: none; border-bottom: 1px solid #eee; padding: 0 0 10px; color: #000; font-weight: 600; }
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button { right: 0; top: 50%; height: 20px; line-height: 20px; margin-top: -17px; }
.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before { display: none }
.related.products { border-top: none }
div.product .woocommerce-tabs .panel h2 { font-size: 16px; font-weight: 400; }
/*entry*/
.product-entry-details h2 { font-weight: 400; font-size: 16px; margin: 15px 0 10px; }
.related.products .product-entry-details h2 { margin-top: 15px }
ul.products li.product .price { display: block; background: none; font-size: 18px; color: #aaa; font-weight: 600; margin: 0 auto; color: #788397; }
.product-entry-details { background: none; border: none; padding: 0 0 10px; }
ul.products li.product .add_to_cart_button { margin: 10px 0 0 }
ul.products li.product .onsale,
.single-product .onsale { top: 0; left: 0; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; height: 30px; line-height: 30px; padding: 0 10px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; background: #ff4800; text-shadow: none; }
/*single product*/
div.product p.price { font-size: 21px }