@font-face {
  font-family: 'entypo1';
  src: url('entypo1.eot?35178508');
  src: url('entypo1.eot?35178508#iefix') format('embedded-opentype'),
       url('entypo1.woff?35178508') format('woff'),
       url('entypo1.ttf?35178508') format('truetype'),
       url('entypo1.svg?35178508#entypo1') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
.icon-check:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-right-circled:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-left-open-mini:before { content: '\e803'; } /* '' */
.icon-right-open-mini:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e805'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */