@font-face {
	font-family: '"CartoGothic" !important';
	font-weight: normal;
	font-style: normal;
}

html,body {
	padding:0px;
	margin:0px;
}

#form1 {
	font-family:ColaborateLight;
	font-size:14px;
	border:solid 3px #fe7e11;
	background-color:#f5f5f5;
	padding-left:10px;
	width:100% !important;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
}

#form1 * {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#form1 td {
	display:block;
	width:100% !important;
	margin-bottom:5px;
}
#form1 span {
	width:100% !important;
}
#form1 input[type=text] , #form1 select , #form1 textarea  {
	width:100% !important;
	padding:5px !important;
}
#form1 textarea {
	height:50px;
}
#form1 div {
	padding:0px !important;
	margin:0px !important;
}
#form1 input[type=button] {
	margin:auto auto;
	display:block;
	background:#fe7e11 !important;
	color:#fff;
	padding:5px 20px;
	border:none;
	text-transform:uppercase;
}
#form1 #ddlHomePhoneAreaCode {
	float:left;
	width:25% !important;
}
#form1 #rtbHomeNumber_wrapper {
	float:right;
	width:70% !important;
}
#form1 #rtbHomeNumber , #form1 #rtbPostCode {
	margin-top:2px;
	padding:6px !important;
}
#form1 #ddlState {
	float:left;
	width:30% !important;
}
#form1 #rtbPostCode_wrapper {
	float:right;
	width:65% !important;
}
#form1 #rblOwnProperty label {
	margin-right:20px !important;
}
#form1 tr.redNose {
	display:none;
}
#rblTitle {
	float:right;
}


@media (max-width: 220px) {
	#form1 #ddlState {
		width:40% !important;
	}	
	#form1 #rtbPostCode_wrapper {
		width:55% !important;
	}
	#form1 #ddlHomePhoneAreaCode {
		width:30% !important;
	}
	#form1 #rtbHomeNumber_wrapper {
		width:65% !important;
	}

}

@media (max-width: 166px) {
	#form1 #ddlHomePhoneAreaCode {
		float:none !important;
		width:100% !important;
	}	
	#form1 #rtbHomeNumber_wrapper {
		float:none !important;
		width:100% !important;
	}
	#form1 #ddlState {
		float:none !important;
		width:100% !important;
	}
	#form1 #rtbPostCode_wrapper {
		float:none !important;
		width:100% !important;
	}	
}