/* Fix image's height */
@media \0screen {
	img {
		width: auto
	}
}

/* Topbar -------------------------*/
.top-bar {
	*zoom: 1;
	overflow: visible; 
}

.top-bar:before, .top-bar:after {
	content: " ";
	display: table; 
}

.top-bar:after {
	clear: both;
}

.top-bar .toggle-topbar {
	display: none;
}

.top-bar .title-area {
	float: left;
}

.top-bar .name h1 a {
	width: auto;
}

.top-bar-section {
	left: 0 !important; 
}

.top-bar-section ul {
	height: auto !important;
	display: inline;
	width: auto;
}

.top-bar-section ul li {
	float: left;
}

.top-bar-section li > a:after {
	display: none!important;
}

.top-bar-section ul li > a {
	line-height: 2.3em;
	padding: 0 15px;
	background: #fff;
}

.top-bar-section ul li .js-generated {
	display: none;
}

.top-bar-section .has-dropdown.moved {
	position: relative;
}

.top-bar-section .has-dropdown.moved > .dropdown {
	visibility: hidden;
}

.top-bar-section .has-dropdown:hover > .dropdown, 
.top-bar-section .has-dropdown:active > .dropdown {
	visibility: visible;
}

.top-bar-section .dropdown {
	width: auto;
	left: 0;
	top: auto;
	background: transparent;
	border: 1px solid #eaeaea;
	margin-top: -1px;
}

.top-bar-section .dropdown li a {
	line-height: 1;
	white-space: nowrap;
	padding: 7px 15px;
}

.top-bar-section .dropdown li label {
	white-space: nowrap;
}

.top-bar-section .dropdown li .dropdown {
	left: 100%;
	top: 0; 
}

.top-bar-section ul.right li .dropdown {
  left: auto;
  right: 0; 
}

.top-bar-section ul.right li .dropdown li .dropdown { right: 100%; }

.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    content: "»";
}



/* The Grid ---------------------- */
.row { width: 990px; max-width: 100%; min-width: 990px; margin: 0 auto; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row.large-collapse .column,
.row.large-collapse .columns { padding: 0; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row .row.large-collapse { margin: 0; }

.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }
[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: left; }
[class*="block-grid-"] >li { float: left; }

[class*="block-grid-1"] > li { width: 100% }
[class*="block-grid-2"] > li { width: 50% }
[class*="block-grid-3"] > li { width: 33.33333% }
[class*="block-grid-4"] > li { width: 25% }
[class*="block-grid-5"] > li { width: 20% }
[class*="block-grid-6"] > li { width: 16.66667% }
[class*="block-grid-7"] > li { width: 14.28571% }
[class*="block-grid-8"] > li { width: 12.5% }
[class*="block-grid-9"] > li { width: 11.11111% }
[class*="block-grid-10"] > li { width: 10% }

.large-1, 
.row .large-1 { width: 8.33333%; }

.large-2, 
.row .large-2 { width: 16.66667%; }

.large-3, 
.row .large-3 { width: 25%; }

.large-4, 
.row .large-4 { width: 33.33333%; }

.large-5, 
.row .large-5 { width: 41.66667%; }

.large-6, 
.row .large-6 { width: 50%; }

.large-7, 
.row .large-7 { width: 58.33333%; }

.large-8, 
.row .large-8 { width: 66.66667%; }

.large-9, 
.row .large-9 { width: 75%; }

.large-10, 
.row .large-10 { width: 83.33333%; }

.large-11, 
.row .large-11 { width: 91.66667%; }

.large-12,
.row .large-12 { width: 100%; }

.row .large-offset-1 { margin-left: 8.33333%; }
.row .large-offset-2 { margin-left: 16.66667%; }
.row .large-offset-3 { margin-left: 25%; }
.row .large-offset-4 { margin-left: 33.33333%; }
.row .large-offset-5 { margin-left: 41.66667%; }
.row .large-offset-6 { margin-left: 50%; }
.row .large-offset-7 { margin-left: 58.33333%; }
.row .large-offset-8 { margin-left: 66.66667%; }
.row .large-offset-9 { margin-left: 75%; }
.row .large-offset-10 { margin-left: 83.33333%; }

.pull-2 { right: 16.66667%; }
.pull-3 { right: 25%; }
.pull-4 { right: 33.33333%; }
.pull-5 { right: 41.66667%; }
.pull-6 { right: 50%; }
.pull-7 { right: 58.33333%; }
.pull-8 { right: 66.66667%; }
.pull-9 { right: 75%; }
.pull-10 { right: 83.33333%; }

.push-2 { left: 16.66667%; }
.push-3 { left: 25%; }
.push-4 { left: 33.33333%; }
.push-5 { left: 41.66667%; }
.push-6 { left: 50%; }
.push-7 { left: 58.33333%; }
.push-8 { left: 66.66667%; }
.push-9 { left: 75%; }
.push-10 { left: 83.33333%; }

.row { *zoom: 1; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }


/* Other fixes */
body {
	overflow: auto;
}

a, a:hover, a:focus {
	cursor: pointer!important;
}

.panel.callout {
	border: 0;
}

.f-dropdown {
	border: 1px solid #eaeaea;
	margin-top: -1px;
}

.ef-boxed-ver .ef-wrapper {
	border: 1px solid #eaeaea;
}

.ef-boxed-ver #ef-top .row {
	width: 100%;
}

.ef-portfolio-tags {
	display: none;
}

.ef-portfolio-item:hover .ef-portfolio-tags {
	display: block;
}

.ef-date-comment .ef-comments:after {
	display: none;
}

.ef-date-comment .ef-date {
	border: 1px solid #eaeaea;
}

#ef-top .show-for-small {
	display: none!important;
}

ul.ef-soc-icons a {
	background-image: url('../images/icons/favea-svg-social-pack.png');
}

.ef-portfolio-filter li a:after, .ef-portfolio-filter li a:before {
	display: none;
}

.ef-portfolio-filter li.ef-currentclass a:after, .ef-portfolio-filter li.ef-currentclass a:before {
	display: inline-block;
}