@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);

/* Colors */
@import url('colors/pink.css');
@import url('colors/red.css');
@import url('colors/violet.css');
@import url('colors/carmin.css');
@import url('colors/cobalt.css');
@import url('colors/blue.css');
@import url('colors/turquoise.css');
@import url('colors/asparagus.css');
@import url('colors/emerald.css');
@import url('colors/green.css');
@import url('colors/olive.css');
@import url('colors/ochre.css');
@import url('colors/brown.css');
@import url('colors/orange.css');
@import url('colors/yellow.css');

/* Options */
@import url('responsive.css');

/* Pricing */
.button {
    cursor: pointer;
    padding: 10px 20px;
    color: #666;
    font-size: 13px;
    line-height: 1em;
    font-family: Helvetica,Arial,sans-serif;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 0px 0 rgba(255,255,255,0.5), 0 1px 0 #f3f3f3;
    display: inline-block;
    border: 1px solid #ccc;
    text-decoration: none;
    min-width: 60px;

    -webkit-transition: all 150ms linear ;
    -moz-transition: all 150ms linear ;
    -ms-transition: all 150ms linear ;
    -o-transition: all 150ms linear ;
    transition: all 150ms linear ;
}

.button.pricing {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  #f5f5f5 0%, #e3e3e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0));
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e3e3e3 100%);
    background: -o-linear-gradient(top,  #f9f9f9 0%,#e3e3e3 100%);
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#e3e3e3 100%);
    background: linear-gradient(to bottom,  #f9f9f9 0%,#e3e3e3 100%);
    font-weight: bold;

}

.button.pricing:hover {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.button.right {
    float: right;
}

/* PT */

.pricing_container {
    font: 13px/22px Helvetica, Helvetica Neue, Arial;
    color: #333;
	box-sizing: content-box;
	-moz-box-sizing: content-box !important;
}

.pricing_container.onecols .pricing_item { width: 100%; }
.pricing_container.twocols .pricing_item { width: 50%; }
.pricing_container.threecols .pricing_item { width: 33.3333333333%; }
.pricing_container.fourcols .pricing_item { width: 25%; }
.pricing_container.fivecols .pricing_item { width: 20%; }
.pricing_container.sixcols .pricing_item { width: 16.6666666667%; }
.pricing_container.sevencols .pricing_item { width: 14.2857142857%; }
.pricing_container.eightcols .pricing_item { width: 12.5%; }

.pricing_item {
    float: left;
    margin-bottom: 20px;
}

.pricing_item_container {
    background: #fff;
    box-shadow: 0 1px 5px -1px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 0 5px;
    -webkit-transition: all 150ms linear ;
    -moz-transition: all 150ms linear ;
    -ms-transition: all 150ms linear ;
    -o-transition: all 150ms linear ;
    transition: all 150ms linear ;
    position: relative;
}

.pricing_container:hover .pricing_item_container:hover {
    z-index: 100;
    box-shadow: 0 1px 15px rgba(0,0,0,0.35);
	

}

.pricing_title_block {
    background: #b0b6be;
    border: 1px solid #898f97;
    border-radius: 5px 5px 0 0;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    box-shadow: inset 0 -5px 7px -5px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,0.4);
    position: relative;
    overflow: hidden;
    height: 60px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

.pricing_title_block .ribbon {
    position: absolute;
    top: 12px;
    left: -31px;
    background: #ff4040;
    background: rgba(0,0,0,0.3);
            transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    padding: 5px 10px;
    width: 100px;
}

.pricing_title_block .ribbon.new {
    background: rgba(255,65,65, 0.7);
}

.pricing_title_block .ribbon span {
    color: #fff;
    font-size: 17px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-family: "Lobster", sans-serif;
    white-space: nowrap;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

.pricing_title_block > span {
    display: block;
    margin: 3px 0;
}

.pricing_title_block .name {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px 0px rgba(255,255,255,0.3);
}

.pricing_title_block .price {
    font-family: "Lobster", sans-serif;
    font-size: 48px !important;
    font-weight: bold;
    line-height: 1.3em;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

.pricing_title_block .price .oldprice {
    display: inline-block;
    font-size: 24px;
    line-height: 1em;
    position: relative;
    opacity: 0.9;
}

.pricing_title_block .price .oldprice:after {
    position: absolute;
    top: 10px;
    left: -6px;
    content: ' ';
    display: block;
    background: rgba(255,32,32,0.8);
    /*background: rgba(0,0,0,0.6);*/
    height: 4px;
    width: 130%;

    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
}

.pricing_title_block .price .oldprice:before {

}

.pricing_title_block .per {
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.pt_description {
    padding: 10px 15px;
    background: #ddd;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 1.3em;
    color: #555;
    box-shadow: inset -1px 0 0 rgba(0,0,0,0.1), inset 1px 0 0 rgba(0,0,0,0.1), inset 0 -5px 7px -5px rgba(0,0,0,0.2);
}

.pt_table_td {
    padding: 5px 10px;
    text-align: center;
    font-size: 13px;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    background: #fff;
}
.pt_table_td.bold {
    font-weight: bold;
}

.pt_table_td:nth-child(even) {
    background: #f7f7f7;
}

.pricing_content_block {
}

.pricing_footer {
    border: 1px solid #ccc;
    border-top: none;
    background: #e3e3e3;
    box-shadow: inset 0 5px 7px -5px rgba(0,0,0,0.2);
    border-radius: 0 0 5px 5px;
    text-align: center;
    padding: 15px 10px;
    -webkit-transition: all 150ms linear ;
    -moz-transition: all 150ms linear ;
    -ms-transition: all 150ms linear ;
    -o-transition: all 150ms linear ;
    transition: all 150ms linear ;
}

/* Pricing as table */
pricing_container.table .pricing_item_container {
    margin: 0;
}

pricing_container.table .pricing_item_container {
    margin: 0;
}




/* -------------------------------------------------
   Options
   ------------------------------------------------- */

.pricing_container.nospacing .pricing_item_container {
    margin: 0;
}

.pricing_container.nospacing .pricing_item .pt_table_td,
.pricing_container.nospacing .pricing_item .pricing_footer,
.pricing_container.nospacing .pricing_item .pricing_title_block {
    border-left-width: 0;
}

.pricing_container.nospacing .pricing_item:first-child .pt_table_td,
.pricing_container.nospacing .pricing_item:first-child .pricing_footer,
.pricing_container.nospacing .pricing_item:first-child .pricing_title_block {
    border-left-width: 1px;
}

.pricing_container.nospacing .pricing_item_container,
.pricing_container.nospacing .pricing_title_block,
.pricing_container.nospacing .pricing_footer {
    border-radius: 0;
}

.pricing_container.nospacing .pricing_item:first-child .pricing_item_container { border-radius: 5px 0 0 5px; }
.pricing_container.nospacing .pricing_item:first-child .pricing_title_block { border-radius: 5px 0 0 0; }
.pricing_container.nospacing .pricing_item:first-child .pricing_footer { border-radius: 0 0 0 5px; }

.pricing_container.nospacing .pricing_item:last-child .pricing_item_container { border-radius: 0 5px 5px 0; }
.pricing_container.nospacing .pricing_item:last-child .pricing_title_block { border-radius: 0 5px 0 0; }
.pricing_container.nospacing .pricing_item:last-child .pricing_footer { border-radius: 0 0 5px 0; }

.pricing_container.nospacing .pt_description {
    box-shadow: inset -1px 0 0 rgba(0,0,0,0.1), inset 0 0 0 rgba(0,0,0,0.1), inset 0 -5px 7px -5px rgba(0,0,0,0.2);
}

.pricing_container.nospacing .pricing_item:first-child .pt_description {
    box-shadow: inset -1px 0 0 rgba(0,0,0,0.1), inset 1px 0 0 rgba(0,0,0,0.1), inset 0 -5px 7px -5px rgba(0,0,0,0.2);
}


/* -------------------------------------------------
   Pricing left th (Table head)
   ------------------------------------------------- */
.pricing_table .pricing_container {
    float: left;
    width: 75%;
}

.pricing_left_th {
    width: 25%;
    float: left;
    padding-top: 127px;
}

.pricing_left_th .pricing_content_block {
    margin-top: -1px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.pricing_left_th .pt_table_td {
    text-align: left;
    border-right-width: 0;
}

.pricing_left_th .pt_table_td small {
    font-size: 11px;
    font-weight: normal;
}

/* Small th
   ------------------------------------------------- */
.pricing_table.th_small .pricing_container { width: 80%; }
.pricing_table.th_small .pricing_left_th { width: 20%; }

/* Small th
   ------------------------------------------------- */
.pricing_table.th_big .pricing_container { width: 70%; }
.pricing_table.th_big .pricing_left_th { width: 30%; }

/* short */
.pricing_container.short .pricing_footer {
    box-shadow: none;
}

/* -------------------------------------------------
   hexpand on hover
   ------------------------------------------------- */
.pricing_container.hexpand .pricing_title_block {
    -webkit-transition: all 150ms linear ;
    -moz-transition: all 150ms linear ;
    -ms-transition: all 150ms linear ;
    -o-transition: all 150ms linear ;
    transition: all 150ms linear ;
}

.pricing_container .pricing_item.expanded .pricing_title_block,
.pricing_container.hexpand .pricing_item_container:hover .pricing_title_block {
    padding: 15px 10px;
}

.pricing_container .pricing_item.expanded,
.pricing_container.hexpand .pricing_item:hover {
    border-radius: 5px;
}

.pricing_container .pricing_item.expanded .pricing_item_container { z-index: 10; }

.pricing_container .pricing_item.expanded .pricing_item_container,
.pricing_container.hexpand .pricing_item_container:hover {
    margin: -10px;
    border-radius: 5px;
}

.pricing_container .pricing_item.expanded .pricing_footer,
.pricing_container.hexpand .pricing_item_container:hover .pricing_footer { border-radius: 0 0 5px 5px; padding: 20px 10px; margin-bottom: -10px; }

.pricing_container .pricing_item.expanded .pricing_title_block,
.pricing_container.hexpand .pricing_item_container:hover .pricing_title_block { border-radius: 5px 5px 0 0; }

.pricing_container .pricing_item.expanded .pt_table_td,
.pricing_container .pricing_item.expanded .pricing_footer,
.pricing_container .pricing_item.expanded .pricing_title_block,
.pricing_container.hexpand .pricing_item_container:hover .pt_table_td,
.pricing_container.hexpand .pricing_item_container:hover .pricing_footer,
.pricing_container.hexpand .pricing_item_container:hover .pricing_title_block {
    border-left-width: 1px;
}

/* -------------------------------------------------
   Blur on hover
   ------------------------------------------------- */
.pricing_container.hblur:hover .pricing_item_container {
    -webkit-filter: grayscale(80%) blur(1px);
}

.pricing_container.hblur:hover .pricing_item_container:hover {
    -webkit-filter: grayscale(0%);
}


/* -------------------------------------------------
   Opacity on hover
   ------------------------------------------------- */
.pricing_container.hopacity:hover .pricing_item_container {
    opacity: 0.7;
}

.pricing_container.hopacity:hover .pricing_item_container:hover {
    opacity: 1;
}