/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

@import "font-awesome.min.css";

body {
    background: #f3f3f3;
    font: 13px/22px Helvetica, Helvetica Neue, Arial;
    color: #555;
}

header {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

footer {
}

footer .row {
    border-top: 1px dotted #ccc;
    padding: 10px 0;
}

a {
    color: #666;
}

#logo a {
    display: block;
    background: url("../images/logo2.png") 50% 0 no-repeat;
    height: 58px;
    width: 260px;
    margin: 0 auto;
}

.page {
    padding: 40px 0;
}

.page .content {
    padding: 0 20px;
}

.demo_links {
    font-weight: bold;
    text-align: center;
}

.demo_links a {
    display: inline-block;
    padding: 4px 15px;
    background: #ddd;
    border-radius: 3px;
    text-decoration: none;
}

.demo_links a:hover {
    background: #ccc;
}

.demo_links a.active {
    background: #999;
    color: #fff;
}

.ul_colors {
    padding: 10px 0;
    margin-top: 10px;
}

.ul_colors li {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ul_colors li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: inset 0 -5px 7px -5px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,0.4);
}

.ul_colors li.selected a {
    box-shadow: 0 0 0 2px #f3f3f3, 0 0 0 5px rgba(0,0,0,0.3);
}

.ul_colors li.ochre a {
    background: #dca562;
    background: -moz-linear-gradient(top,  #dca562 0%, #bf972e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dca562), color-stop(100%,#bf972e));
    background: -webkit-linear-gradient(top, #dca562 0%,#bf972e 100%);
    background: -o-linear-gradient(top,  #dca562 0%,#bf972e 100%);
    background: -ms-linear-gradient(top,  #dca562 0%,#bf972e 100%);
    background: linear-gradient(to bottom,  #dca562 0%,#bf972e 100%);
    border: 1px solid #a48227;
}
.ul_colors li.pink a {
    background: #f77fa8;
    background: -moz-linear-gradient(top,  #f77fa8 0%, #e55d7b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f77fa8), color-stop(100%,#e55d7b));
    background: -webkit-linear-gradient(top, #f77fa8 0%,#e55d7b 100%);
    background: -o-linear-gradient(top,  #f77fa8 0%,#e55d7b 100%);
    background: -ms-linear-gradient(top,  #f77fa8 0%,#e55d7b 100%);
    background: linear-gradient(to bottom,  #f77fa8 0%,#e55d7b 100%);
    border: 1px solid #cd5771;
}
.ul_colors li.red a {
    background: #ef5f54;
    background: -moz-linear-gradient(top,  #ef5f54 0%, #d54b23 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef5f54), color-stop(100%,#d54b23));
    background: -webkit-linear-gradient(top, #ef5f54 0%,#d54b23 100%);
    background: -o-linear-gradient(top,  #ef5f54 0%,#d54b23 100%);
    background: -ms-linear-gradient(top,  #ef5f54 0%,#d54b23 100%);
    background: linear-gradient(to bottom,  #ef5f54 0%,#d54b23 100%);
    border: 1px solid #b43d1b;
}
.ul_colors li.violet a {
    background: #a176c3;
    background: -moz-linear-gradient(top,  #a176c3 0%, #9150aa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a176c3), color-stop(100%,#9150aa));
    background: -webkit-linear-gradient(top, #a176c3 0%,#9150aa 100%);
    background: -o-linear-gradient(top,  #a176c3 0%,#9150aa 100%);
    background: -ms-linear-gradient(top,  #a176c3 0%,#9150aa 100%);
    background: linear-gradient(to bottom,  #a176c3 0%,#9150aa 100%);
    border: 1px solid #7c4592;
}
.ul_colors li.carmin a {
    background: #f15477;
    background: -moz-linear-gradient(top,  #f15477 0%, #d72534 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f15477), color-stop(100%,#d72534));
    background: -webkit-linear-gradient(top, #f15477 0%,#d72534 100%);
    background: -o-linear-gradient(top,  #f15477 0%,#d72534 100%);
    background: -ms-linear-gradient(top,  #f15477 0%,#d72534 100%);
    background: linear-gradient(to bottom,  #f15477 0%,#d72534 100%);
    border: 1px solid #b61e2c;
}
.ul_colors li.cobalt a {
    background: #6b89c9;
    background: -moz-linear-gradient(top,  #6b89c9 0%, #4c5ab2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b89c9), color-stop(100%,#4c5ab2));
    background: -webkit-linear-gradient(top, #6b89c9 0%,#4c5ab2 100%);
    background: -o-linear-gradient(top,  #6b89c9 0%,#4c5ab2 100%);
    background: -ms-linear-gradient(top,  #6b89c9 0%,#4c5ab2 100%);
    background: linear-gradient(to bottom,  #6b89c9 0%,#4c5ab2 100%);
    border: 1px solid #424e9a;
}
.ul_colors li.blue a {
    background: #49a9d3;
    background: -moz-linear-gradient(top,  #49a9d3 0%, #4676bd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49a9d3), color-stop(100%,#4676bd));
    background: -webkit-linear-gradient(top, #49a9d3 0%,#4676bd 100%);
    background: -o-linear-gradient(top,  #49a9d3 0%,#4676bd 100%);
    background: -ms-linear-gradient(top,  #49a9d3 0%,#4676bd 100%);
    background: linear-gradient(to bottom,  #49a9d3 0%,#4676bd 100%);
    border: 1px solid #446ba9;
}
.ul_colors li.green a {
    background: #b9c869;
    background: -moz-linear-gradient(top,  #b9c869 0%, #8dae41 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9c869), color-stop(100%,#8dae41));
    background: -webkit-linear-gradient(top, #b9c869 0%,#8dae41 100%);
    background: -o-linear-gradient(top,  #b9c869 0%,#8dae41 100%);
    background: -ms-linear-gradient(top,  #b9c869 0%,#8dae41 100%);
    background: linear-gradient(to bottom,  #b9c869 0%,#8dae41 100%);
    border: 1px solid #799538;
}
.ul_colors li.turquoise a {
    background: #59b7b7;
    background: -moz-linear-gradient(top,  #59b7b7 0%, #3f9ca5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59b7b7), color-stop(100%,#3f9ca5));
    background: -webkit-linear-gradient(top, #59b7b7 0%,#3f9ca5 100%);
    background: -o-linear-gradient(top,  #59b7b7 0%,#3f9ca5 100%);
    background: -ms-linear-gradient(top,  #59b7b7 0%,#3f9ca5 100%);
    background: linear-gradient(to bottom,  #59b7b7 0%,#3f9ca5 100%);
    border: 1px solid #3e8f95;
}
.ul_colors li.asparagus a {
    background: #9ca46b;
    background: -moz-linear-gradient(top,  #9ca46b 0%, #778d48 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ca46b), color-stop(100%,#778d48));
    background: -webkit-linear-gradient(top, #9ca46b 0%,#778d48 100%);
    background: -o-linear-gradient(top,  #9ca46b 0%,#778d48 100%);
    background: -ms-linear-gradient(top,  #9ca46b 0%,#778d48 100%);
    background: linear-gradient(to bottom,  #9ca46b 0%,#778d48 100%);
    border: 1px solid #697c41;
}
.ul_colors li.emerald a {
    background: #92d590;
    background: -moz-linear-gradient(top,  #92d590 0%, #69ba75 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92d590), color-stop(100%,#69ba75));
    background: -webkit-linear-gradient(top, #92d590 0%,#69ba75 100%);
    background: -o-linear-gradient(top,  #92d590 0%,#69ba75 100%);
    background: -ms-linear-gradient(top,  #92d590 0%,#69ba75 100%);
    background: linear-gradient(to bottom,  #92d590 0%,#69ba75 100%);
    border: 1px solid #61a86c;
}
.ul_colors li.olive a {
    background: #79714c;
    background: -moz-linear-gradient(top,  #79714c 0%, #616332 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79714c), color-stop(100%,#616332));
    background: -webkit-linear-gradient(top, #79714c 0%,#616332 100%);
    background: -o-linear-gradient(top,  #79714c 0%,#616332 100%);
    background: -ms-linear-gradient(top,  #79714c 0%,#616332 100%);
    background: linear-gradient(to bottom,  #79714c 0%,#616332 100%);
    border: 1px solid #52552d;
}
.ul_colors li.brown a {
    background: #9d7d60;
    background: -moz-linear-gradient(top,  #9d7d60 0%, #83693a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9d7d60), color-stop(100%,#83693a));
    background: -webkit-linear-gradient(top, #9d7d60 0%,#83693a 100%);
    background: -o-linear-gradient(top,  #9d7d60 0%,#83693a 100%);
    background: -ms-linear-gradient(top,  #9d7d60 0%,#83693a 100%);
    background: linear-gradient(to bottom,  #9d7d60 0%,#83693a 100%);
    border: 1px solid #705a31;
}
.ul_colors li.orange a {
    background: #ffa14f; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa14f 0%, #ff7f00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa14f), color-stop(100%,#ff7f00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa14f 0%,#ff7f00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa14f 0%,#ff7f00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa14f 0%,#ff7f00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffa14f 0%,#ff7f00 100%); /* W3C */
    border: 1px solid #e57300;
}
.ul_colors li.yellow a {
    background: #ffe177;
    background: -moz-linear-gradient(top,  #ffe177 0%, #f7bf09 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe177), color-stop(100%,#f7bf09));
    background: -webkit-linear-gradient(top,  #ffe177 0%,#f7bf09 100%);
    background: -o-linear-gradient(top,  #ffe177 0%,#f7bf09 100%);
    background: -ms-linear-gradient(top,  #ffe177 0%,#f7bf09 100%);
    background: linear-gradient(to bottom,  #ffe177 0%,#f7bf09 100%);
    border: 1px solid #d8b538;
}


/* options float */
.options {
    z-index: 100;
    position: fixed;
    left: 0px; top: 100px;
    width: 210px;
    clear: both;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.options label {
    display: block;
    margin-right: 15px;
    font-size: 12px;
    line-height: 32px;
    cursor: pointer;
    color: #777;
}

.options label:hover {
    color: #333;
}

.options label input {
    float: left;
    margin-top: 9px;
    margin-right: 5px;
}

.options label input:checked + span {
    font-weight: bold;
    color: #333;
}

.options .toggler {
    position: absolute;
    right: -40px;
    top: 0px;
    width: 40px;
    height: 40px;
    background: #fff;
    padding: 10px 10px 10px 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.3);
    border-radius: 0 5px 5px 0;
}

.options .toggler i {
    font-size: 20px;
    color: #78b837;
    -webkit-transition: all 1s linear ;
    -moz-transition: all 1s linear ;
    -ms-transition: all 1s linear ;
    -o-transition: all 1s linear ;
    transition: all 1s linear ;
}

.options h3 {
    border-bottom: 1px dotted #333;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.options.opened .toggler i {
    color: #999;
}