.pricing_container.blue .pricing_title_block,
.pricing_container .pricing_item.blue .pricing_title_block {
    background: #49a9d3;
    background: -moz-linear-gradient(top,  #49a9d3 0%, #4676bd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49a9d3), color-stop(100%,#4676bd));
    background: -webkit-linear-gradient(top, #49a9d3 0%,#4676bd 100%);
    background: -o-linear-gradient(top,  #49a9d3 0%,#4676bd 100%);
    background: -ms-linear-gradient(top,  #49a9d3 0%,#4676bd 100%);
    background: linear-gradient(to bottom,  #49a9d3 0%,#4676bd 100%);
    border: 1px solid #446ba9;
}

.pricing_container.blue .pricing_title_block .name,
.pricing_container .pricing_item.blue .pricing_title_block .name {
    color: #324964;
}

.pricing_container.blue .pt_description,
.pricing_container .pricing_item.blue .pt_description {
    background: #b6d7e5;
    color: #3d6278;
}

.pricing_container.blue .button.pricing:hover,
.pricing_container .pricing_item.blue .button.pricing:hover {
    background: #4676bd;
    border: 1px solid #446ba9;
}