.pricing_container.olive .pricing_title_block,
.pricing_container .pricing_item.olive .pricing_title_block {
    background: #79714c;
    background: -moz-linear-gradient(top,  #79714c 0%, #616332 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79714c), color-stop(100%,#616332));
    background: -webkit-linear-gradient(top, #79714c 0%,#616332 100%);
    background: -o-linear-gradient(top,  #79714c 0%,#616332 100%);
    background: -ms-linear-gradient(top,  #79714c 0%,#616332 100%);
    background: linear-gradient(to bottom,  #79714c 0%,#616332 100%);
    border: 1px solid #52552d;
}

.pricing_container.olive .pricing_title_block .name,
.pricing_container .pricing_item.olive .pricing_title_block .name {
    color: #302d1f;
}

.pricing_container.olive .pt_description,
.pricing_container .pricing_item.olive .pt_description {
    background: #dfdbc3;
    color: #656239;
}

.pricing_container.olive .button.pricing:hover,
.pricing_container .pricing_item.olive .button.pricing:hover {
    background: #616332;
    border: 1px solid #52552d;
}