.pricing_container.yellow .pricing_title_block,
.pricing_container .pricing_item.yellow .pricing_title_block {
    background: #ffe177;
    background: -moz-linear-gradient(top,  #ffe177 0%, #f7bf09 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe177), color-stop(100%,#f7bf09));
    background: -webkit-linear-gradient(top,  #ffe177 0%,#f7bf09 100%);
    background: -o-linear-gradient(top,  #ffe177 0%,#f7bf09 100%);
    background: -ms-linear-gradient(top,  #ffe177 0%,#f7bf09 100%);
    background: linear-gradient(to bottom,  #ffe177 0%,#f7bf09 100%);
    border: 1px solid #d8b538;
}

.pricing_container.yellow .pricing_title_block .name,
.pricing_container .pricing_item.yellow .pricing_title_block .name {
    color: #8b460d;
}

.pricing_container.yellow .pt_description,
.pricing_container .pricing_item.yellow .pt_description {
    background: #ffedad;
    color: #87642b;
}

.pricing_container.yellow .button.pricing:hover,
.pricing_container .pricing_item.yellow .button.pricing:hover {
    background: #f7bf09;
    border: 1px solid #ffb22c;
}