.pricing_container.asparagus .pricing_title_block,
.pricing_container .pricing_item.asparagus .pricing_title_block {
    background: #9ca46b;
    background: -moz-linear-gradient(top,  #9ca46b 0%, #778d48 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ca46b), color-stop(100%,#778d48));
    background: -webkit-linear-gradient(top, #9ca46b 0%,#778d48 100%);
    background: -o-linear-gradient(top,  #9ca46b 0%,#778d48 100%);
    background: -ms-linear-gradient(top,  #9ca46b 0%,#778d48 100%);
    background: linear-gradient(to bottom,  #9ca46b 0%,#778d48 100%);
    border: 1px solid #697c41;
}

.pricing_container.asparagus .pricing_title_block .name,
.pricing_container .pricing_item.asparagus .pricing_title_block .name {
    color: #484d30;
}

.pricing_container.asparagus .pt_description,
.pricing_container .pricing_item.asparagus .pt_description {
    background: #dde1c7;
    color: #575a46;
}

.pricing_container.asparagus .button.pricing:hover,
.pricing_container .pricing_item.asparagus .button.pricing:hover {
    background: #778d48;
    border: 1px solid #697c41;
}