.pricing_container.turquoise .pricing_title_block,
.pricing_container .pricing_item.turquoise .pricing_title_block {
    background: #59b7b7;
    background: -moz-linear-gradient(top,  #59b7b7 0%, #3f9ca5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59b7b7), color-stop(100%,#3f9ca5));
    background: -webkit-linear-gradient(top, #59b7b7 0%,#3f9ca5 100%);
    background: -o-linear-gradient(top,  #59b7b7 0%,#3f9ca5 100%);
    background: -ms-linear-gradient(top,  #59b7b7 0%,#3f9ca5 100%);
    background: linear-gradient(to bottom,  #59b7b7 0%,#3f9ca5 100%);
    border: 1px solid #3e8f95;
}

.pricing_container.turquoise .pricing_title_block .name,
.pricing_container .pricing_item.turquoise .pricing_title_block .name {
    color: #2a5452;
}

.pricing_container.turquoise .pt_description,
.pricing_container .pricing_item.turquoise .pt_description {
    background: #b4cfce;
    color: #496667;
}

.pricing_container.turquoise .button.pricing:hover,
.pricing_container .pricing_item.turquoise .button.pricing:hover {
    background: #3f9ca5;
    border: 1px solid #3e8f95;
}