/*
 * Theme Name: Total
 * Description: Make the WP post editor look a bit nicer
 * Author: WPExplorer
 */

/*main*/
body#tinymce.wp-editor { margin: 20px; }
body#tinymce.wp-editor a { color: #3b86b0; }
body#tinymce.wp-editor hr { float: none; width: 100%; height: 40px; margin: 0; background: url("images/line.png") left bottom repeat-x; clear: both; outline: none; border: none;-webkit-margin-before: 0; -webkit-margin-after: 0; }
body#tinymce.wp-editor h2 { margin: 40px 0 20px; }
body#tinymce.wp-editor .thin-font { font-weight: 300 !important; }

/*pre tags*/
body#tinymce.wp-editor pre { position: relative; background: #f6f6f6; border: 1px solid #ddd; color: #555; font-size: 12px; margin: 30px 0px; padding: 20px; line-height: 1.7em; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; border-radius: 3px; box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.06); }

/*highlight*/
body#tinymce.wp-editor .text-highlight { background-image: url("images/base/highlight-left.png"),url("images/base/highlight-center.png"), url("images/base/highlight-right.png"); background-repeat: repeat-x;background-repeat: no-repeat, repeat-x, no-repeat;background-position: center;background-position: left,center,right;background-clip: padding-box, content-box, padding-box;color: #A5651A;padding: 0 20px; margin: 0 -6px; }

/*theme button*/
body#tinymce.wp-editor .theme-button {display: inline-block;background: #f3f3f3;background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#f4f4f4));background-image: -webkit-linear-gradient(top,#fefefe,#f4f4f4);background-image: -moz-linear-gradient(top,#fefefe,#f4f4f4);background-image: -o-linear-gradient(top,#fefefe,#f4f4f4);background-image: linear-gradient(to bottom,#fefefe,#f4f4f4);border: 1px solid #bbb;color: #333;text-shadow: 0 1px 0 #fff;border-radius: 4px;padding: 3px 8px;text-decoration: none !important; }

/*hr*/
body#tinymce.wp-editor hr { border: solid #e4e4e4; border-width: 1px 0 0; clear: both; margin: 40px 0; height: 0; }

/*fancy header*/
body#tinymce.wp-editor .theme-heading { color: #000; font-weight: 600; font-size: 14px; padding-bottom: 3px; border-bottom: 1px solid #e4e4e4; margin: 20px 0; }

/*color button*/
body#tinymce.wp-editor .color-button { padding: 0 15px; height: 34px; line-height: 34px; margin: 0 5px 5px 0; display: inline-block; font-size: 13px; color: #fff; border: 0; box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-shadow: 0 -1px rgba(0,0,0,0.4); outline: none; -webkit-appearance: none; -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5); -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 3px -1px rgba(45,60,72,0.5); border: 1px solid rgba(0,0,0,0.15); background-color: #3f90bd; text-decoration: none; }
body#tinymce.wp-editor .color-button:hover { text-decoration: none; text-decoration: none; opacity: 0.95; }
body#tinymce.wp-editor .color-button:active { box-shadow: 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1) inset; }
/*colors*/
body#tinymce.wp-editor .color-button.grey, body#tinymce.wp-editor .color-button.grey:hover { background-color: #bbb }
body#tinymce.wp-editor .color-button.black, body#tinymce.wp-editor .color-button.black:hover { background-color: #333 }
body#tinymce.wp-editor .color-button.blue, body#tinymce.wp-editor .color-button.blue:hover { background-color: #3f90bd }
body#tinymce.wp-editor .color-button.orange, body#tinymce.wp-editor .color-button.orange:hover { background-color: #ff6040 }
body#tinymce.wp-editor .color-button.gold, body#tinymce.wp-editor .color-button.gold:hover { background-color: #ffaa33 }
body#tinymce.wp-editor .color-button.green, body#tinymce.wp-editor .color-button.green:hover { background-color: #87bf17 }
body#tinymce.wp-editor .color-button.purple, body#tinymce.wp-editor .color-button.purple:hover { background-color: #a73df2 }
body#tinymce.wp-editor .color-button.teal, body#tinymce.wp-editor .color-button.teal:hover { background-color: #00b3b3 }
body#tinymce.wp-editor .color-button.pink, body#tinymce.wp-editor .color-button.pink:hover { background-color: #f261c2 }
body#tinymce.wp-editor .color-button.brown, body#tinymce.wp-editor .color-button.brown:hover { background-color: #804b35 }
body#tinymce.wp-editor .color-button.red, body#tinymce.wp-editor .color-button.red:hover { background-color: #F73936 }
body#tinymce.wp-editor .color-button.rosy, body#tinymce.wp-editor .color-button.rosy:hover { background-color: #EA2487 }
body#tinymce.wp-editor .color-button.white, body#tinymce.wp-editor .color-button.white:hover { background-color: #fff; color: #444; }