

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
.vc_row {
margin-left: -55px;
margin-right: -55px;
padding-top: 20px;
}
.calculator {
margin-left: -55px;
margin-right: -55px;
padding-top: 20px;
}
}

.side_menu_button {display: none !important;}

.contact_section {
text-align: center;
padding-top: 100px !important;
padding: 100px 0 55px !important;
}

#website_url {display: none !important;}