














.content{
	margin-top: 0;
}

.logo_wrapper,
.side_menu_button,
.shopping_cart_inner
{
	height: 40px;
}
.content.content_top_margin{
	margin-top: 40px !important;
}

header:not(.centered_logo) .header_fixed_right_area {
    line-height: 40px;
}

<!---->
<!--.drop_down .second,-->
<!--.drop_down .second.bellow_header-->
<!--{-->
<!--	top: --><!--px;-->
<!--}-->




        header.fixed_hiding .q_logo a,
        header.fixed_hiding .q_logo{
            max-height: 30.5px;
        }


nav.main_menu > ul > li > a{
	line-height: 40px;
}




























.google_map{
	height: 750px;
}


















	.vertical_menu_area{
		text-align:left;
	}

















