@import url(https://fonts.googleapis.com/css?family=Raleway);
#apiEnquiryForm {
	margin:0px;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	padding:15px;
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border-radius:5px;
	background:rgba(0, 107, 171, 0.5);
	color: #000000;
}

#apiEnquiryForm p {
	font: normal normal normal 14px / 5px "Minion Web", Helvetica, Arial, Verdana, sans-serif;
}

#apiEnquiryForm * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#apiEnquiryForm span.alcerror{
	display: block;
}

#apiEnquiryForm label {
	display: block;
	color: #000000;
}

#apiEnquiryForm label.radio {
	display: inline;
	padding-bottom: 5px;
}

#apiEnquiryForm input[type=text] , #apiEnquiryForm select , #apiEnquiryForm textarea  {
	width:100%;
	padding:5px;
	margin-top: 10px !importan;
	border-width: 1px;
	border-style: solid;
	border-color: #616161;
	background: #fff;
	font-size: 12px;
	font: normal normal normal 14px / 5px "Minion Web", Helvetica, Arial, Verdana, sans-serif;
	border-radius: 0 !important;
}

#apiEnquiryForm input.postCode{
	width:65%;
}

#apiEnquiryForm select.landLineNumberAreaCode{
	width:25%;
}

#apiEnquiryForm input.landLineNumber{
	width:70%;
	float:right;
}

#apiEnquiryForm select.state{
	width:30%;
}

#apiEnquiryForm textarea {
	height:50px;
}

#apiEnquiryForm input[type=button] {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #87e0fd), color-stop(1,  #05abe0) );
	background:-moz-linear-gradient( center top, #87e0fd 5%,  #05abe0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e0fd', endColorstr=' #05abe0');
	background-color:#6e9a1f;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
   	color: #ffffff !important;
   	font-size: 14px;
   	height: 43px;
   	line-height: 43px;
   	padding: 0px 66px;
   	border: 1px solid #05abe0;
   	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
   	box-sizing: content-box;
   	cursor: pointer;
   	font-weight: bold;
   	outline: 0 none;
   	overflow: hidden;
   	position: relative;
   	text-align: center;
   	text-shadow: 0 1px 0 #fff;
   	text-transform: uppercase;
}
#apiEnquiryForm input[type=button]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #05abe0), color-stop(1, #87e0fd) );
	background:-moz-linear-gradient( center top, #05abe0 5%, #87e0fd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#87e0fd');
	background-color:#468ccf;
}
#apiEnquiryForm input[type=button]:active {
	position:relative;
	top:1px;
}

/*
#apiEnquiryForm input[type=button] {
	background: #87e0fd;
	background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0));
	background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
   	color: #fff;
   	font-size: 14px;
   	height: 43px;
   	line-height: 43px;
   	padding: 0px 66px;
   	border: 1px solid rgba(0, 0, 0, 0);
   	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
   	box-sizing: content-box;
   	cursor: pointer;
   	font-weight: bold;
   	outline: 0 none;
   	overflow: hidden;
   	position: relative;
   	text-align: center;
   	text-shadow: 0 1px 0 #fff;
   	text-transform: uppercase;
}
*/
#apiEnquiryForm p.api-post-failed {
	color: red;
}

#apiEnquiryForm p.api-post-success {
}

@media (max-width: 220px) {
	#apiEnquiryForm select.state {
		width:40% !important;
	}
	#apiEnquiryForm input.postCode {
		width:55% !important;
	}
	#apiEnquiryForm select.landLineNumberAreaCode {
		width:30% !important;
	}
	#apiEnquiryForm input.landLineNumber {
		width:65% !important;
	}

}

@media (max-width: 166px) {
	#apiEnquiryForm select.landLineNumberAreaCode {
		width:100% !important;
	}
	#apiEnquiryForm input.landLineNumber {
		float:none !important;
		width:100% !important;
	}
	#apiEnquiryForm select.state {
		width:100% !important;
	}
	#apiEnquiryForm input.postCode {
		width:100% !important;
	}
}
