/*Common styles*/
body {
  	font: 12pt Georgia, "Times New Roman", Times, serif;
  	line-height: 1.3;
  }
  
  img {
  	max-width: 500px;
  }
  
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;

    -webkit-opacity: 1!important;
       -moz-opacity: 1!important;
            opacity: 1!important;
}
  a, section, article {
  	height: auto!important;
  	position: static!important;
  	overflow: auto!important;
  	visibility: visible!important;
  	width: auto!important;
  	float: none!important;
  }
  
  a {
  	color: #108ea5!important;
  	float: none!important;
  }
  	
  a[href]:after {
  	color: #e24444!important;
  }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 3cm 1.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .hide-on-print {
    display: none !important; }

  .print-only {
    display: block !important; }

  .hide-for-print {
    display: none !important; }

  .show-for-print {
    display: inherit !important; }
    
/*Favea styles*/
.caroufredsel_wrapper, .caroufredsel_wrapper * {
	height: auto!important;
	position: static!important;
	overflow: auto!important;
	width: auto!important;
}

iframe, object, embed {
	display: none!important;
}