@media only screen and (min-width: 1681px) {
	body {
		font-size: 17.21px;
	}
	
	.row {
		max-width: 68em;
	}
	
	.ef-boxed-ver .ef-wrapper {
		max-width: 69.769em;
	}

	#ef-portfolio .ef-portfolio-item {
		width: 25%;
	}
	
	.ef-carousel .ef-portfolio-item, .ef-team .ef-carousel .ef-carousel-item {
		width: 16.68em;
	}
	
	.ef-bloginfo li {
		background-position: left 0.125em;
	}
	
}

@media only screen and (max-width: 73.750em){ /* 1180px */
	.ef-boxed-ver #ef-top .ef-left-wrap {
		padding-left: 0.625em;
	}
	
	.ef-5-col-portfolio #ef-portfolio .ef-portfolio-item {
		width: 24.9%;
	}
	
}

@media only screen and (max-width:61.875em){ /* 990px */
	#to-top {
		display: none!important;
	}

	.ef-date-comment {
		margin-left: 0;
	}

	.ef-grid-blog .ef-date-comment {
		margin-left: -10px;
	}

	.top-bar-section ul li li:last-child {
		border-bottom: 0;
	}
}

@media only screen and (max-width: 58.7em) { /* 940px */

	.ef-boxed-ver #ef-container {
		padding: 0;
	}
	
	#ef-navbar.fixed {
		background-color: transparent;
	}
	
	.ef-navbar-wrapper {
		min-height: none!important;
	}
	
	.top-bar ul.title-area .name {
		margin-right: 5.000em;
	}
	
	.top-bar, .top-bar .name, .top-bar .toggle-topbar a, .top-bar .title-area {
		height: 67px;
		border: 0;
	}
	
	.top-bar .title-area .name a img {
		max-height: 35px;
	}
	
	.top-bar-section ul.top-bar-menu {
		margin-top: 0;
	}
	
	.top-bar .toggle-topbar.menu-icon {
		margin: 0;
		top: 1em;
		position: absolute;
		border: 0;
	}
	
	#ef-navbar.fixed, #ef-navbar, .admin-bar #ef-navbar.fixed {
		position: relative!important;
		top: 0;
	}
	
	.top-bar {
		margin-bottom: -1px!important;
	}
	
	.top-bar .name {
		padding-top: 1em!important;
	}
	
	.fixed .top-bar-section, .top-bar-section {
		padding-top: 0!important;
	}

	.top-bar a.button.ef-search-btn {
		float: none!important;
	}
	
	.top-bar-section li:first-child, .top-bar, .top-bar-section, .top-bar a.button.ef-search-btn, .top-bar-section ul.left li, .top-bar-section .has-form {
		margin: 0;
		padding: 0;
	}
	
	.top-bar-section ul li a:not(.ef-search-btn) {
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
			    border-radius: 0;
	}
	
	.top-bar-section .has-dropdown .dropdown {
		-webkit-box-shadow: transparent 0 0 0 0;
		-moz-box-shadow: transparent 0 0 0 0;
		box-shadow: transparent 0 0 0 0;
	}
	
	.top-bar-section ul ul a:not(.button) {
		font-size: 0.813em;
	}
	
	.top-bar-section ul li.has-dropdown > a:after  {
		font-size: 1.538em;
		font-weight: 400;
		content: '\002B';
		top: 50%;
		margin-top: -0.833em;
	}
	
	.top-bar-section li.active > a:not(.button) {
		border: 0!important;
	}

	.top-bar-section .dropdown {
		margin-left: 1px;
	}
	
	.top-bar-section ul li > a, .top-bar-section .dropdown li a {
		padding: 15px 0!important;
		line-height: 1em!important;
	}
	
	.top-bar-section li a:not(.button) {
		border: 0;
	}

	.top-bar .name h1, .top-bar .toggle-topbar a, .top-bar .name {
		line-height: 1em;
	}
	
	.top-bar ul.title-area .name {
		padding-top: 1em;
	}

	.top-bar-section ul li.divider {
		border-bottom: 1px solid #dbdbdb;
	}
	

	.top-bar-section .dropdown {
		margin-top: 0;
		-webkit-opacity: 1!important;
		        opacity: 1!important;
		        z-index: 1;
	}
	
	.top-bar-section ul li {
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
	
	.top-bar-section ul ul {
		-webkit-box-shadow:  0 0 0 0;	        
		        box-shadow:  0 0 0 0;
	}
	
	.top-bar.expanded .title-area {
		z-index: 2;
	}
	
	.top-bar.expanded .title-area {
		-webkit-box-shadow:  0px 2px 10px 0px rgba(0, 0, 0, 0.15);	        
		        box-shadow:  0px 2px 10px 0px rgba(0, 0, 0, 0.15);
	}
	
	.top-bar .toggle-topbar.menu-icon a span {
		-webkit-box-shadow: 0 10px 0 1px #303030, 0 16px 0 1px #303030, 0 22px 0 1px #303030;
				box-shadow: 0 10px 0 1px #303030, 0 16px 0 1px #303030, 0 22px 0 1px #303030;
	}
	
	.top-bar.expanded .toggle-topbar.menu-icon a span {
		color: #b4b4b4!important;
		-webkit-box-shadow: 0 10px 0 1px #b4b4b4, 0 16px 0 1px #b4b4b4, 0 22px 0 1px #b4b4b4;
				box-shadow: 0 10px 0 1px #b4b4b4, 0 16px 0 1px #b4b4b4, 0 22px 0 1px #b4b4b4;
	}
	
	.top-bar-section ul ul {
		border: 0!important;
	}
	
	.top-bar-section li.active a:not(.button), .top-bar-section li:hover a:not(.button) {
		border: 0;
	}
	
	.top-bar-section ul.left li {
		margin-right: 0;
	}
	
	.top-bar-section .has-form {
		padding: 0;
	}
	
	.top-bar-section .has-form li {
		padding: 15px 0;
	}
	
	a, .tp-bullets.simplebullets.round .bullet, .button, button, .ef-comments, .ui-accordion-header-icon, .ef-birdy, .ef-latest-works article *, #ef-portfolio article *, .tparrows, .tp-bullets, .ef-comments:after, .ef-team .ef-item-title, .ef-icon, .ef-icon:before, .ef-icon:after {	
		transition: none!important;
		-webkit-transition: none!important;
		-ms-transition: none!important;
		-o-transition: none!important;
	}
	
	.ef-latest-works .ef-proj-img img:hover, #ef-portfolio .ef-proj-img img:hover {
		-moz-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}
	
	.tp-bullets, .tp-bullets.hidebullets {
		bottom: 0!important;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"!important;
		-moz-opacity: 1!important;
		-webkit-opacity: 1!important;
		opacity: 1!important;
	}
	
	.ef-team .ef-item-title, .ef-team .ef-carousel-item:hover .ef-item-title {
		position: static;
		padding-left: 0;
		color: inherit;
	}
	
	.ef-team .ef-item-title {
		padding-top: 1em;
	}
	
	.ef-team .ef-carousel-item .ef-item-title {
		background: #fff!important;
	}
	
	#ef-portfolio .ef-portfolio-item, .ef-5-col-portfolio #ef-portfolio .ef-portfolio-item {
		width: 33.3%;
	}

	.ef-grid-blog .ef-post {
		width: 50%;
	}
	
	#ef-clients-carousel .ef-carousel-nav a#ef-prev1 {
		margin-left: -7px;
	}
	
	#ef-clients-carousel .ef-carousel-nav a#ef-next1 {
		margin-right: -7px;
	}
	
	.ef-portfolio-tags, .top-bar-menu li:after {
		display: none;
	}
}

@media only screen and (max-width: 48em) { /* 768px */
	
	.ef-services > .columns {
		height: auto!important;
	}
	
	#ef-top ul li.ef-soc-title {
		padding-bottom: 11px;	
	}
	
	.ef-services article {
		border: 0!important;	
	}
	
	#myModal {
		background-image: none;
	}
	
	.ef-twitter-widget .text-right, #ef-footer-bottom .columns, .ef-panel-inner *, .ef-breadcrumbs * {
		text-align: center!important;
	}
	
	.ef-map-pag .back-btn {
		border-bottom-width: 1px;
	}
	
	.ef-map-pag .fwd-btn {
		border-top-width: 1px;
	}
	
	#ef-portfolio .ef-portfolio-item, .ef-5-col-portfolio #ef-portfolio .ef-portfolio-item, .ef-3-col-portfolio #ef-portfolio .ef-portfolio-item {
		width: 49.9%;
	}
	
	.ef-bloginfo-comment.right {
		float: left!important;
	}
	
	.ef-from-blog-img {
		margin-top: 0.625em;
		margin-left: -2.313em;

	}
	
	.ef-post .ef-proj-img {
		margin-bottom: 0.625em;
	}
	
	.ef-post .ef-blog-s3-img {
		margin-bottom: 0.938em;
	}

	#ef-top #lang_sel, #ef-top nav, #ef-top #lang_sel li {
		float: none;
	}

	#ef-top #lang_sel, #ef-top .qtrans_language_chooser {
		margin-bottom: 5px;
		margin-right: 0;
		display: block;
	}

	#ef-top #lang_sel a.lang_sel_sel {
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	#ef-top #lang_sel li {
		width: auto;
	}

	.first-bar-menu.left, .ef-social-block.text-left.right, #ef-top .qtrans_language_chooser {
		float: none!important;
	}

	.ef-left-wrap nav, .ef-social-block, #ef-top .qtrans_language_chooser {
		display: inline-block;
		vertical-align: top
	}
}

@media only screen and (max-width: 30em) { /* 480px */	
	#ef-portfolio .ef-portfolio-item, .ef-5-col-portfolio #ef-portfolio .ef-portfolio-item, .ef-3-col-portfolio #ef-portfolio .ef-portfolio-item, .ef-grid-blog .ef-post {
		width: 100%;
	}

	.ef-grid-blog .ef-post {
		height: auto!important;
	}
	
}

@media only screen and (max-width: 20em) {
	.ef-post .ef-from-blog-img {
		width: 6.563em;
	}
}
