@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {	

	.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
		-webkit-background-size: 58px 29px;
		   -moz-background-size: 58px 29px;
		     -o-background-size: 58px 29px;
			    background-size: 58px 29px;
		background-image: url("../images/retina/accordion-icon-2x.png");
	}
	
	.widget_contact li.cont-adress, .widget_contact li.cont-email, .widget_contact li.cont-phone {
		-webkit-background-size: 13px 15px;
		   -moz-background-size: 13px 15px;
		     -o-background-size: 13px 15px;
			    background-size: 13px 15px;
	}
	
	.widget_contact li.cont-adress {		
		background-image: url("../images/retina/cont-addr-2x.png");
	}
	
	.widget_contact li.cont-email {
		background-image: url("../images/retina/cont-email-2x.png");
	}
	
	.widget_contact li.cont-phone {
		background-image: url("../images/retina/cont-phone-2x.png");
	}
	
	.ef-portfolio-tags:after, #ef-welcome {
		-webkit-background-size: 14px 4px;
		   -moz-background-size: 14px 4px;
		     -o-background-size: 14px 4px;
			    background-size: 14px 4px;
		background-image: url(../images/retina/portfolio-tags-arrow-2x.png);
	}
	
	.widget_recent_comments h6 span, .widget_contact h6 span, .widget_links h6 span {
		-webkit-background-size: 13px 13px;
		   -moz-background-size: 13px 13px;
		     -o-background-size: 13px 13px;
			    background-size: 13px 13px;
	}
	
	.widget_recent_comments h6 span {
		background-image: url('../images/retina/widget-icn-comments-2x.png');
	}
	
	.widget_contact h6 span {
		background-image: url('../images/retina/widget-icn-contact-2x.png');
	}
	
	.widget_links h6 span {
		background-image: url('../images/retina/widget-icn-links-2x.png');
	}

	.widget_contact {
		-webkit-background-size: 162px 80px;
		   -moz-background-size: 162px 80px;
		     -o-background-size: 162px 80px;
			    background-size: 162px 80px;
		background-image: url('../images/retina/widget-contact-bg-2x.gif');
	}
	
	.ef-bloginfo li, .widget_recent_comments h6 span, .widget_recent_entries li .post-date, .widget_recent_entries h6 span, .widget_tag_cloud h6 span, .ef-sidebar aside, .widget_categories h6 span {
		-webkit-background-size: 14px 14px;
		   -moz-background-size: 14px 14px;
		     -o-background-size: 14px 14px;
			    background-size: 14px 14px;
	}
	
	.ef-bloginfo-date, .widget_recent_entries li .post-date {		
		background-image: url("../images/retina/bloginfo-date-2x.png");
	}
	
	.ef-bloginfo-author {
		background-image: url("../images/retina/bloginfo-author-2x.png");
	}
	
	.ef-bloginfo-cat, .widget_categories h6 span {
		background-image: url("../images/retina/bloginfo-cat-2x.png");
	}

	.widget_categories h6 span {
		background-position: -1px -2px;
	}
	
	.ef-bloginfo-comment, .widget_recent_comments h6 span {
		background-image: url("../images/retina/bloginfo-comment-2x.png");
	}

	.widget_recent_comments h6 span {
		background-position: 0 -2px;
	}
	
	.ef-bloginfo-size  {
		background-image: url("../images/retina/bloginfo-size-2x.png");
	}

	.ef-bloginfo-post, .widget_recent_entries h6 span {
		background-image: url("../images/retina/bloginfo-post-2x.png");
	}

	.widget_tag_cloud h6 span {
		background-image: url("../images/retina/bloginfo-tag-2x.png");
	}

	.ef-sidebar aside {
		background-image: url("../images/retina/sidebar-corner-2x.png");
	}

}