/* See http://code.google.com/p/minify/wiki/CommonProblems#@imports_can_appear_in_invalid_locations_in_combined_CSS_files */
@media only screen and (min-width: 768px){}@media only screen and (max-width: 767px){}@import url(https://fonts.googleapis.com/css?family=OpenSans);#apiEnquiryForm{margin:0px;font-family:'Open Sans',OpenSans,sans-serif;font-size:12px;padding:15px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:5px;background:#f9b46e!important;color:#000}#top
label{font-size:16px !important}#apiEnquiryForm
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}#apiEnquiryForm
label{display:block}#apiEnquiryForm
label.radio{display:inline}#apiEnquiryForm input[type=text] , #apiEnquiryForm select , #apiEnquiryForm
textarea{width:100%;padding:5px;border-width:1px;border-style:solid;border-color:#616161;background:#fff;font-size:16px}#apiEnquiryForm
input.postCode{width:65%}#apiEnquiryForm
select.landLineNumberAreaCode{width:25%}#apiEnquiryForm
input.landLineNumber{width:70%;float:right}#apiEnquiryForm
select.state{width:30%}#apiEnquiryForm
textarea{height:50px}#apiEnquiryForm input[type=button]{-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;box-shadow:inset 0px 1px 0px 0px #bee2f9;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffe3bd), color-stop(1, #f05a1a) );background:-moz-linear-gradient( center top, #ffe3bd 5%, #f05a1a 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3bd', endColorstr='#f05a1a');background-color:#f05a1a;-webkit-border-top-left-radius:0px;-moz-border-radius-topleft:0px;border-top-left-radius:0px;-webkit-border-top-right-radius:0px;-moz-border-radius-topright:0px;border-top-right-radius:0px;-webkit-border-bottom-right-radius:0px;-moz-border-radius-bottomright:0px;border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;-moz-border-radius-bottomleft:0px;color:#fff !important;font-size:14px;height:43px;line-height:43px;padding:0px
66px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);box-sizing:content-box;cursor:pointer;outline:0
none;overflow:hidden;position:relative;text-align:center;text-transform:uppercase;border:1px;box-shadow:1px #AFAFAF}#apiEnquiryForm input[type=button]:hover{background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f05a1a), color-stop(1, #ffe3bd) );background:-moz-linear-gradient( center top, #f05a1a 5%, #ffe3bd 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05a1a', endColorstr='#ffe3bd');background-color:#35477}#apiEnquiryForm input[type=button]:active{position:relative;top:1px}#apiEnquiryForm input[type=button]{#apiEnquiryForm p.api-post-failed{color:red}#apiEnquiryForm p.api-post-success{}@media (max-width: 220px){#apiEnquiryForm
select.state{width:40% !important}#apiEnquiryForm
input.postCode{width:55% !important}#apiEnquiryForm
select.landLineNumberAreaCode{width:30% !important}#apiEnquiryForm
input.landLineNumber{width:65% !important}}@media (max-width: 166px){#apiEnquiryForm
select.landLineNumberAreaCode{width:100% !important}#apiEnquiryForm
input.landLineNumber{float:none !important;width:100% !important}#apiEnquiryForm
select.state{width:30% !important}#apiEnquiryForm
input.postCode{width:100% !important}}#website_url{display:none !important}