/*
Theme Name: Interest Rate Australia
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating wil be much easier then.
Version: 1.0
Author: Kriesi
Author URI: http://www.kriesi.at
Template: enfold
*/

/* pricing colours */

.pricing_container.blue .pricing_title_block,
.pricing_container .pricing_item.blue .pricing_title_block {
    background: #49a9d3;
    background: -moz-linear-gradient(top,  #49a9d3 0%, #4676bd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49a9d3), color-stop(100%,#4676bd));
    background: -webkit-linear-gradient(top, #49a9d3 0%,#4676bd 100%);
    background: -o-linear-gradient(top,  #49a9d3 0%,#4676bd 100%);
    background: -ms-linear-gradient(top,  #49a9d3 0%,#4676bd 100%);
    background: linear-gradient(to bottom,  #49a9d3 0%,#4676bd 100%);
    border: 1px solid #446ba9;
}

.pricing_container.blue .pricing_title_block .name,
.pricing_container .pricing_item.blue .pricing_title_block .name {
    color: #324964;
}

.pricing_container.blue .pt_description,
.pricing_container .pricing_item.blue .pt_description {
    background: #b6d7e5;
    color: #3d6278;
}

.pricing_container.blue .button.pricing:hover,
.pricing_container .pricing_item.blue .button.pricing:hover {
    background: #4676bd;
    border: 1px solid #446ba9;
}
#apiEnquiryForm {
  color: #fff !important;
  background-color: #28abe3 !important;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #0c3c51;
  padding: 25px;
    border-radius: 9px 9px 0 0!important;
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background: -moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -o-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: -ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
  background-color: #79bbff;
  border-bottom: 3px solid #333;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding-right: 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  background: rgba(0, 107, 171, 0.5);
  color: #000000;
  }
input {
  border: 1px solid #1783b1!important;
  padding: 8px 6px;
  outline: none;
    border-radius: 9px!important;
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #222), color-stop(1, #333));
  background: -moz-linear-gradient(top, #222 5%, #333 100%);
  background: -webkit-linear-gradient(top, #222 5%, #333 100%);
  background: -o-linear-gradient(top, #222 5%, #333 100%);
  background: -ms-linear-gradient(top, #222 5%, #333 100%);
  background: linear-gradient(to bottom, #222 5%, #333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#333',GradientType=0);
    background: linear-gradient(to bottom, #222 5%, #333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#333',GradientType=0);
  background-color: #333;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding-right: 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
input[type="button"] {
 text-shadow: none;
 border-radius: 2px!important;
 }
  